[2017-12-22 09:44] MrDupin commented on #672
Awesome, this is very much needed!

[2017-12-22 16:11] MrDupin commented on #671
Awesome, that is a great idea.

[2017-12-23 05:58] aswanipranjal opened #673 "Small typo in learning.ipynb"
Hello, all. I've been going through the notebooks to understand how the algorithms work. I noticed a small typo in the Gini impurity part in [learning.ipynb](https://github.com/aimacode/aima-python/blob/master/learning.ipynb) :
[code]
It should be:
[code]

Can I submit a PR correcting them?

Awesome job on the Repo, btw.
Thank you!

[2017-12-23 12:12] apb7 opened #674 "Placement of cell in search.ipynb"
@norvig and @MrDupin: The visualization cell of `uniform_cost_search` in `search.ipynb` has been misplaced under the 'A* Search' header instead of the 'Uniform Cost Search' header.
Shall I correct this with a PR?
Thanks!

[2017-12-23 16:54] MrDupin commented on #674
Yes, good catch.

[2017-12-23 16:56] MrDupin commented on #673
I think it should also have an 'a' before 'split'.

Yes, you can make the PR. Nice catch.

[2017-12-25 16:35] Dragneel7 commented on #671
@MrDupin I am following this "https://www.iasj.net/iasj?func=fulltext&aId=58405" research paper, it solves the problem using genetic algorithm but doesnot gives the step like(Up, left etc.) to achieve the result.
I have found a git repo that does the required but in "closure", I can try to implement it in python.
Do you have any suggestions that i can follow.
Thanks.

[2017-12-25 22:48] Dragneel7 commented on #671
@MrDupin I implemented the research paper but it didn't work. Should I still add the PR for future references or try something else.
I believe that 8-puzzle problem can also it be solved by A* approach which according to online search is a better and faster method for this problem.
So should I try for genetic algorithm or try implementing it with A* which already has an example in the notebook.

[2017-12-26 17:10] apb7 commented on #674
@norvig and @MrDupin: In `search.ipynb`, in the list under the header of 'Searching Algorithms Visualization', Best First Graph Search and Uniform Cost Search (Points 5. and 6.) have been placed before Depth Limited Search and Iterative Deepening Search (Points 7. and 8.). Since the list places Uninformed Search Algorithms before Informed Search Algorithms, should we interchange the order of the a

[2017-12-29 07:33] #673 closed

[2017-12-29 20:16] varunvora commented on #671
@Dragneel7  what heuristic function are you using? I also implemented it but there are many cases where we run into an infinite loop

[2017-12-29 20:19] Dragneel7 commented on #671
@varunvora i was using the manhatten distance, i believe that we should do it by A* search similar to the book and use it to explain the properties of heuristics.

[2017-12-30 13:39] valdecar commented on #671
Ok

On 29.12.2017 23:19, surya saini wrote:

[2018-01-01 09:59] apb7 commented on #671
Hello @Dragneel7!
Since you were working on the implementation and visualization of this problem in the notebook, I was planning to create a GUI for the same. Therefore I wanted to know how you were going about implementing it.
Thanks!

[2018-01-01 15:24] varunvora commented on #671
@Dragneel7  I used the same approach. It actually doesn't work. Because in solving the puzzle, a common strategy is to shift some pieces out of place, form a row and shift them back in. This is against the heuristic described.
I have the implementation how to book expects. But it doesn't always work. What to do?

[2018-01-01 21:41] MrDupin commented on #671
Hello @Dragneel7. When you say the algorithm fails, what do you mean? The algorithm is non-deterministic so it may fail occasionally. Since the code in this repository is purely for educational purposes, performance and accuracy may suffer a little. You can try using less puzzle pieces and see if that works better.

[2018-01-01 21:46] varunvora commented on #671
It fails on most cases. I recommend you solve the puzzle yourself if you haven't tried. As mentioned, a common strategy to solve is to displace pieces from their correct positions, make a row and push it back. This strategy is not accounted for by heuristics.
Following the heuristic, we end up with an unsolved configuration or an infinite loop almost all the time.
________________________________

[2018-01-01 22:14] MrDupin commented on #671
@varunvora: Are you talking about the genetic algorithm or the A* one?

[2018-01-02 23:17] Dragneel7 commented on #671
@apb7 I am planning to try an A* implementation, will it be compatible with the GUI you are designing

[2018-01-03 16:14] apb7 commented on #674
Since this issue has been addressed with PR #670, I am closing it.
Thanks @norvig and @MrDupin!

[2018-01-03 16:14] #674 closed

[2018-01-03 16:42] apb7 opened #678 "Repetition of best_first_graph_search function in search.ipynb"
@norvig and @MrDupin: In `search.ipynb`, to implement the visualization of Uniform Cost Search and A* -Search, the `best_first_graph_search` function has been written twice - first for the visualization of Uniform Cost Search and then for A* - Seach.
We can use the same function for both the Uniform Cost Search as well as the A* - Search since both searches differ with respect to the heuristic est

[2018-01-10 13:38] the-ethan-hunt commented on #632
@MrDupin @Chipe1 Hello! I read about aimacode's [idea list page](http://norvig.com/gsoc-ideas.html) specifically the possible documentation of packages like NLTK. I am an NLP enthusiast and a GSoC'18 aspirant. Any leads I need to follow to help with the idea? :smile:

[2018-01-10 15:11] MrDupin commented on #632
This is something I was also interested in, but it was decided that at least for the summer we would not be adding external libraries such as Tensorflow or NLTK. In the future though this will possibly change, so only @norvig can tell as when we can star adding these libraries.

[2018-01-10 19:13] aswanipranjal opened #682 "Adding to learning.ipynb"
Hello @norvig and @MrDupin, currently the Decision Tree Learner part in `learning.ipynb` does not contain any examples of how the algorithm works. There aren't any applications of the Decision Tree Learner in `learning_apps.ipynb` either. I was thinking that maybe to better describe the Decision Tree part, we could add a sample example of how it will perform with iris dataset and what it may learn

[2018-01-10 19:34] MrDupin commented on #682
I like this idea, especially since the `networkx` library is something already used in the repository. Sounds good!

[2018-01-10 19:59] apb7 commented on #678
Hello @MrDupin! Shall I close this if it seems to be a trivial issue?
Sorry for the inconvenience caused! Thanks!

[2018-01-10 21:29] MrDupin commented on #678
Sorry it took so long to respond. Yes, removing any repetition would be great. You can use the auxiliary file [`notebook.py`](https://github.com/aimacode/aima-python/blob/master/notebook.py) to store the function. (`notebook.py` is used to store code that the reader doesn't need to see - for example visualization code)

[2018-01-11 02:54] norvig commented on #682
That would be great!

[2018-01-11 10:53] sagarvijaygupta commented on #672
Hello @MrDupin and @apb7  Simulated_annealing, genetic algorithms can be much better visualized if we try it on Traveling Salesman Problem. I would love to create a visual demonstration on this.

[2018-01-11 19:09] aswanipranjal commented on #682
Hey @MrDupin, There has been a mistake from my side. I didn't realise but the graph that I am generating also uses `pygraphviz` which in turn uses `graphviz`.
Another mistake was that I didn't notice, but in [the graph](https://github.com/aswanipranjal/aima-python/blob/decision-tree-test/DecisionTreeLearner%20Test.ipynb) for the iris dataset, the branches for **Sepal Length** and **Sepal Width** h

[2018-01-11 20:24] MrDupin commented on #682
Hmm, I suggest you make the simple PR of adding examples for the Decision Tree Learner and open an issue for adding graphviz in the dependencies, and take it from there.

[2018-01-12 09:58] sagarvijaygupta opened #687 "Traveling Salesman Problem"
@MrDupin There is no visualization anywhere for **simulated annealing** and **genetic algorithms** which can be demonstrated on Traveling Salesman Problem. I would like to work on it.

[2018-01-12 14:13] MrDupin commented on #687
Sure, nice idea!

[2018-01-12 14:35] apb7 opened #688 "Error loading search.ipynb"
On opening search.ipynb, the following error occurs:

![screenshot-localhost-8888-2018-01-11-10-30-03-094](https://user-images.githubusercontent.com/24826041/34879544-9a03d4e2-f7d3-11e7-9fd1-912a62f7e9fb.png)

[2018-01-12 16:26] apb7 commented on #659
Hello @norvig and @MrDupin! We can add Tkinter GUI for Vacuum Agent problem with multiple options for various agents like Random, Table-Driven, Reflex and Model-Based (as stated in `agents.py`) in the same GUI. Presently `search.ipynb` has visualization for Blind Dog problem. In this way, we'll cover visualizations for both of them.
I would love to take this up!
Thanks!

[2018-01-12 16:40] MrDupin commented on #659
Sure, go ahead.

[2018-01-12 21:49] sagarvijaygupta commented on #687
@MrDupin I implemented visualization of **simulated annealing** and it is **working fine**. Iteratively running simulated annealing, provided with the last found best path as start state, is giving good visual demonstration but to show **`two_opt` neighbors** I will have to create a copy of the `simulated_annealing` part as the present code just provides with the final output state, which will res

[2018-01-13 00:12] MrDupin commented on #687
Hmmm, if you want to add a revised `simulated_annealing` code to the notebook (essentially replacing the `search.py` code), you can definitely do so (as long as it is only for the notebook).

Maybe you can change the name a bit to show the differentiation. I believe you want the function to return not only the final state, but also the states in between? If so, you could name the new function some

[2018-01-13 05:45] sagarvijaygupta commented on #687
@MrDupin yeah I wanted different states in between so I just created `simulated_annealing2` in the file `TSP.py`without changing `search.py` in my last pull request. Should I change it the way you mentioned?

[2018-01-13 13:31] MrDupin commented on #687
I think having it `simulated_annealing_full` is a better name, since it gives a little bit more information. With just numbering people might forget which function is which, but with 'full' I doubt they will have the same problem.

Also, why do you create a separate file? You can simply write the function in a notebook cell, to keep things clean.

[2018-01-13 15:34] sagarvijaygupta commented on #687
@MrDupin I will add the visualization to the `search.ipynb` with the changed name. I initially added the file into the GUI folder.

[2018-01-13 15:47] MrDupin commented on #687
The gui folder is only for tkinter applications. If you use tkinter for TSP, you can add it there, no problem. But if you want the visualization to go only on the notebook, the file is not needed. It depends on what you want to do:

* Using tkinter? Put it on the gui folder, as you did.
* Visualization on the notebook? Put the function code in a notebook cell.

[2018-01-13 16:10] sagarvijaygupta commented on #687
@MrDupin I will try to implement both. It would nice experience on GUI with python. But firstly I will implement it on notebook.

[2018-01-13 16:14] MrDupin commented on #687
Awesome, thanks!

[2018-01-14 09:44] DheerajMalisetty commented on #662
I have fixed both typo bugs. But, I am getting an error
![screenshot from 2018-01-14 15-13-12](https://user-images.githubusercontent.com/32234121/34914691-a4bb431e-f93d-11e7-8cea-1ff28c97d771.png)

[2018-01-14 09:45] DheerajMalisetty commented on #662
Is it a problem.
Thanks

[2018-01-14 13:30] MrDupin commented on #662
Closing and reopening your PR might fix this.

[2018-01-14 16:46] apb7 commented on #659
Hello @norvig and @MrDupin! I have implemented one-dimensional vacuum environment (with 2 tiles) where the user has the option to put `dirt` or `clean` a tile, using Tkinter. The GUI currently uses `ReflexVacuumAgent` and can be expanded to other agents as the GUI Environment is independent of the agent. I have pushed the changes to the [gui](https://github.com/apb7/aima-python/tree/gui) branch.
A

[2018-01-14 21:38] MrDupin commented on #659
This looks great, nice work!

When you say the user has the option to put dirt on a tile, do you mean the user can, with a tile-click, turn the tile into 'D'? If yes, can this be expanded to the user creating environments on their own (by also adding walls)? This would be very interesting.

[2018-01-15 02:12] apb7 commented on #659
Yes, the user will be able to change the environment at any point of time by creating walls, dirt or leaving the tiles clean!

[2018-01-15 02:40] MrDupin commented on #659
This is great, nice work!

If you haven't implemented it already, I would suggest making the outer walls read-only, so that the algorithm will not have to check for boundaries.

[2018-01-15 02:51] apb7 commented on #659
Thank you @MrDupin! I will incorporate this suggestion for sure!

[2018-01-15 05:53] DheerajMalisetty commented on #662
Ok sir. But, Is the pull request sent by me will be closed or merged?

[2018-01-15 13:34] MrDupin commented on #662
Closing and reopening a PR simply restarts the testing suite. It is up to Mr. Norvig to merge or reject the PR.

[2018-01-16 11:04] aswanipranjal commented on #641
Hey @Chipe1, can i start working on adding the example for RandomForest to `learning.ipynb`?

[2018-01-17 15:20] nvinayvarma189 commented on #688
I think somebody has got merge conflicts in the file - those <<< and === and >>> lines are how git shows its merge conflicts. To make it valid, clearing the merge conflicts.

[code]

and also remove the lines having  '<<<<<< HEAD',  '=======',  '>>>>>>> a1f5acbaa00bc1b1e5fc3532ba19a013a271542c'. Those are the git conflict makers.

and then [nbdime](http://nbdime.readthedocs.io/en/stable/) can be u

[2018-01-17 16:17] apb7 commented on #688
Hello  @nvinayvarma189! Thanks for the help! But I think this issue has been resolved with PR #689 (though the PR hasn't been merged yet).
Thanks!

[2018-01-17 16:52] nvinayvarma189 commented on #688
Oh sorry, I did not look at it. Thanks for letting me know.

[2018-01-17 19:05] apb7 commented on #659
Hello @norvig and @MrDupin! I have pushed the XYEnvironment to the [gui](https://github.com/apb7/aima-python/tree/gui) branch. The user can create the environment as required by clicking the tiles. Please feel free to suggest further improvements.
Thanks!

[2018-01-20 12:19] Dragneel7 opened #695 "Add hill climb search example to search.ipynb"
The following algorithm has not been implemented in the search.ipynb notebook. We can add this example by using a self created or some well suited data set, visualize the data set with a line graph thus showng local and global maxima's.
Show the result visually after the algorithm is run.
@MrDupin Should I implement it?

[2018-01-20 13:42] MrDupin commented on #695
Sure, sounds good.

[2018-01-22 06:34] nvinayvarma189 commented on #688
Hey @apb7 I find the PR for this issue is still not merged. I see all the checks have passed but, is there any problem still not solved ?

[2018-01-22 06:44] apb7 commented on #688
Hi @nvinayvarma189! The PR will be merged by @norvig.
Thanks!

[2018-01-22 08:02] #682 closed

[2018-01-23 15:04] Dragneel7 commented on #695
@norvig  I am planning to use the cipher example from your work to illustrate hill climb search, I hope it won't be a problem.

[2018-01-23 15:40] MrDupin commented on #695
@Dragneel7, sure, go ahead!

[2018-01-24 05:56] ad71 opened #696 "Improved explanation of genetic algorithms using an example"
I made an [example](https://github.com/ad71/aima-python/blob/master/search.ipynb) in the search.ipynb notebook explaining the intuition behind genetic algorithms and how the existing functions in search.py can be understood and used for other problems, as the current notebook didn't explain the functions well. It is a simple phrase generation problem. I have tried my best to explain step-by-step h

[2018-01-24 06:33] apb7 commented on #696
Hello @ad71! We prefer not to use third party libraries and make the code as independent as possible. For implementing the GUI, you have used Pygame. Can you instead use Tkinter which comes bundled up with Python 3?
Thanks!

[2018-01-25 08:11] ad71 commented on #696
@apb7 thanks for the reply! I have no experience with Tkinter, but I can sure give it a try as the program itself is pretty straightforward. But before I start working, I need to know if this will be a useful contribution or should I start working on something else?

[2018-01-25 08:15] apb7 commented on #696
@ad71: I think @norvig and @MrDupin will be able to help you out here.
Thanks!

[2018-01-25 16:36] MrDupin commented on #696
The explanation is a nice addition to the notebook, but I agree that using pygame is not that great. If you could do it in Tkinter, it would be awesome.

[2018-01-26 03:37] ad71 commented on #696
Sure! I'm on it.

[2018-01-26 10:31] Rishav1 opened #700 "In search-4e.ipynb, code block [39] compare_searchers(p) fails."
Possible cause is no super initialization of OrderedDict in class FrontierQ(OrderedDict).

The error thrown is:
![image](https://user-images.githubusercontent.com/9868364/35435809-1647342a-02b2-11e8-9742-9467687318e0.png)

[2018-01-26 15:54] sagarvijaygupta commented on #687
@MrDupin Should I close this issue? As what was planned has been implemented in the last commit.

[2018-01-26 16:40] MrDupin commented on #687
@sagarvijaygupta Yes. It's better to keep the Issues clean.

[2018-01-26 19:41] sagarvijaygupta commented on #687
Thanks!

[2018-01-26 19:41] #687 closed

[2018-01-27 20:19] nvinayvarma189 commented on #555
Hey @MrDupin . I think this algorithm is not implemented yet. I want to work on this issue. I'm stuck at point on how to fit this algorithm in the `probability.py` module. So can you please help me out?

[2018-01-27 21:06] MrDupin commented on #555
@nvinayvarma189: What is the issue you are having? I am not familiar with the algorithm, but I assume it can be created as a function in the file. There are also quite a lot of probability functions already implemented in `utils` and `probability`, so I suggest you check those any time you need to implement something new. You might find something useful this way.

[2018-01-28 10:14] ad71 commented on #696
I have converted the example to tkinter. [This](https://github.com/ad71/aima-python/blob/master/gui/genetic_algorithm_example.py) is the final GUI version, and [this](https://github.com/ad71/aima-python/blob/master/search.ipynb) is the final python notebook. Should I submit a PR?

[2018-01-29 08:34] #700 closed

[2018-01-29 17:15] Dragneel7 opened #703 "Add tests for Zebra Problem and Nqueens Problem in test_csp.py"
Currently there are no tests written for the two algorithms that have been implemented in the file csp.py .
@MrDupin Should we add the tests for these two algorithms.
Thanks.

[2018-01-29 20:51] MrDupin commented on #703
Sure, go ahead. Make sure though the tests don't take too long to run.

[2018-01-30 19:04] nvinayvarma189 commented on #555
@MrDupin Do I have to implement a separate decision network class and then implement information gathering agent as a function?

[2018-01-31 21:01] AdityaDaflapurkar opened #705 "Implementing a stochastic game example(Backgammon) in games.py"
The Expectiminimax algorithm from the chapter 'Adversarial Search'(section : stochastic games) is not implemented in games.py. Also, it is not added to the list of algorithms. Should I work on it's implementation?

[2018-02-01 20:21] MrDupin commented on #555
@nvinayvarma189 : I am afraid I don't know enough about the particular agent to give you a specific answer. I would say though that it depends. If you want to use the agent as an object (Create agent given parameters, Give input to agent, Get output) a class is more fitting. If you want to directly get the results (Run agent-function given parameters and input and return results), a function will

[2018-02-01 20:25] MrDupin commented on #696
Yes, you should submit a PR. Nice work!

[2018-02-02 14:20] nvinayvarma189 opened #707 "Add Best First Search example to search.ipynb"
I would like to add the example to the search notebook

[2018-02-02 15:26] MrDupin commented on #707
Awesome! Don't forget to add the section to the notebook contents and you are golden.

[2018-02-05 03:22] PeterDrake opened #709 "EightPuzzle move list is wrong"
On line 425 of search.py:

move = {0:[1,3], 1:[0,2,4], 2:[1,5], 3:[0,6,4], 4:[1,3,5,7], 5:[2,4,8], 6:[3,7], 7:[6,8], 8:[7,5]}

Position 7 (bottom center) should have three neighbors, not two; the missing one is 4.

[2018-02-05 03:24] PeterDrake opened #710 "EightPuzzle code is not consistent with rest of search.py"
The various search algorithms seem to want problems to be defined as subclasses of Problem,
but EightPuzzle is some kind of odd stand-alone section with its own solve method.

It also immediately follows a comment "A* heuristics", but there are no heuristics specified.

[2018-02-05 03:27] PeterDrake opened #711 "NQueensProblem doesn't work with search methods"
If I `import search` and then
[code]
I get:
[code]
In order to work with the various search algorithms, the states have to be tuples, not mutable lists.

[2018-02-05 19:57] nvinayvarma189 opened #712 "Add DLS and IDS to search notebook"
I would like to add the examples for depth limited search and Iterative deepening search.

[2018-02-06 10:45] ad71 opened #713 "Grid MDP editor"
I would like to work on a GUI application to create, edit and solve grid world problems (an application of markov decision processes) and enhance the mdp notebook with example problems.

[2018-02-06 20:42] #696 closed

[2018-02-07 13:06] nvinayvarma189 opened #714 "improve search.ipynb"
Hey  @MrDupin , @norvig . I found that I actually implemented greedy best first search algo in my PR #708. So I want to make changes and make it greedy best first search algo and as all the uniform cost search, greedy best first search, a* algos use best first search algo, I would like to remove the repetition of best first algo in the search.ipynb (repeated thrice).
I would also like to add some

[2018-02-07 18:50] ad71 commented on #709
Yes sir, you are right. I have submitted a patch.

[2018-02-08 05:12] ad71 commented on #705
As far as I know, expectiminimax is not an algorithm. It is a (mathematical) function that "generalizes the minimax value for deterministic games to an expectiminimax value for stochastic games". It is something like a heuristic for stochastic games and (as far as I know) isn't used by the currently implemented algorithms in games.py
Correct me if I'm wrong.

[2018-02-08 18:16] AdityaDaflapurkar commented on #705
Yes, you are right @ad71 . It is not an independent algorithm but just a variant of minimax algorithm for stochastic games. Currently there isn't any implementation for a stochastic game in games.py. Thus Expectiminimax is not used anywhere. @MrDupin ,will it be good if I try implementing a stochastic game(Backgameon) in games.py? I will update this issue accordingly.

[2018-02-08 21:42] MrDupin commented on #705
Sure, sounds good!

[2018-02-08 21:46] MrDupin commented on #714
Sounds good. I think the `search` notebook needs an overhaul in general. I will probably create an issue about this next week, but I think the notebook suffers from a lot of repetition and lack of proper structure. If you could cut down on the repetition, it would be great.

Don't forget that you can use `notebook.py` to store notebook code that the reads don't really need to see (for example, vis

[2018-02-09 03:05] apb7 commented on #714
Hello @MrDupin, I had already created an issue regarding the repetition problem #678. I think we can work on that.
Thanks!

[2018-02-09 03:05] #688 closed

[2018-02-09 13:39] MrDupin commented on #714
@apb7: Ah yeah, I forgot. Great then, I think cleaning up the `search` notebook is top priority, so that we can more easily move in the future.

[2018-02-09 14:11] apb7 commented on #714
@MrDupin: I think this issue has been fixed in PR #716. We should close it.
Thanks!

[2018-02-09 19:06] apb7 opened #720 "Adding and Explaining Vacuum Agents"
Hello @norvig and @MrDupin! Currently, we do not have an implementation and visualization of `vacuum agents` in `agents.ipynb`.
I am planning to add and show the working of all the vacuum agents we have in `agents.py`: Random-Vacuum-Agent, Model-Based-Vacuum-Agent, Table-Driven-Vacuum-Agent, Table-Driven-Agent, Reflex-Vacuum-Agent, Simple-Reflex-Agent and Model-Based-Reflex-Agent. I will also focu

[2018-02-10 05:56] #714 closed

[2018-02-10 09:07] #678 closed

[2018-02-11 16:55] apb7 opened #723 "Add Simple Problem Solving Agent to search.ipynb"
Hello @norvig and @MrDupin!
We can add the `SimpleProblemSolvingAgent` to `search.ipynb` using `psource` and explain each method of the class in a similar way as the `Problem` class.
I would like to work on this.
Thanks!

[2018-02-11 23:23] BraveNewPumpkin commented on #711
same issue. Please make NQueensProblem or NQueensCSP work with astar_search, forward_checking, etc.

[2018-02-12 09:50] #713 closed

[2018-02-12 09:52] #720 closed

[2018-02-12 09:53] #723 closed

[2018-02-13 04:25] SasankYadati commented on #710
Hello, I would like to take this up. I previously wrote code for 8puzzle using A* Search and I think I can work on this. Thank you.

[2018-02-13 07:33] ad71 commented on #711
I have submitted a patch and NQueensProblem will now be compatible with `graph_search`, `depth_first_graph_search`, `breadth_first_search`, `best_first_graph_search`, `uniform_cost_search` and `astar_search`. Sorry for the inconvenience.

[2018-02-13 10:43] aswanipranjal opened #728 "Add examples and tests for AdaBoost algorithm"
Hey @norvig, @MrDupin: currently, the `learning.ipynb` notebook lacks an example for **ensemble learning**. Since the `perceptron` classifier gives an accuracy of almost 68.8% (not a weak learner though) on the **iris** dataset, I was thinking that maybe we can use it to add an example for **AdaBoost algorithm** and show how it works. We can also add code for **decision stump**, but since its pseu

[2018-02-13 13:08] MrDupin commented on #728
Since the Perceptron is an algorithm pretty much everyone learns when studying machine learning, I think using it as an example is for the best. It is simple and easy to use, so I would personally go with it.

Adding tests is great.

[2018-02-13 13:57] apb7 opened #731 "Add table and tests for Table Driven Vacuum Agent"
Hello, @norvig and @MrDupin! Currently, we have tests for `RandomVacuumAgent`, `ReflexVacuumAgent` and `ModelBasedVacuumAgent`. I would like to add a test for `TableDrivenVacuumAgent` as well.
Also, the table for the `TableDrivenVacuumAgent` is not complete. We need to implement it before the test goes in.
Thanks!

[2018-02-13 15:57] SasankYadati commented on #710
@PeterDrake The heuristics used by A* Search algorithm really depend on the problem (environment) right? So we can't really have single heuristic function that works. I think a default heuristic should be part of the EightPuzzle class and there should be an option for the user to pass his own heuristic function.

[2018-02-13 17:16] PeterDrake commented on #710
I think heuristics should be stand-alone functions, as one might try more than one heuristic for a given problem (e.g., misplaced tiles or Manhattan distance for the 8-puzzle).

[2018-02-13 17:23] SasankYadati commented on #710
Hmm. But we cannot use misplaced tiles or Manhattan distance in many other problems, right? What if we have one heuristic for each problem (if applicable) and also provide a way for the users to have their own heuristics? I rewrote the EightPuzzle class. It is now derived from Problem class. I have defined heuristic function as the number of misplaced tiles in a given state.

[2018-02-13 17:40] PeterDrake commented on #710
Providing a default and allowing users to specify their own sounds reasonable. Perhaps it would be good to include one (Manhattan) as an example? It could be given a name indicating that it's only applicable for the 8-puzzle. (I suppose, if written properly, it would also work for the 15-puzzle.)

[2018-02-13 17:49] SasankYadati commented on #710
Perfect. I just made a pr with the same changes. However, I used number of misplaced tiles as the default heuristic function.

[2018-02-14 09:52] adityaXXX opened #735 "Add examples and tests for Cross-Validation algorithm"
Hey @norvig, @MrDupin: currently, the learning.ipynb notebook does not have examples of cross-validation. We can include cross-validation (for example) to perceptron classifier to show how its accuracy can be further increased and similarly for some of the other machine learning classifiers. We can also include code for GridSearchCV and then also for RandomSearchCV to show how it is computationall

[2018-02-14 10:20] MrDupin commented on #735
About cross-validation, I am not sure at this stage we can do much with the code, unless we rewrite the function. See [this](https://github.com/aimacode/aima-pseudocode/issues/55).

I have not heard of `GridSearchCV` before, it's a learning algorithm, right? If it is not in the book, I am not sure whether it should to be added the repository or not. I would only add it if it doesn't need much code

[2018-02-14 11:06] adityaXXX commented on #735
So can I add tests for Cross-Validation and include its notebook section i.e provide its examples of use in the notebook?

[2018-02-14 13:54] ad71 commented on #735
@MrDupin `GridSearchCV` and `RandomSearchCV` are methods that find optimal hyperparameters to use with learning algorithms by iterating through different sets of hyperparameters and measuring the performance of the learning algorithm at each step.
@adityaXXX as these are functions from the Scikit-Learn library and not from the book, it is advisable not to replicate them in this repository. The cro

[2018-02-14 16:51] nvinayvarma189 commented on #712
@MrDupin  is it advisable to implement these algo's in the romania map or adding a tree visualisation is needed(in the book the algo's are explained with trees without loops). Can you help me in this.
Thanks.

[2018-02-14 17:27] MrDupin commented on #712
Since the Romanian map is the one heavily used in the book and examples, I suggest you run the algorithms on that. If possible, it would be really useful to visualize the intermediate steps.

[2018-02-14 18:52] adityaXXX commented on #735
So can I work on this and add test for the same @MrDupin ? @ad71 ?

[2018-02-14 18:57] MrDupin commented on #735
On the Cross-Validation, you can go right ahead. I wouldn't do the GridSearchCV stuff just yet though, @norvig needs to weigh in on this too.

On Cross Validation, just use the code that is already in place. Don't change the learners or the function, since they are all in accordance to the pseudocode. You will find that it is a bit difficult to use cross-validation in its current state, because of

[2018-02-15 05:37] apb7 opened #741 "Add Learning Agent to vacuum_world.ipynb"
Hello, @norvig and @MrDupin! Currently, `vacuum_world.ipynb` discusses all the basic kinds of agent programs that embody the principles underlying almost all intelligent systems.
I am planning to add an explanation and a schematic diagram of the learning agent in `vacuum_world.ipynb` as well.
Please suggest.
Thanks!

[2018-02-15 13:53] MrDupin commented on #741
I am not familiar with `agents.py`, does the learning agent have an implementation? I didn't find something. Also, can a learning agent be found in the book? If not, maybe you can implement the agent only in the notebook.

[2018-02-15 13:56] apb7 commented on #741
@MrDupin: Learning agent is given in the book as a `general learning agent`. It does not have an implementation in `agents.py`. I have added it to the notebook in PR #742.
Thanks!

[2018-02-15 18:10] roberthoenig opened #744 "test_neural_network_learner() fails on initial test suite run."
After following the instructions to set up this repo, I ran py.test for the first time, with the following output:
[code]

All subsequent executions of the test suite passed completely, making this appear like a rare nondeterministic failure. If so, it must be extraordinarily rare, since
[code]
passed without a single failure. Print-debugging `test_neural_network_learner()` showed me that the norm

[2018-02-15 18:23] MrDupin commented on #744
Hello! You are correct in saying this was a rare occurrence.

I'm afraid this is something we can't fix that easily. Unfortunately Travis, the software we use to automate testing, doesn't support setting the `random.seed` variable (or, at least, I don't know how to do it). So we are stuck trying to balance the threshold.

In this case, 2.06 is close to 2, so I just increased the threshold to 2.1 i

[2018-02-15 18:26] roberthoenig commented on #744
Huh, the Travis limitation is interesting. I'm also still baffled by the fact that this occured on the very first run and the first run only.
Thanks for the quick fix!

[2018-02-15 18:29] MrDupin commented on #744
It is a bit weird that it happened on your first run, but I think it's just the stars aligning in this special way more than anything else. :)

[2018-02-16 06:37] alpha721 commented on #632
@MrDupin @Chipe1 @norvig I am interested in contributing to aima-python as a gsoc 2018 aspirant. I have gone through the project ideas list and decided to contribute to "Project 1: Finish aima-python algorithms and add explanatory notebooks". I have set up the repository and gone through contributing guidelines.
I would be really thankful if you could provide any suggestions on high to get started

[2018-02-16 06:46] alpha721 commented on #632
I have a few queries in general:
i) When is the right time to mail the mentors regarding the project?
ii)Should I just pick a few issues and get started on them, or is there any other procedure to follow?
iii) Are contributions to aima-python only criteria for application consideration or does other relevant work matter too?
I would really appreciate if you could give a perspective on how things w

[2018-02-16 11:48] roberthoenig opened #748 "Missing tests for TableDrivenAgent."
There are no existing tests for `TableDrivenAgentProgram`. While tests for `TableDrivenVacuumAgent` (which inherits from TDAP) are in progress, it's always a good idea to add additional tests for a specific module.

I"ll use this issue to assign myself for adding tests for `TableDrivenAgentProgram` and track the progress.

[2018-02-16 13:05] MrDupin commented on #632
Hello @alpha721!

i) I am not sure, I am only a student. :)

ii) There are some contribution ideas on [`CONTRIBUTING`](https://github.com/aimacode/aima-python/blob/master/CONTRIBUTING.md), in particular the sections "New And Improved Algorithms" and "Jupyter Notebooks". You can also work on open issues that others aren't working on.

iii) As far as I know, relevant work matters as well, even thoug

[2018-02-16 16:56] roberthoenig opened #752 "Add type annotations."
From CONTRIBUTING.md:

Regarding the last point, Pep 484 says:

In other projects I worked on, type annotations contributed greatly to the ease of understanding of code. I think they would prove especially valuable for aima-python, since
 * the book pseudocode uses them at least partially (e.g.
[code]
* they're great for quickly understanding new code, which I think is of great importance for this

[2018-02-16 17:17] MrDupin commented on #752
I am for either way. I think though we should wait a bit for the repo to calm down, because such changes may cause merge conflicts.

[2018-02-18 05:42] alpha721 commented on #632
Thanks a lot @MrDupin . I would keep things in mind :)

[2018-02-18 12:22] umangahuja1 opened #754 "Add virtualenv installation details in CONTRIBUTING.md"
If someone is having both python 2.x and python 3.x, it becomes essential to create virtualenv to separate both.
Also new users who are not aware of this may feel stucked.

This will help users to create virtual environment before getting started.

I will be adding a PR. See if it makes things easier for others.

Any admin here to comment on this issue?

[2018-02-18 13:37] Noumanmufc1 opened #756 "Location attribute in agents.ipynb"
Hello, I am new here. Just started looking into the code and corresponding jupyter notebooks. The agents.ipynb file creates a class of BlindDog with 'location' attribute in the print statement but the agent or the thing class doesn't have any location attribute.
![image](https://user-images.githubusercontent.com/35970677/36352427-c17d3ff8-14da-11e8-8247-fd2be094cf86.png)

[2018-02-18 13:53] #756 closed

[2018-02-19 01:01] roberthoenig opened #757 "search.ipynb: Add Recursive Best First Search algorithm."
I'd like to add a notebook documentation for the RBFS algorithm in search.ipynb. This issue is for tracking progress on that. I'll orient myself by the existing algorithms in that notebook and their use of the Romania map. Feel free to comment any special requests / requirements for this particular algorithm.

[2018-02-19 21:30] roberthoenig opened #758 "Greedy best first search implementation inconsistent with book."
From the book, section 3.5:

The algorithm implemented in the repo is afaict in fact complete in a finite state space. This is because it implements an `explored` data structure, which prevents it from repeatedly expanding already visited nodes.  Therefore, it will in the end visit all states in a finite state space. This is confirmed by the search.ipynb notebook, which in fact prints a successful

[2018-02-20 17:08] ad71 opened #760 "Missing POMDP value-iteration"
mdp.py has no implementation of POMDP value-iteration. It cannot be directly implemented as we need to build a pomdp class. There are subtle differences between an mdp and a pomdp and I would like suggestions on whether to inherit from the mdp class or implement the pomdp class from scratch. @norvig @MrDupin what do you suggest?

[2018-02-20 20:16] MrDupin commented on #760
I think building it from scratch is the better method, in my opinion.

[2018-02-20 20:38] ad71 commented on #760
I thought so too. I'll get to work as soon as my exams finish this week.

[2018-02-23 01:50] #728 closed

[2018-02-23 01:57] norvig commented on #711
The fix should be to make the `NQueensProblem` produce tuples, not to make `search` coerce states to tuples.

[2018-02-23 03:05] #731 closed

[2018-02-23 03:07] #741 closed

[2018-02-23 15:59] Marcelpv96 commented on #758
Hi!, The algorithm implemented is complete in a finite state space because of is implemented using a graph (this is the reason of exists a explored data structure). So for fix what you are saying is necessary a tree implementation of it.

[2018-02-23 17:36] #657 closed

[2018-02-23 20:22] MrDupin commented on #754
The PR got closed, so we do not need this anymore.

[2018-02-23 20:22] #754 closed

[2018-02-23 20:23] #662 closed

[2018-02-24 10:54] ad71 opened #766 "mdp_apps notebook"
Hello @norvig and @MrDupin ! There are many standard problems that show how MDPs can be formulated and solved and I think adding these will help better explain the classes and methods in mdp.py. As the mdp notebook is already pretty cluttered, I do not want to add more examples there, instead I was planning to create a mdp_apps notebook for solutions to common real-world MDP problems before I star

[2018-02-24 11:36] MrDupin commented on #766
Sure, if you have some applications where mdp can be applied to, a `apps` notebook would be nice.

[2018-02-25 03:20] apb7 opened #768 "Add test for SimpleReflexAgent"
Hello, @norvig and @MrDupin! I would like to add tests for the `SimpleReflexAgentProgram` in `test_agents.py`.
Also, I had a doubt regarding this. Currently, we have a `rule_match` function which looks like this:
[code]
We do not have a `matches` function for the `rule`. We need to design this function before we go for the test. How should we go about this? We can create a `Rule` class in `test_ag

[2018-02-25 23:15] bakerwho opened #772 "Better way to structure the repo?"
Perhaps it's just me, but it looks pretty hard to navigate through the code while reading through the book. I have to open and read [agents.py](https://github.com/bakerwho/aima-python/blob/master/agents.py) to see that it discusses code from Chapters 1 and 2.

There's a notebook called [intro.pynb](https://github.com/bakerwho/aima-python/blob/master/intro.ipynb)  that gives some information about

[2018-02-26 00:07] MrDupin commented on #772
You are right that we do not have a clear installation guide. I have amended that in #773, thanks for pointing it out!

The instructions in SUBMODULE are simply for updating the submodule to the latest version, so that users can download the correct datasets. It is not something that users need to do themselves, it is more of a reminder for admins.

About the structure, I think it's fine as it is.

[2018-02-26 07:01] apb7 commented on #768
Hello, @norvig! Can you please take a look at this?
Thanks!

[2018-02-26 11:41] apb7 commented on #768
@MrDupin: Can you please suggest a possible way for this?
Thanks!

[2018-02-26 11:51] MrDupin commented on #768
In #751, Dr. Norvig said that he doesn't like an implementation of `Rule`. I assume this means the class should be implemented on each individual case, so you need to create the class in your tests. So, `rules` is a list of objects of type `Rule`, where `Rule` is a class that needs to be implemented for this particular case.

I think you should add the class to `test_agents` and also maybe add som

[2018-02-26 11:55] apb7 commented on #768
Okay, got it! I think it would be better if we create a `Rule` class inside the test_SimpleReflexAgentProgram function in test_agents. I'll add the documentation for the class as well. How does this sound?
Thanks!

[2018-02-26 12:00] MrDupin commented on #768
Yes, sounds good.

For the documentation, it should go in the `agents.py` script. That way future contributors will know that they need to create a `Rule` class on their own. You don't have to write much, just mention it in a couple of lines.

[2018-02-26 12:04] apb7 commented on #768
Okay, understood. Thanks, @MrDupin!

[2018-02-26 17:20] nouman-10 opened #775 "Problem Included in notebook?"
Hello! In the index it shows that Node and SimpleProblemSolvingAgent are included but Problem is not where as in the search.ipynb all three of classes are implemented in the same manner. Is problem class to be implemented in a different way or it's just a mistake? @MrDupin
![image](https://user-images.githubusercontent.com/35970677/36684790-439a028c-1b43-11e8-984b-2b8189005246.png)

[2018-02-26 17:27] #775 closed, assigned to nobody

[2018-02-28 19:04] adityaXXX commented on #735
Hey @MrDupin after adding a sample test for `cross_validation` and doing some changes to  `test_k_nearest_neighbors` and `NearestNeighborLearner` classifier(changes in jupyter notebook are yet to be made), I got the following result:

`
aditya@aditya-Inspiron-3558:~/Downloads/aima-python-master/tests$py.test
============================= test session starts ==============================
platform

[2018-02-28 19:09] MrDupin commented on #735
What kind of changes did you make to Nearest Neighbors? I wouldn't really like much to be changed there. As I previously said, cross validation is currently a bit antiquated in the pseudocode and is not very useful as is. So, we shouldn't be working around it.

[2018-02-28 19:13] adityaXXX commented on #735
The changes I made to `NearestNeighborLearner` are as follows:

`def NearestNeighborLearner():
    """k-NearestNeighbor: the k nearest neighbors vote."""
    def fit(dataset, k=1):
        def predict(example):
            """Find the k closest items, and have them vote for the best."""
            best = heapq.nsmallest(k, ((dataset.distance(e, example), e) for e in dataset.examples))

[2018-02-28 19:28] adityaXXX commented on #735
As far as I have checked, the changes I have made does not interfere with any code block. Is it okay?

[2018-02-28 20:27] MrDupin commented on #735
That is not really consistent with the rest of the codebase though. For learners, we do `learner = Learner(dataset)`, here you changed it to `learner = Learner()(dataset)`.

I am not saying I dislike this, as a matter of fact this is how I originally was thinking of structuring the codebase myself. This way we can then, instead of passing the single argument `size` on cross validation, pass a list

[2018-03-01 18:47] ad71 opened #785 "8-Puzzle problem in search.ipynb throws errors"
@MrDupin I reran the search notebook. EightPuzzle doesn't seem to work. I presume this is because of PR #733 .
The PR had quite a few errors which didn't get caught by pytest because tests for EightPuzzle were never written. I plan to fix the errors. Any help would be appreciated.

[2018-03-01 19:34] adityaXXX commented on #735
Could you please tell me what I should do next? Should I proceed further @MrDupin  and @norvig ?

[2018-03-01 20:56] MrDupin commented on #785
Adding tests and rewriting the notebook is the way I would go first. If that doesn't work, I would look into the code itself.

[2018-03-01 20:57] MrDupin commented on #735
Sorry, this is something only Dr. Norvig and the GSoC mentors can help you with. You might want to contact them directly, since this is an issue that has been hovering over `learning.py` for some time.

[2018-03-01 21:14] ad71 commented on #785
The code basically doesn't work. It has many semantic errors. For loops try to iterate over integers instead of iterables and (obviously) throw errors. The class assumes that `astar_search` can handle two-dimensional states, which it doesn't. I rewrote the class and tested it only to be reminded that the existing `astar_search` and a few other algorithms do not work when states are lists (as these

[2018-03-01 21:30] ad71 commented on #785
Oh, and referring to #711 , `astar_search` and a few other algorithms do not work with NQueensProblem either. As per @norvig 's suggestion in #727 , problems should produce states that are hashable. We either need a refactor to the code or revert to the previous implementation of EightPuzzle as a temporary solution. I understand now why EightPuzzle has always been an outlier in terms of its implem

[2018-03-01 23:10] yip8 opened #786 ""from notebook import psource, pseudocode" doesn't work"
"from notebook import psource, pseudocode" doesn't work.
[code]

[2018-03-01 23:39] #766 closed

[2018-03-01 23:56] MrDupin commented on #786
Hmm, have you run

[code]

in your aima-python directory, [as per the installation guide](https://github.com/aimacode/aima-python/blob/master/README.md#installation-guide)? I think this might resolve the issue.

[2018-03-02 05:07] yip8 commented on #786
@MrDupin No it still happens. I am running jupyter notebook.

[2018-03-02 07:53] ad71 commented on #786
Have you downloaded from zip?
Retry cloning the repo using this command:
`git clone --recurse-submodules -j8 git://github.com/aimacode/aima-python.git`
If this doesn't work, try
`git clone --recursive -j8 git://github.com/aimacode/aima-python.git`

[2018-03-02 23:40] yip8 commented on #786
I installed according to the installation guideline and have run
`git submodule init
git submodule update`
I don't know if the problem is running jupyter notebook. I tried ipython notebook and it also does not work. Is running web-based notebook the way to open the notebook?

[2018-03-02 23:56] MrDupin commented on #786
Did you write `git submodule init git submodule update` an an one-liner like this? They should be separated, run the one and then the other.

[2018-03-03 02:06] yip8 commented on #786
I solved the problem after upgrading some notebook dependencies to python 3.

[2018-03-03 02:06] #786 closed

[2018-03-03 09:40] ad71 opened #792 "Expr in notebook"
@MrDupin The README implies that we need a notebook section for Propositional Logic Sentence (Section 7.7), but I think otherwise. `Expr` is just a helper class to create Propositional Logic Sentences, much like a data structure. It has been used a lot in the logic notebook and it has an implicit meaning. I don't think it requires dedicated explanation. I think it needs the 'No need' label like th

[2018-03-03 12:20] #792 closed

[2018-03-03 23:10] bakerwho opened #800 "NotJSONError when opening mdp.ipynb"
Error text in Jupyter notebook:
```NotJSONError('Notebook does not appear to be JSON: \'{\\n "cells": [\\n {\\n "cell_type": "r...',)```

Source appears to be intact, so I'm checking it for unclosed {}, etc.

[2018-03-03 23:16] bakerwho commented on #800
This appears to be a common issue on Jupyter notebooks maintained using git. Check [this](https://github.com/jupyter/help/issues/67).

[nbdime](http://nbdime.readthedocs.io/en/stable/) appears to be a solution. Checking it out now.

[2018-03-04 07:24] ad71 commented on #800
This was because of minor merge conflicts due to #781 . I has been fixed now.

[2018-03-04 09:52] #800 closed

[2018-03-05 01:11] JaeDukSeo commented on #632
Very good write up and amazing! Thank you!

[2018-03-05 01:18] JaeDukSeo commented on #632
@alpha721 thanks for the great write up, I am also looking to get into google summer of code 2018. And I was wondering, can we start contributing to git as soon as possible, so now.

[2018-03-05 01:53] JaeDukSeo commented on #709
So is this still a problem? or can we close it?

[2018-03-05 05:31] JaeDukSeo opened #804 "intro.ipynb merging"
Can we put the content of intro.ipynb inside the README.md? I am just confused why that can't be the case. I was just cleaning up the repo, just a thought.

[2018-03-05 05:47] JaeDukSeo commented on #772
I tried to clean it up, but it wasn't the right approach. So I guess we'll have to wait.

[2018-03-05 06:43] JaeDukSeo commented on #744
So just wondering, is this issue still open..? or is the quick fix good to go?

[2018-03-05 06:55] ad71 commented on #709
We can close this, but the eight puzzle class is still messed up. See #785

[2018-03-05 11:13] MrDupin commented on #744
I think it is closed now. :)

[2018-03-05 11:13] #744 closed

[2018-03-05 22:42] #709 closed

[2018-03-06 00:30] norvig commented on #785
Yes, the eight puzzle code is wrong in that it returns a nonhashable state. It could use either a tuple of tuples, or just a tuple of 9 positions. The code to deal with directions/moves is also inelegant. Other code that deals with grids in other problems does this better. I don't remember the history, and how it got this way.

[2018-03-06 02:47] ad71 commented on #785
Thanks for the pointers. I'll work on this to today.

[2018-03-06 22:14] MrDupin opened #811 "Search Notebook Visualizations"
The search notebook currently has a lot of visualizations of graphs and such that are very important to get the concepts across. However, the visualization code itself is not important and the student does not need to read it. For such code we have created the Python script `notebook.py`, which holds the visualization code that goes in the notebooks.

It would be fantastic if we could start lookin

[2018-03-06 23:04] bakerwho commented on #811
I've been noticing this particularly for search.ipynb. I am working on moving this stuff.

Apart from this, it seems that search.py is an extremely long file, with the following contents (in order of their appearance):
- define `Problem` and `Node` classes
- define a generic `SimpleProblemSolvingAgentProgram`
- define `tree_search` and `graph_search` and a number of implementations of search algor

[2018-03-07 02:47] ad71 commented on #811
Three functions that should be immediately moved to notebook.py are `show_map`, `final_map_colors` and `display_visual` from the 'Searching Algorithms Visualization' section. Are there any more @MrDupin ?

[2018-03-07 02:55] bakerwho commented on #811
@ad71, actually, it's a bit more complicated, as some of these functions use locally defined variables. I'm already working on this to streamline the viz functions as well as the use of networkx.

[2018-03-07 03:06] ad71 commented on #811
Great! Tell me if you need help. Also, is there any way to remove the networkx dependency altogether?

[2018-03-07 03:32] bakerwho commented on #811
@ad71 We absolutely can! nx is actually being used just for the neat inbuilt visualisation it offers. There already exists the `Graph` class in search.py. We can build the required visualisations on matplotlib (what nx already uses). It can be done, it'll just be a little tedious.

Maybe we should take the nx discussion to another thread? Also, @MrDupin @norvig, I'm waiting for @ad71's fix to Eigh

[2018-03-07 04:24] bakerwho commented on #811
Erm, not sure that's such a good practice in general, but I guess it works for now.

[2018-03-07 05:26] ad71 commented on #811
It's definitely not good practice, just a workaround.

[2018-03-07 09:31] Dimkoim opened #813 "Add Forward-Backward to the probability.ipynb"
Hello Mr. @norvig, Mr. @MrDupin, and Mr. @delaray ! I would love to participate to the GSoC 2018 and what's a better start than fixing an issue. Currently the `probability.ipnyb` does not include any examples and info about the HiddenMarkovModel class and the Forward-Backward algorithm. I have prepared some updates and I will soon ask for a `PR`.

Regards,

Dimitrios Koimtzoglou

[2018-03-07 09:53] goswami-rahul opened #814 "Use of typing Hints"
Typing Hints are available from Python >= 3.6.
Should we use them in the implementations of the Algorithms?
for example,
[code]
This function is expected to take 2 int types and return float type.

[2018-03-07 12:53] MrDupin commented on #814
I am not sure if that's needed. It is up to @norvig, but I personally prefer to just write what output is expected in the docstring of the function, in cases where output is not clear.

[2018-03-07 12:55] MrDupin commented on #813
Sounds good, I can't believe I missed HIdden Markov Models. I would say adding a notebook section on the subject is a great idea!

[2018-03-07 13:08] MrDupin commented on #811
Great work, I think this makes the notebook a bit cleaner. I haven't tested it, but I assume the notebook cells work.

After these are merged, I will take a look and see if we can simplify the notebook a bit more. Also, we should start looking at ways to remove `networkx`, although this may be a bit difficult. If it takes too long, it would be a nice addition to GSoC proposals ;).

[2018-03-07 13:31] kunwar31 opened #817 "Implement Hybrid Wumpus Agent Algorithm"
Hi, I would like to implement Hybrid Wumpus Agent algorithm, starting with implement the wumpus world environment.

I'll use this issue to assign myself the task of implementing this algorithm, and complete the code of the environment (if required)

[2018-03-07 14:28] goswami-rahul commented on #814
I can start working on this issue if you want.

[2018-03-07 14:44] ad71 commented on #814
@goswami-rahul I think this is not required. Most of the codebase is simple and straightforward and almost everything has docstrings. @norvig has the final say though.

[2018-03-07 17:43] MrDupin commented on #814
@goswami-rahul: Unless Dr. Norvig says otherwise, I don't think this is something that is needed. I wouldn't work on this unless he gave the greenlight.

[2018-03-07 18:15] goswami-rahul opened #819 "Incosistencies in return type of vectors in utils.py"
The first function returns vector as `tuple` while the other as `list`.
Either both must return a `tuple` or a `list` for consistency.
[code]
Should I put a PR to resolve this?
What should these functions return?

[2018-03-07 18:20] ad71 commented on #819
I think the first function returns a tuple because the code that calls it requires the returned data to be hashable, maybe to store it in a set? I might be completely wrong, but this is a common problem in some parts of the repository. You would need to find out which parts of the codebase call this function.

[2018-03-07 18:36] goswami-rahul commented on #819
Yeah, it is possible that it may depend on the code where it is used.
However, I think it _shouldn't_ depend on how it is used.  Since it returns a vector, its type _must_ remain same throughout the code. It will lead to future conflicts.
The user can manipulate its type outside the function as he wishes.
For e.g., if the above function returns a tuple, and the user wants a list, he can simply do

[2018-03-07 18:39] bakerwho commented on #819
I'm not sure this should be messed with until we're certain exactly where
it's called. Consistency would be nice, but these functions are used widely
throughout the implementations. @ad71's point about hashing might be a
reason this is the way it is.

*Aabir Abubaker Kar*
*Physicist, Mechanical Engineer, etc*

On Wed, Mar 7, 2018 at 1:15 PM, Rahul Goswami <notifications@github.com>
wrote:

[2018-03-08 09:57] goswami-rahul commented on #811
@MrDupin I too want to help in the issue.
I just need an overview of which part of code is to be moved to another script.

[2018-03-08 10:14] ad71 commented on #811
@goswami-rahul this has already been taken care of by @bakerwho in #812 . The next checkpoint would be to try and remove the networkx dependency, which might be difficult. Meanwhile, you can suggest ideas to simplify the notebook a bit more.

[2018-03-08 16:03] norvig commented on #814
I was waiting until, hopefully, there is an standard way of having type constraints rather than type hints. That is, currently nothing happens if a or b is not an int in your example. When Python has a standard accepted way of making something happen, then I think type hints are worth it.

For now, most of the types we would want would be redundant with the parameter names, and so wouldn't add muc

[2018-03-08 17:01] goswami-rahul opened #824 "Syntax conflicts in search.py (tuples are used as functions!)"
In the function `actions()` inside search.py, the variable `index_blank_square` is a `tuple` of indices, but called as a function like `index_blank_square(0)` or `index_blank_square(1)`.
[code]

[2018-03-08 17:03] goswami-rahul commented on #824
I found the same issue in another function `result()`
[code]

[2018-03-08 17:19] goswami-rahul opened #826 "Another Bug in search.py (iterating over an `int` !)"
the function `find_blank_square()` is iterating over an `int`.
In line 422. Here's the code:
[code]
`len(state)` and `len(row)` will _always_ return an `int`.
I wonder how it passed the tests.

Edit: Found two more such cases!
in line 477
[code]
and in line 496
[code]

[2018-03-08 17:27] ad71 commented on #826
This bug was introduced as a result of #733 .
This has been fixed in #807 but the PR is yet to be merged.
Many of your other issues are also already solved and the PRs await merging. I would advise you to sumbit PRs after the repository has calmed down a bit, as this might lead to merge conflicts later. It is fine if you are working on files that do not currently have open PRs. I would also implor

[2018-03-08 17:32] ad71 commented on #824
This has been fixed in #807

[2018-03-08 18:16] bakerwho commented on #826
@goswami-rahul I think you should close this issue seeing how it is pretty much a more specific duplicate of #785, and has been fixed in #807.

[2018-03-08 20:03] goswami-rahul opened #829 "implementation of __getitem__ in PriorityQueue"
It essentially returns the **same** `key` if it is present, else returns None (doesn't raise Exception).
Is this the intended use?
[code]
Also, the documentation of PriorityQueue says
```It supports dict-like lookup.```

What exactly is the method `__getitem__` trying to do (and return)?

[2018-03-08 20:15] #826 closed

[2018-03-08 20:49] ad71 commented on #711
I completely forgot about this issue until now. I assign myself the task of fixing this problem and rewriting the notebook section of NQueensProblem.

[2018-03-09 00:27] MrDupin commented on #819
I agree that consistency would be great. If you could find where the problematic functions are called, I would provide a more concrete answer. If the functions are called in code corresponding to pseudocode and it is required that they are of a certain type, then I am afraid it must stay as is to keep the code as close to the pseudocode. Otherwise, we can change the functions and then do casting a

[2018-03-09 00:57] MrDupin commented on #811
I would also like to see `tree_search` and `graph_search` moved, since they are mostly visualization code. We should also have a separate section explaining what the two techniques are, without the visualization. Just walking the student through the code like normal.

Moving the two visualization functions to `notebook` is the next step, and then adding the new sections explaining in short what th

[2018-03-09 13:47] goswami-rahul opened #830 "Invalid call to function [extra arguments] in learning.py"
function `train_and_test` has prototype:
[code]
but it is passed 4 arguments in the below function in learning.py.
[code]
I think `learner` should not be passed, but then it is the only use of `learner` parameter  in `train_and_test`.
How should this be resolved?

[2018-03-09 14:59] ad71 commented on #830
Nice catch. This is definitely an error. Currently there are no tests for these functions and I'm sure it doesn't work the intended way. `score` is supposed to accept a learner and evaluate its performance on the given `dataset`. However, `train_and_test` just partitions the dataset into the training and validation sets. I'm sure this isn't the right function to call. Maybe this has something to d

[2018-03-09 17:17] bakerwho commented on #811
@MrDupin I think these are good ideas. I also propose renaming these two functions `tree_search_for_vis` and `graph_search_for_vis` - or something along those lines - to indicate that they are not generic implementations.

[2018-03-09 17:39] goswami-rahul commented on #819
I have checked every usage of the above two functions (found their usages with PyCharm). I think the return type of `vector_add()` should be `vector` which is good. The following usage from `P_motion_sample()` verifies this:
[code]
However, there are no such usages of the `scalar_vector_product()`  that can verify it to be `list`, as far as I have checked. I couldn't find any example where it _beh

[2018-03-09 17:50] goswami-rahul opened #833 "mutables [lists, dicts] use as method arguments"
This issue is known and is being fixed in #831 .
Raised this issue to avoid merge conflicts if someone opens another PR/issue for this.

[2018-03-09 19:29] MrDupin commented on #830
The function `train_and_test` simply splits the data into training and testing set. I think it needs to be renamed though, to something like `train_test_split`.

Other than that, `learningcurve`, as with `cross_validation`, does not do much as mentioned by @ad71.

I suggest someone a) renames `train_and_test` and b) adds a note over the Cross Validation sections warning people that it is not usabl

[2018-03-09 20:07] MrDupin commented on #811
@bakerwho: I like the renaming idea.

For `best_first_graph_search`, I am not sure what else can we do. One idea that I had is to use "building blocks" which contain basic functionality wrapped in visualization code and then the algorithms would simply call them to remove clutter. For example, a lot of search algorithm need a function to visit a new node. We could create a general function for nod

[2018-03-09 22:13] MrDupin commented on #819
Then sure, you can make a PR fixing this. Changing them to tuples is fine.

[2018-03-10 04:54] goswami-rahul commented on #819
I tried to make these changes in the functions and tests, but some other tests were failed due to this. The differences were reflected in many (6) functions like
[code]
It now seems that we will have to leave them the way they are to avoid more bugs.

So, now should I close this issue?

[2018-03-10 06:30] samidhaVerma commented on #811
@MrDupin I'll try to add the visualisation codes to `notebook.py` and call in `search.ipynb` if no one has any issues.

[2018-03-10 06:38] ad71 commented on #819
There must be a reason why these functions are a certain way. I think you can close the issue.

[2018-03-10 06:44] #819 closed

[2018-03-10 07:46] #833 closed

[2018-03-11 16:48] brooks-lee opened #834 "Test case for double_tennis_problem"
I have written a test case for the double tennis problem. However, I am proposing a few changes in the double tennis problem implementation. The changes are:
1) Action `Hit(actor, Ball)` can be defined as `Hit(actor, Ball, loc)`; loc is the location the ball is approaching.
2) Action `Go(actor, to)` can be defined as `Go(actor, to, loc)`; loc is the location the actor is currently at; to is the lo

[2018-03-12 16:21] bakerwho opened #838 "GSoC 2018 starter-kit"
Hello all.

Student applications for Google Summer of Code are officially [open.](https://summerofcode.withgoogle.com/student-signup/) The list of accepted organizations is [here](https://summerofcode.withgoogle.com/organizations/) - though you're likely interested in this one.

Here's a list of resources so we can make sure to do our research before bombarding the mentors with questions -
- aimac

[2018-03-12 17:39] goswami-rahul commented on #838
Thanks for sharing the blogs and resources @bakerwho .
I am really excited about GSoC!

[2018-03-12 18:05] kunwar31 commented on #838
Thanks for sharing the info. Looking forward to contribute to this repo!

[2018-03-13 00:40] MrDupin commented on #838
Thanks for compiling this, and good luck to all the students!

[2018-03-13 11:10] #811 closed

[2018-03-13 21:00] ultrasounder commented on #838
Not a student in the real sense(I am not enrolled in a CS program or anything), but am a student(Auto-didact) of Python. Can I still participate?

[2018-03-14 03:06] CharuChhimpa opened #844 "Add Random Forest to learning.ipynb"
@norvig and @MrDupin, Random Forest Algorithm is not added in learning.ipynb. Can I add that in the python notebook?

[2018-03-14 08:16] apb7 commented on #768
@MrDupin: This issue has been addressed in PR #808> Therefore closing it.

[2018-03-14 08:16] #768 closed

[2018-03-14 10:23] MrDupin commented on #844
Sure, that would be a great addition! Make sure to add the section close to the Decision Tree One.

[2018-03-15 00:45] #748 closed

[2018-03-15 00:58] #710 closed

[2018-03-15 00:58] #785 closed

[2018-03-15 00:58] #824 closed

[2018-03-15 08:25] #813 closed

[2018-03-15 16:05] bakerwho commented on #772
Might it make sense to put the notebooks in a folder called 'notebooks' and the `.py` files in a folder called 'bin' or 'pycode' or 'scripts'? The repo is still a bit messy. Scrolling through it, one finds files like `pytest.ini` and `requirements.txt` in midst of `ipynb` files that explain concepts! Is there a reason such restructuring has not already been done?

If we're not taking any further s

[2018-03-15 17:07] #711 closed

[2018-03-17 06:35] CharuChhimpa commented on #844
@norvig, Can you please review my pr

[2018-03-17 06:38] CharuChhimpa commented on #844
@MrDupin please review my pr

[2018-03-17 07:07] yash6 commented on #838
thanks @bakerwho  for sharing this much useful information, looking forward to contribute to this project.

[2018-03-17 07:13] CharuChhimpa commented on #844
@norvig and @MrDupin, I also find that the functions which are written for testing learners (eg : err_ratio, train_test_split, grade_learner and cross_validation) are no where explained in the python notebook. Are those needed to be added?

[2018-03-17 07:44] CharuChhimpa opened #856 "Tests for Decision_list_learner"
@norvig and @delaray, tests for Decision_list_learner are not added in test_learning.py. Can I add that?

[2018-03-17 10:10] MrDupin commented on #844
I will review your PR sometime tomorrow, I am a bit busy at the moment.

As for the evaluating functions, I don't think they need to be explained in the notebooks, their docstrings will do just fine.

[2018-03-17 10:12] MrDupin commented on #856
The Decision List Learner is not yet complete, there are some details missing from its implementation. These need to be finished first, and then we can add the tests.

If you want you can take this up.

[2018-03-17 10:19] CharuChhimpa commented on #856
Ok. So, anyone working on implementing Decision List learner? Can I start on it?

[2018-03-17 10:25] ad71 commented on #856
I don't think anyone is working on this. You can go ahead.

[2018-03-17 10:34] ad71 commented on #844
@CharuChhimpa `cross_validation` isn't usable in its current state, nor are the functions that derive from it  (`learning_curve` for example). It won't be useful adding notebook sections for the functions that don't work. See #735 , #730 , #566 and [this issue](https://github.com/aimacode/aima-pseudocode/issues/55) for details. `train_test_split` just splits a dataset into the training and testing

[2018-03-17 12:43] blue-atom commented on #856
@CharuChhimpa If you decide to quit work on this, please let me know.

[2018-03-17 12:51] blue-atom opened #858 "Better folder structure"
In this repo aima-python, every code is just residing at root folder. I think it will be good if there is some directory structure, for example, all the .ipynb files should be under the folder "/root/notebooks/"  and all the data structure classes should be under "/datastructures/" folder. I think it will be much more convenient to find files that way.

[2018-03-17 12:56] ad71 commented on #858
It would be convenient to find files, but import statements have to be changed for all files which is something @norvig doesn't want to do as implied by #803 . I don't think this will be a good idea. It's up to @norvig though.

[2018-03-17 13:00] blue-atom commented on #858
@ad71 thanks for pointing out the previous issue.

[2018-03-17 22:15] #844 closed

[2018-03-18 06:56] CharuChhimpa commented on #856
@ad71, Can I know why I am not visible in the contributers page. As my previous commit is already merged.

[2018-03-18 07:01] kunwar31 commented on #856
@CharuChhimpa Sometimes it can take a few hours for the contributors page to update. I noticed the same problem when my first pull request was merged.

[2018-03-18 07:06] ad71 commented on #856
@CharuChhimpa I think @kunwar31 is right, but I'm pretty sure the number of contributors has updated. It says 74, but there are an odd number of contributors in the contributors page. Have you deleted your fork of the repository after your commit got merged? If so, your name won't show up on the contributors list.

[2018-03-18 07:11] CharuChhimpa commented on #856
@ad17, I have not deleted my fork.

[2018-03-18 07:13] ad71 commented on #856
Then maybe you should wait for a few hours and see if it updates, because I have never seen this happen before.

[2018-03-18 11:16] CharuChhimpa commented on #856
@ad17, Can you please tell me what does the test signifies in the decision list learner?

[2018-03-18 11:57] CharuChhimpa opened #863 "Add Depth Limited search and And-Or Graph search in search.ipynb"
@ad71 and @MrDupin, Do we need to add Depth Limited search and And-Or graph search in the python notebook?

[2018-03-18 12:00] ad71 commented on #863
You can add DLS. I'm working on the And-Or graph search.

[2018-03-18 12:05] ad71 commented on #856
I'm sorry I didn't understand your question. There are currently no tests for decision list learner. We need simple assertion-based tests that show that the algorithm actually works and produces the same output every time. I believe using the iris dataset is advisable as most tests for learners are written for this dataset. Check the source code of a few existing tests to see what is required.

[2018-03-18 12:14] CharuChhimpa commented on #856
No, I am not talking about the tests. I am talking about the test variable that is used in the algorithm of Decision List Learner .

[2018-03-18 12:26] ad71 commented on #856
Oh, `test` here refers to any input given to the decision list learner. At first glance, it seems that the `DecisionListLearner` class was never completed or it is meant to be a base class for other classes. `find_examples` is supposed to find a set of examples that give the same outcome (output) for a given test (input). It is supposed to return the `test`, the `outcome` and the examples that it

[2018-03-18 15:39] Noumanmufc1 opened #865 "Error in probability.ipynb"
Probability.ipynb notebook gives the follwing error on running:
![image](https://user-images.githubusercontent.com/35970677/37567702-7b29c7ba-2aec-11e8-9d9f-c8e8ee6122ef.png)

Does anyone know how to solve this?

[2018-03-18 15:49] ad71 commented on #865
There is probably a cell in the file that doesn't have the `execution_count` property. Open the .ipynb file in a text editor and check which cell is missing it. Maybe it has something to do with your last pull request. I'll look into it a bit later if you need help.

[2018-03-18 15:51] Noumanmufc1 commented on #865
I copied the code from the original repository and the error still didn't go away

[2018-03-18 15:56] ad71 commented on #865
I'll look into this later today.

[2018-03-18 17:28] ad71 commented on #865
This has now been fixed in #867 . Thanks for pointing it out.

[2018-03-19 03:40] CharuChhimpa commented on #856
@norvig and @MrDupin, Can you tell me that the functions find_examples and passes in decision list learner needs to be implemented?

[2018-03-19 07:32] lalitmee commented on #858
@ad71 I know that changing the `import` path is the main problem if we want to have a nice project structure. But I think we can do it. It's not impossible. :innocent:

[2018-03-19 07:35] ad71 commented on #858
It can be done easily. Dr. Norvig apparently doesn't _want_ to.

[2018-03-19 07:46] reachtarunhere commented on #858
Further another reason we kept the notebook in the root has to do with Binder. At that time it wasn't possible to get the imports right and make it work due to lack of config options. I am not sure if it has changed with the new version though.

[2018-03-19 08:02] ad71 commented on #858
In the current state, imports from other folders are handled by appending `__dirname__` to the imports using the `os.path` module. This works fine and is already done for the files in the GUI folder.

[2018-03-19 09:19] lalitmee commented on #858
ohh.. if this is the scenario, then it should be your call to implement or not. I was just giving a suggestion. I think if you don't want to do, we can close the issue otherwise more people will come and say the same thing again. :innocent:

[2018-03-19 11:54] #865 closed

[2018-03-19 11:59] MrDupin commented on #856
I cannot tell, sorry. I am only a student. :)

[2018-03-19 12:11] snigdharao28 opened #870 "'TrivialVacuumEnvironment' object is not callable"
Can someone please explain why in the test_agents.py file, under the test_compare_agents() function, we are not creating an "environment" object of the class TrivialVacuumEnvironment? The code is as follows:
def test_compare_agents() :
    environment = TrivialVacuumEnvironment
    agents = [ModelBasedVacuumAgent, ReflexVacuumAgent]

At first, I thought it was a typo, so I did the following modifi

[2018-03-19 12:23] apb7 commented on #870
Hi @snigdharao28! The `compare_agents` function takes an environment factory or constructor and not an environment object:
[code]
As you can see, it creates an object of the `EnvFactory` in this line:
[code]
 and then uses it compare agent performance. Therefore the Travis build fails, stating that Object is not callable.

Hope this helps!
Thanks!

[2018-03-19 12:24] kunwar31 commented on #870
compare_agents expects a Environment Factory and an Agent Factory to generate objects. It does not expect already created objects as parameters, hence the error.

[2018-03-19 12:26] snigdharao28 commented on #870
Thanks @apb7 and @kunwar31  for the help!

[2018-03-19 12:26] #870 closed

[2018-03-20 11:51] zby0902 opened #871 "Missing ipythonblocks.py and BlockGrid class"
Hi I have just kicked off bu following the git clone, get the additional data and then I just run the cells in `agents.ipynb.`
The most of the cells ran without any problems, but the last two cells which include printing a colourful two dimension matrix for better presentation are not going to run. The problem is clear, the class `BlockGrid`  cannot be found because the python file which ought to

[2018-03-20 12:22] zby0902 commented on #871
Hmm, well that is a dummy questions , I just solved it by merely install the package ipythonblocks, but it is surprising that it is not supported by naconda but only by pip.

[2018-03-20 15:40] #871 closed

[2018-03-21 00:28] RobRoseKnows commented on #814
I was writing a proposal for GSoC and wanted to submit a PR before submitting my proposal. However, adding type hints would require upgrading the minimum Python version from 3.4, which is what is currently listed in the README.md. The Python upgrade requirement was mentioned by @norvig [in the contributor guidelines](https://github.com/aimacode/aima-python/blob/master/CONTRIBUTING.md#style-guide),

[2018-03-22 00:18] bakerwho opened #874 "WIP - overhauling CSP"
I have some suggestions for the implementation of `CSP` class and some of the methods in `csp.py`.
- several methods should belong to the CSP class (creating a `CSP` object should allow me to check arc consistency within that `CSP`!)
- the dict `assignment` should belong to the CSP instead of being an external variable that's passed around. It should start as an empty dict and grow until a solutio

[2018-03-22 05:50] ad71 commented on #863
Sure, thanks!

[2018-03-23 04:00] CharuChhimpa commented on #863
@norvig, @MrDupin and @ad71, Can you please review my pr?

[2018-03-23 04:50] ad71 commented on #863
It would be better if a collaborator reviewed it, I'm just another student :)

[2018-03-23 20:39] goswami-rahul opened #877 "bugs in planning.py Problem class"
the methods of class `Problem` are not declared properly; `self` is not passed as the first parameter.
[code]
This will use `hla` as `self`.
When I tried to fix them, even the tests in test_planning.py showed error when I use `self` and they work fine with the above method.
in file `test_planning.py` inside `test_refinements()`
[code]
Here, the method is used as a class method, and `prob` (object

[2018-03-24 05:56] CharuChhimpa commented on #863
@norvig and @delaray, Can you review my pr please?

[2018-03-24 06:00] #817 closed

[2018-03-24 06:02] CharuChhimpa commented on #856
@norvig, Do we need to implement 'find_examples' and 'passes' functions in Decision list leanrner?

[2018-03-24 06:46] CharuChhimpa commented on #863
@norvig, I have added one more pr adding iterative deepening search in search.ipynb. Can you please see that?

[2018-03-24 07:02] CharuChhimpa opened #880 "Adding test cases for Linear learner"

[2018-03-24 07:53] CharuChhimpa opened #881 "Adding ensemble learner in learning.ipynb"

[2018-03-24 07:54] CharuChhimpa commented on #880
@ad17, Is it fine to add test cases for linear learner?

[2018-03-24 07:55] CharuChhimpa commented on #881
@delaray, @ad71 and @norvig, Can I add ensemble learner in learning.ipynb?

[2018-03-24 08:19] ayushmankoul opened #882 "GSOC 2018: Proposal for writing POMDP-Value-Iteration algorithm"
Hello contributors,
I am Ayushman Koul, pursuing Bachelor's in Computer Engineering from the University of Jammu. I had been reading AIMA for sometime and would like to make the contribution in this repository. It will be great if someone can guide me to make baby steps.
I have spent a good time to understand the code for MDP so that I can build an algorithm for the POMDP.
Thank You in advance.
Re

[2018-03-24 10:30] #880 closed

[2018-03-24 10:47] CharuChhimpa opened #885 "Adding Linear learner in learning.ipynb"
@ad71 and @norvig, Can I add Linear Learner in learning.ipynb?

[2018-03-24 14:03] ashwinnalwade opened #886 "Adding explanation of N-gram character models in nlp.ipynb"
@norvig and @ad71 , I noticed that a discussion on N-gram character models is missing (in addition to many other key points of interest in the chapters) in nlp.ipynb .Can I add that in there?

[2018-03-24 14:55] MrDupin commented on #886
Hello @ashwinnalwade! The explanation on Char/Word models is in [`text.ipynb`](https://github.com/aimacode/aima-python/blob/master/text.ipynb). The difference between the NLP and Text modules is that Text takes care of some basic stuff and NLP using Text to do some more complex stuff.

You are free to add to the sections you mentioned, but they should remain in Text.

[2018-03-24 14:57] MrDupin commented on #881
Sure, you definitely can.

[2018-03-24 14:58] MrDupin commented on #885
Sure you can.

[2018-03-24 16:14] ashwinnalwade commented on #886
@MrDupin Thanks for the clarification.I will work on it.

[2018-03-24 18:13] MrDupin commented on #882
Hi Ayushman,

For POMDP, the relevant file is [`mdp.py`](https://github.com/aimacode/aima-python/blob/master/mdp.py). I suggest you check it out and see how you can implement it in the file. I am afraid I haven't done much work in that module, so I can't be of much more help.

Apart from that, I suggest in your proposal you mention the other algorithms too. Competition is high and I doubt just one

[2018-03-24 18:28] #886 closed

[2018-03-25 14:47] MrDupin opened #890 "Future Work on the NLP Apps Notebook"
Recently in the [nlp_apps](https://github.com/aimacode/aima-python/blob/master/nlp_apps.ipynb) notebook I added a section on the [Federalist Papers](https://en.wikipedia.org/wiki/The_Federalist_Papers). What I did was write a simple workflow from start to finish. There is a lot of work to be done still and I am opening this to community contributions, since I believe it is a great way to get start

[2018-03-25 15:57] ayushmankoul commented on #882
Hey, @MrDupin.Thank you for responding to my queries. I need some help to build my proposal though I haven't made many contributions to the repository. I am really excited about building an algorithm for POMDP-Value-Iteration and Information-Gathering-Agent and add tests to other algorithms.Simultaneously would contribute by writing notebooks but for present need advice to build proposals for the

[2018-03-25 17:54] ayushmankoul commented on #882
@MrDupin It means a lot to we students that you are guiding us.I would like to work on this [proposal](https://github.com/aimacode/aima-python/issues/890l) highlighted by you.Can I use this idea for GSOC 2018 proposal? If yes, please let me know how to build a good proposal for the same and what are prior skills required to execute this idea.Thank You for your advice.

[2018-03-25 18:18] MrDupin commented on #882
You can sure use it in your proposal, but that alone will probably not be enough. In this organization what (I think) matters most is relevant experience, so make sure you mention any that you have.

[2018-03-25 22:21] #881 closed

[2018-03-25 22:21] #885 closed

[2018-03-25 22:24] #830 closed

[2018-03-26 08:36] Dimkoim commented on #890
Hello @MrDupin! I have worked in NLP problems and I can give you some help here. :)

[2018-03-26 11:21] MrDupin commented on #890
That's great! You can work on them either on GSoC or on your own. Whenever you want to get started, don't forget to post a comment here explaining in short what you want to do.

[2018-03-26 11:37] ayushmankoul commented on #882
Sure @MrDupin Thank You, sir, for responding to my questions.If I get any problem in future will hopefully ask you.Thank You for your valuable responses.

[2018-03-26 11:39] ank-ank commented on #877
hello, @goswami-rahul is anyone is not doing work on this, can i start.

[2018-03-26 11:39] MrDupin commented on #882
No problem!

[2018-03-26 11:40] ayushmankoul commented on #641
@Chipe1 I would like to contribute by writing an algorithm for POMDP- Value iteration as a part of GSoC 2018  and simultaneously add notebook examples of incompleted algorithms and also work on deploying notebooks to make it accessible online.Any advice from you will be very helpful in this regard.Thank You in advance looking for an anticipated response from your end.

[2018-03-26 13:14] ashwinnalwade commented on #890
@MrDupin With reference to point 3,I would like to include support for both N-gram and Bag of Words models.I am mentioning the same in my proposal.

[2018-03-26 15:34] prasadgujar opened #892 "Github Respository Not Found:Invalid Link"
Hello,
While Reading Guide For The Gsoc 2018 Wiki Guidelines Page.
Page Link:
https://github.com/aimacode/aima-python/wiki
Invalid Link:
Under Bonus Point Section:
Aima Python:http://aimacode.github.io/aima-python/

[2018-03-26 15:38] ad71 commented on #892
There must have been an error. You can visit this link https://github.com/aimacode/aima-python

[2018-03-26 15:48] prasadgujar opened #893 "Invalid Link In Gsoc Wiki Guidelines Page."
Hello,
The Gsoc Aima Wiki Guidelines Page contain Invalid Link In Bonus Point Section:

1.Aima Python:http://aimacode.github.io/aima-python/
2.Existing Algorithm:http://aimacode.github.io/aima-python/
3.Algorithm Prototype  Book:https://www.ics.uci.edu/~rickl/courses/cs-171/aima-resources/Artificial%20Intelligence%20A%20Modern%20Approach%20(3rd%20Edition).pdf
4.Feedback list:https://github.com/AIM

[2018-03-26 16:03] prasadgujar commented on #892
Yes.
Maybe Repository Moved or deleted.
Link is not updated

[2018-03-26 16:35] MrDupin commented on #890
@ashwinnalwade Awesome! Good luck with your application!

[2018-03-26 16:41] MrDupin commented on #892
I fixed some of the links, but I am not sure about the rest.

[2018-03-26 16:51] prasadgujar commented on #892
hello,
can you also fix this link
Invalid link:
Algorithm Prototype Book:https://www.ics.uci.edu/~rickl/courses/cs-171/aima-resources/Artificial%20Intelligence%20A%20Modern%20Approach%20(3rd%20Edition).pdf
Correct Link:
https://faculty.psau.edu.sa/filedownload/doc-7-pdf-a154ffbcec538a4161a406abf62f5b76-original.pdf

[2018-03-26 17:11] prasadgujar commented on #890
Hello, Reference to the 2nd point . We can do some preprocessing task like ranking words/sentence in paper with reference to frequency of word/sentence occurence and uniqueness of each word by considering ranking factor like the length of word/sentence.

[2018-03-26 17:33] MrDupin commented on #892
Since I do not know why some links were shared, I will not change them. We can only wait for a mentor, sorry.

[2018-03-26 17:52] prasadgujar commented on #892
okay.No Problem.
Thanks Anyway!

[2018-03-26 18:36] #256 closed

[2018-03-26 18:37] #461 closed

[2018-03-26 20:46] Dimkoim opened #894 "Problem with the Fixed-Lag-Smoothing function."
I was working on an ipython notebook for the specific algorithm, when I came up with a weird behavior.  Let's see one of the examples in the test file.
`  umbrella_evidence = [T, F, T, F, T] `
     `e_t = F`
    `t = 4`
   `d = 2`
    `umbrella_transition = [[0.7, 0.3], [0.3, 0.7]]`
    `umbrella_sensor = [[0.9, 0.2], [0.1, 0.8]]`
    `umbrellaHMM = HiddenMarkovModel(umbrella_transition, umbrella_

[2018-03-27 01:07] ozamanan commented on #894
It seems that the output that is bring tried to achieve is `[0.1111111111111111, 0.8888888888888888]`
Line number 145 on aima-python/tests/test_probability.py

[2018-03-27 01:20] ozamanan opened #895 "Import from parent directory"
I have been facing an issue while importing modules from the parent directory.

[2018-03-27 01:22] bakerwho commented on #895
Can you elaborate? A single line of information will rarely be enough for anyone to help you.

[2018-03-27 02:24] ozamanan commented on #895
I am unable to import modules that are outside the 'tests' folder.

[2018-03-27 02:29] bakerwho commented on #895
It is really impossible to help you without more information. Read [this](https://hackernoon.com/45-github-issues-dos-and-donts-dfec9ab4b612) to see tips on this. Please keep this in mind for the future.

You can start by answering some questions.
1. What steps have you followed?
2. What error message are you getting?
3. What are you trying to do?

Btw, the link you have posted is dead. The text o

[2018-03-27 05:18] LoboLofi opened #896 "Invalid syntax in gui/eight_puzzle.py"
I'm trying to run the Gui examples, with:
`python3 -i gui/eight_puzzle.py`
And get the next out:

[code]

I've python 3.5.2 and Ubuntu 16.04.

[2018-03-27 05:21] apb7 commented on #896
Hi @LoboLofi, this isn't a syntax error actually. This feature has been introduced in Python 3.6 and would run smoothly if you update your Python version. Thanks!

[2018-03-27 05:31] vinc30 commented on #893
The correct links seem to be
1. https://github.com/aimacode/aima-python/
2. https://github.com/aimacode/aima-python/#index-of-algorithms
3. The pdf file seems to be missing
4. do you mean this (https://github.com/aimacode/aima-python/pull/158)?

[2018-03-27 05:49] prasadgujar commented on #893
Reference to 4th point.
For Javascript, there is exit following page:https://github.com/aimacode/aima-javascript/issues/158
But Python  Link Is Invalid:https://github.com/AIMACODE/AIMA-PYTHON/ISSUES/158

[2018-03-27 06:18] prasadgujar commented on #895
Hello,
The Link You Provided Is Not Working.
Can you please explain more in detail.

[2018-03-27 07:03] #896 closed

[2018-03-27 07:03] LoboLofi commented on #896
Thanks a lot @apb7

[2018-03-27 08:40] prasadgujar opened #897 "aima gsoc page is not updated:"
Hello everyone,
Following Page is not about the status of the Project4:
The Gsoc Page About Project Idea Is not Updated Status of Project4:
Not Updated part:
Translate the current exercises from LaTeX into markdown (this may be done before GSoC starts).
Can anyone update the page or give status about whether pages are converted into markdown pages or not.
I want to work project4 but due to status

[2018-03-27 09:45] Dimkoim commented on #894
Indeed @ozamanan! However, that's only part of the test. I am just using this example to show the problem.

[2018-03-29 21:47] AdityaDaflapurkar opened #898 "Empty action list for a non-terminal state not handled in player functions"
@MrDupin, @norvig The player functions in games.py currently throw an error and the execution terminates if at a certain non-terminal game state, the player has no legal moves i.e. the action list is empty. Ideally a player should lose his turn and the game should continue if there are no legal moves. How can this situation be handled?

[2018-03-30 13:58] #712 closed

[2018-04-01 14:23] nvinayvarma189 opened #901 "Errors in search notebook due to refactoring"
in #878 FIFOQueue, Stack and PriorityQueue are refactored and changes were made to `search.py`. The changes are not made in the search notebook. This causes errors in the graph visualizations like `FIFOQueue not defined`, `Stack not defined` etc. The code in the notebook needs to be updated with the code in `search.py`

[2018-04-01 14:27] MrDupin commented on #901
Nice catch! I have added the 'help wanted' label so that others can contribute to this.

[2018-04-01 14:32] nvinayvarma189 commented on #901
I have submitted PR #902. can you review that @MrDupin?  Thanks

[2018-04-01 15:48] MrDupin commented on #901
I'm afraid I am not familiar with that part of the `search` module, so I can't be of much help.

[2018-04-01 17:50] nvinayvarma189 opened #903 "add have_cake_and_eat_cake_too in planning notebook"
I see that there is no example for `have_cake_and_eat_cake_too` in planning notebook. I would like to add it.

[2018-04-01 19:00] MrDupin commented on #903
Go ahead. :)

[2018-04-03 13:21] MrDupin opened #907 "Planning Notebook: Air Cargo and Spare Tire Problems"
In the `planning` notebook, the Air Cargo and Spare Tire Problems are not explained very well. The problem statements are not as clear as they could be. They need to be explained in a bit more detail, so that readers can easily understand what is going on without having the book right by their side, going back and forth between book and notebook.

So, I suggest the introduction to these problems i

[2018-04-03 16:31] nvinayvarma189 commented on #907
I would like to work on this. I will add more information to the required sections. I will make sure that it will provide a clear idea for a student who refers to the notebook.

[2018-04-11 17:51] #898 closed

[2018-04-11 17:53] #705 closed

[2018-04-11 18:15] AdityaDaflapurkar opened #908 "Expectiminimax algorithm not generic for all stochastic games"
The current implementation of Expectiminimax algorithm is limited to the stochastic games where rolling a pair of dice is the probabilistic event. It needs to be made generic for all stochastic games so that it can handle the any type of probabilistic event as defined by the game.

[2018-04-11 19:47] MrDupin commented on #908
Sounds good!

[2018-04-14 20:15] nvinayvarma189 opened #909 "Errors in Knowledge, Probability, nlp apps notebooks"
1. `knowledge.ipynb` - Under the `Minimal Consistent Determination` section, a line of text is placed in a cell of type 'code' which causes an error.

2. `Probability.ipynb` -  `umbrella_prior` not defined error. We need to define it with some value.

3. `nlp_apps` - `federallist.txt` not found error. The federal list papers need to be added in aima-data.
Edit: A PR for adding the Federal List pap

[2018-04-15 08:41] nvinayvarma189 commented on #909
This can be closed.

[2018-04-15 08:41] #909 closed

[2018-04-15 10:01] CharuChhimpa commented on #856
@norvig, Please tell me that the functions 'find_examples' and 'passes' in DecisionListLearner needs to be implemented or not?

[2018-04-15 11:15] CharuChhimpa opened #911 "Add Neural Net Learner in learning.ipynb"
@MrDupin and @norvig, Can I add Neural Net Learner in learning.ipynb?

[2018-04-15 11:24] CharuChhimpa opened #912 "Add And_Or_Graph Search in search.ipynb"
@ad71, you were working on the algorithm. Is the implementation completed or still pending?

[2018-04-15 11:29] ad71 commented on #912
@CharuChhimpa The implementation is still pending as I am busy with my semester examinations and I won't be able to give time to this for at least two weeks now. You can go ahead with this if you want to.

[2018-04-15 11:34] CharuChhimpa commented on #912
@ad71, Can you tell me what exactly is pending in this?

[2018-04-15 11:37] ad71 commented on #912
@CharuChhimpa The algorithm itself is complete. The notebook section, however, doesn't exist.

[2018-04-15 11:39] CharuChhimpa commented on #912
@ad71, the algorithm is complete?

[2018-04-15 11:42] ad71 commented on #912
Yes, check line 683 in `search.py`

[2018-04-15 11:44] CharuChhimpa commented on #912
Ok thanks.

[2018-04-15 13:07] MrDupin commented on #911
Sorry, we already have a section on Neural Nets, on [neural_nets.ipynb](https://github.com/aimacode/aima-python/blob/master/neural_nets.ipynb). You can work more on that if you want, expanding and it and adding visualizations/examples.

[2018-04-16 14:16] brooks-lee opened #913 "Test Case for Prior-Sample Problem"
I want to implement the test case for the Prior-Sample problem. But, I am not able to have a clear idea of how to go about it. Can anyone tell me how I can approach this?

[2018-04-16 14:40] MrDupin commented on #913
I think what works best is taking a look at other similar functions from the same file and adjusting their tests for the function you want.

So, I suggest you take a look at `test_probability.py` and find how other tests in there are written. That should give you a head start.

[2018-04-18 06:28] brooks-lee commented on #913
According to the implementation, the prior_sample method returns a random event sampled from the Bayesian network, bn. So, the output is different every time. I wanted to ask how I can test this random output. One idea that comes to my mind is testing if the following equation holds:

`SPS(x1, ..., xn) = Product(1 to n) P(xi | Parents(Xi))`
This equation is in Page: 531 of the book below the Prior

[2018-04-18 06:43] brooks-lee opened #915 "Issue with Hierarchical search implementation"
Hello,
I am writing a test case for the `hierarchical_search` algorithm. However, I get an infinite loop when I execute the test case. I think there is some issue with the implementation of `hierarchical_search`. Can anyone please have a look at it once?

[2018-04-18 12:30] MrDupin commented on #913
Sure, the equation will work. I suggest you round it to, say, five digits to avoid floating point shenanigans.

Also, if the output is one from a list of outputs, you can check if `outpus in list`. This is not the best of approaches, since it is too broad, but at least it checks if the algorithm works.

Another way to write a test for random algorithms, is this: If you know that the algorithm shou

[2018-04-27 04:51] thundergolfer opened #917 "Problems in MDP class from mdp.py"
### Description

Today I picked up the `mdp.py` code to assist some work with the *Value Iteration* algorithm, and I found what I think are deficiencies with the `MDP` class and the `value_iteration()` function, particularly with respect to how they handle terminal states.

* `MDP.actions(self, state)` returns `[None]` if `state` is a terminal. This is wrong, as action needs to act as a dictionary

[2018-04-27 09:30] ad71 commented on #917
Thanks for bringing this up. The `mdp` class was written to serve as a base class and it is mostly used after defining a custom class for complicated problems, but I agree that some of these issues make the class pretty useless. The Gamma = 1 problem exists because `value_iteration` exactly follows the pseudocode from the book. I will look into this problem and make the required changes.

[2018-04-30 01:49] ad71 commented on #917
This issue has now been fixed in #918
The first two points were taken care of by the new `MDP2` class (I couldn't think of a better name).
The only change is that this class returns a transition probability of 0 when the action is `None`. This solves the problem without having to change the `value_iteration` function or the `MDP` class.
The third point was taken care of by replacing `<` with `<=`

[2018-04-30 04:28] thundergolfer commented on #917
Thanks for your work on this. Happy for it to be closed

[2018-04-30 04:28] #917 closed

[2018-05-01 14:33] ad71 commented on #901
This issue can be closed. #902 has been merged.

[2018-05-01 15:29] #901 closed

[2018-05-01 23:35] kecol opened #919 "Best First Search priority queue presents a weird behavior"
Looks like this modification to PriorityQueue.__contains__() method makes the Best First Search original implementation fails with the frontier management. The queue will not work as expected by BFS algorithm and the frontier will grow in size every time a repeated situation/state is found.

In class PriotityQueue
https://github.com/aimacode/aima-python/blob/5889656bba37e8fb7b1464bb1b9c8e0a9a9919f

[2018-05-10 19:01] #903 closed

[2018-05-10 19:01] #907 closed

[2018-05-10 19:58] MrDupin opened #922 "Federalist Papers Data"
A while ago I opened a PR on the aima-data repository to add the federalist papers needed for the `nlp_apps` section. Can it be merged so that there will be no issues when running the notebooks? [Link to PR](https://github.com/aimacode/aima-data/pull/14).

[2018-05-11 19:50] #908 closed

[2018-05-26 18:26] dsaw commented on #890
Hello, I would like to work on the first point on implementing log addition if no one is doing it yet.
We can retain the decimal library Naive Bayes implementation and add logarithmic version with it. It might be good to compare both approaches in the notebook.

[2018-05-26 18:29] ad71 commented on #890
Sure @dsaw you can get started, nobody is working on this yet.

[2018-06-01 03:06] reachtarunhere commented on #890
@MrDupin  I did some work related to language identification during my GSoC (the year before yours). This follows from an example from the book. If anyone is keen on taking this up here is the notebook. https://github.com/reachtarunhere/aima-python/blob/lang-id/lang-id.ipynb

If not I would be happy to clean it up and get it merged myself.

[2018-06-01 11:14] MrDupin commented on #890
@reachtarunhere I only skimmed through it, but it looks good. Maybe the current GSoC students can take it up?

[2018-06-02 11:32] reachtarunhere commented on #890
@ad71 or anyone else taking this up - feel free to get in touch if you need any help/clarifications. In case I miss this here (lots of notifs) you can always drop an email :)

[2018-06-12 23:40] MariannaSpyrakou opened #930 "Angelic search 11.8"
I am currently implementing the angelic search algorithm, as part of GSoC 2018 project.

[2018-07-11 05:16] #760 closed

[2018-07-16 02:08] kylekyle opened #941 "search.ipynb: Broken A* visualizations"
A few of the visualizations in the A* search (section 9) are broken. This all happened undera fresh installation of anaconda 3 (python 3.6.5). It seems to be related to the ```best_first_graph_search``` function in `search.py`, but I'm not positive.

Either way, the widget that provides a dropdown of algorithms to visualize on the Romania map fails with the following error:

[code]

A few of the 8

[2018-07-28 17:42] dsaw commented on #338
Adding cross validation to the learning notebook will be much helpful for  better understanding of the concept. I would like to contribute.
However, it seems the pseudo-code of cross validation needs some work according to the discussion [here](https://github.com/aimacode/aima-pseudocode/issues/55).
Should we wait or continue with the current version?

[2018-08-09 09:56] delaray commented on #930
Work completed.

[2018-08-09 09:56] #930 closed

[2018-08-09 23:04] MariannaSpyrakou opened #947 "GSoC 2018 - Maria Ioanna Spyrakou"
## Project: Finish aima-code algorithms and add explanatory notebooks.

#### Contributions: Finished planning (chapter 10-11) and knowledge in learning (chapter 19).

<br>

# Work Accomplished:

## Chapter 10-11, Planning:
-  Implemented [angelic search](https://github.com/aimacode/aima-python/blob/master/planning.py) algorithm.  <br>
Angelic search is a hierarchical planning algorithm that uses a

[2018-08-10 13:18] MrDupin commented on #947
Great work, well done!

Just a heads up, in the 'Experience' section you cut off the second paragraph abruptly, and the third and fourth paragraph are not separated by an empty line.

Congratulations, once again!

[2018-08-10 19:07] amartya-k commented on #947
Wow

[2018-08-11 12:33] ad71 opened #948 "What I didn't do in GSoC 2018"
__What I _did_ this summer:__
[Here is a gist](https://gist.github.com/ad71/7b3596e711b0e66d76cbae1738347b6f) of what I did. It's just an enumeration of the modules/algorithms that I worked on and doesn't go into much detail. In case someone has queries or questions, hit me up anytime.

__What _remains_ to be done:__
Everything apart from the following three algorithms, has been implemented with t

[2018-08-12 15:51] delaray commented on #947
This is awesome Marianna, you did a great job. I think you chose a good level of granualarity. Thank you for adding the experience and future contributions sections. These will be especially useful to other aima-python contributors as well as future GSOC applicants.

[2018-08-27 21:56] norvig commented on #428
I can't get the right requirements.txt for mybinder.

It is complaining that there is no compatible version of PIL.

Anyone able to help?

[2018-08-27 22:02] ad71 commented on #428
@norvig Try adding `pillow` and `Image` to requirements.txt

[2018-09-01 09:40] aakashdeep791 opened #951 "Error in mdp_apps.ipynb"
While running

mdp = CustomMDP(t, rewards, terminals, init, gamma=.9)

getting this error:-

['sleep', 'facebook', 'quit', 'study', 'pub']
Could not retrieve states from transitions
Warning: Transition table is empty.
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-7-09d6e6e70a9c>

[2018-09-01 11:29] ad71 commented on #951
In `CustomMDP` there is a line that calls the constructor of the base class. Replace it with:
[code]
Tell me if this doesn't work.

[2018-09-01 13:28] aakashdeep791 commented on #951
Yes, its working now, thanks. But, there are still some errors in the later code.

In valueiteration(mdp)    getting this error:-

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-8-0a7baeac31c2> in <module>()
----> 1 value_iteration(mdp)

D:\Australia\UOW\Spring 2018\Reasoning and

[2018-09-10 01:34] khatiwadaaj commented on #951
aakashdeep91: have you got any further with this?

[2018-09-11 04:02] aakashdeep791 commented on #951
I found a workaround, but not sure whether its correct.

In mdp.py file, if you update the "get_states_from_transitions" method with the below code, it should give the expected output.

 def get_states_from_transitions(self, transitions):
        if isinstance(transitions, dict):
            s1 = set(transitions.keys())
            return s1
        else:
            print('Could not retrieve stat

[2018-09-19 15:13] mkhalid1 opened #958 "Comment in agents.ipynb [line 124 - raw] doesn't make sense"

[2018-09-20 16:54] dsaw opened #961 "HybridWumpusAgent class not working as expected."
As noted elsewhere, this is already an issue needing work.
Running the percept function after initializing the `HybridWumpusAgent` object resulted in an NameError. It seems there were no Percept classes to compare with, so I changed it to compare with ` Expr ` of different Percepts and fixed a typo.

After that I tested it by running execute function. It just does not stop running, gets stuck on r

[2018-09-21 17:18] llucifer97 commented on #890
hi @MrDupin  I have some experience in nlp would like to solve the issue if this issue is still open
I would be working on case 2 , would like to use different methods like bag of model.

[2018-09-21 22:16] MrDupin commented on #890
@llucifer97: You can definitely work on the issue! Simply fork the repository, make your changes to the notebook, and submit a Pull Request.

If you need any help, feel free to ask (although I am swamped with work at the moment so I am not sure I will be able to provide much help).

[2018-09-22 14:45] #958 closed

[2018-09-29 13:41] aditya-hari commented on #890
Hello @MrDupin.

Would I be right in assuming that this isn't an issue that someone completely new to opensource and AI-related topics can handle? I am well versed with Python but have never dabbled with this sort of thing.

Apologies if this is a very trivial question.

[2018-09-29 15:34] MrDupin commented on #890
@aditya-hari: Hmmm, I'm not sure... I don't think any past experience with open-source is necessary, but I believe some understanding of the AI concepts covered in this notebook is a must. If you want you can take it on, but it seems to me that it will be difficult to make much progress efficiently, mainly because not only do you have to execute the concepts, but also showcase them in a manner in

[2018-10-01 11:46] aditya-hari commented on #890
Is encouraging to know that past experience isn't necessary.

Could you kindly guide me to some resources which can help me get up to speed? Or point me to some other issues which would be easier to start off with?

Would really appreciate any help.

[2018-10-07 17:48] Noumanmufc1 opened #972 "Error in learning_apps notebook"
There seems to be an error in the learning_apps notebook. Don't know exactly what is causing that but when the an object of DataSet is initialized with the MNIST or the Fashion MNIST dataset, it gives the following error:
"ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()". Can someone help regarding this?

[2018-10-12 16:16] MrDupin commented on #890
Hi @aditya-hari, sorry for taking so long to get back to you.

The way this repository works no longer involves issues (there are exceptions though). The main work remaining is to simply add to the notebooks.

For NLP, I am afraid there's not much I can say. Personally, I was just looking around the internet for information, I was never taught anything in a class. I suggest you snoop around and tr

[2018-10-13 18:58] Noumanmufc1 commented on #972
@ad71 any idea about this?

[2018-10-14 04:46] ad71 commented on #972
Sure, it's a minor issue, I'll submit a PR right away.

[2018-10-14 23:55] LucianaMarques commented on #735
Hi,

Does this still need help? I would certainly like to try.

[2018-10-15 23:34] ParthS007 opened #974 "Assignment of a variable to itself in Planning.py"
Please have a look at code snippet from [`Planning.py`](https://github.com/aimacode/aima-python/blob/master/planning.py)

![image](https://user-images.githubusercontent.com/24358501/46983869-1659f700-d100-11e8-980b-8b705e6d0b1f.png)

`clauses = clauses`

This assignment assigns a variable to itself & assigning a variable to itself is redundant and often an indication of a mistake in the code.

I w

[2018-10-16 08:51] ParthS007 commented on #974
@ad71 Thanks for the comment. Should I close the Issue?
Can you please redirect me to some beginner friendly Issues. I want to start contributing to this repo.
Thanks

[2018-10-16 11:45] ad71 commented on #974
You should probably change that line to `pass` because that is syntactically appropriate.
Apart from that, you can look for similar errors throughout the repository. I'm sure there are quite a few semantically incorrect snippets. Unfortunately, we don't have records of such errors.
You can probably try solving #961 if you're familiar with agents in an environment or first-order logic, or you can h

[2018-10-21 17:42] #972 closed

[2018-10-29 07:37] vaibhavshukla182 commented on #890
Can I add some data preprocessing and data visualisation techniques?

[2018-10-29 11:14] MrDupin commented on #890
@vaibhavshukla182: This sounds great! For the nlp stuff though, don't use any external libraries. We want to keep all the code right in front of the student, with no middle-man. Feel free to use visualization libraries (preferably `matplotlib`) for the viz stuff.

[2018-11-06 19:23] cursed4ever commented on #890
@MrDupin I too want to work on the visualisation technique. I was thinking of implementing t-SNE for dimensionality reduction. I know this will not bring in great results for a big dataset. Also i want to add tf-idf and word2vec in addition to BOW and n grams.
Can also work on with different algos on the same dataset like KNN and time split(temporal) data KNN and so on.

[2018-11-06 19:37] cursed4ever commented on #890
Also i think i might have to add some additional dataset on which i can do some super wised classification and do a polarity based t-sne visualisation aswell as for KNN.

[2018-11-06 20:18] MrDupin commented on #890
@cursed4ever I think for now TF.IDF would be a nice addition, if you want to get started with it.

[2018-11-07 08:15] cursed4ever commented on #890
@MrDupin I am working on a toy dataset containing amazon customer reviews and implementing BOW, N-grams and tf-idf and providing visualisation for the same.

[2018-11-07 11:37] MrDupin commented on #890
@cursed4ever This sounds good. Just make sure we actually have the right to publish and use the dataset you are working with, using proper attribution.

[2018-11-07 11:43] cursed4ever commented on #890
I am currently using a dataset published on kaggle so i believe it is opensourced and we can use it. Correct me if i am wrong.

[2018-11-07 16:12] MrDupin commented on #890
I am not familiar with Kaggle's licensing terms, so I can't say for sure. Usually they will share their license in the dataset page, but you may need to ask them if you have permission to redistribute their data.

[2018-11-07 16:16] cursed4ever commented on #890
I asked the organisation, they said that their dataset is free to use for academic purposes. They only require to site their website in the publication.

[2018-11-07 17:18] MrDupin commented on #890
OK, then it's fine if you use it here, thanks!

[2018-11-11 16:38] Horopter opened #983 "Logical expressions evaluate to TRUE by default"
Please check why kb.tell(expr('a-b>50')) evaluates to true by default and fails in is_definite_clause function of logic.py.

[2018-11-12 07:15] ad71 commented on #983
`is_definite_clause` is a function that evaluates to true if there is only one positive clause in the given expression. It doesn't use `kb.tell` anywhere in the code.
Moreover `kb.tell` never evaluates to anything, it just adds a clause to the kb, but depending on the type of kb, this functionality might be altered.
Further, expr doesn't support the < and > operators. Neither does it support subtr

[2018-11-13 06:03] Horopter commented on #983
Is there a way to evaluate Arithmetic and Logical expressions in this code? For reference, consider the infamous Marcus paragraph. How do I answer the question 'Is Marcus alive now?'

[2018-11-14 06:55] tirthajyoti opened #984 "Utility function to generate arbitrary list of lists for bigger grid world"
I am proposing a simple utility function to **generate Grid World MDP of arbitrary size and complexity**. It will generate a list of lists in the same format which is accepted by the `GridMDP` class.

[code]
**Testing with the default...**
[code]

**Bigger world**
[code]

[2018-11-14 10:09] ad71 commented on #984
This is a good idea. Please go ahead.

[2018-11-14 15:17] MrDupin commented on #984
I agree, this is great, thanks!

[2018-12-05 07:12] Insiyaa commented on #890
Hey, I hope this issue is still open. I'd like to add some pre-processing tasks + analysis of the text.

[2018-12-05 07:15] ad71 commented on #890
@Insiyaa sure, go ahead.

[2018-12-06 10:39] dave-light commented on #890
If not are there any other issues you'd suggest I get stuck into? I'm comfortable with python and have experience with AI (incl. NLP). Thanks.

[2018-12-06 11:17] ad71 commented on #890
@dave-light There hasn't been much progress on this issue. Feel free to work on whatever aspect you feel like and submit a pull request. @MrDupin can guide you further for NLP-specific queries.

[2018-12-12 06:05] hackerashish25 commented on #890
@MrDupin  sir I want to add genism and lemmatization in it

[2018-12-12 10:31] Dimkoim commented on #890
@hackerashish25 Although I am not @MrDupin  if you scroll up you can find in one of his replies the following:

[2018-12-15 16:57] sagar-sehgal commented on #896
@apb7 @ad71 It has been mentioned in the [README](https://github.com/aimacode/aima-python#python-34-and-up) that we can run it with Python3.4 and up.
So we can still make this compatible for lower version of python by using
`b[zero_ix] = Button(root, text=state[index], width=6, font=('Helvetica', 40, 'bold'), command=partial(exchange, zero_ix))`
There is a simmilar isssue in [gui/grid_mdp.py](http

[2018-12-15 20:18] ad71 commented on #896
@sagar-sehgal As long as everything still works on Python 3.4+, we're good. You can submit a PR.

[2018-12-16 11:20] sagar-sehgal opened #992 "URLs not working in intro.ipynb notebook"
@norvig , @chiragvartak , @MrDupin , @ad71
In [intro.ipynb](https://github.com/aimacode/aima-python/blob/master/intro.ipynb) notebook in the **What version of Python?** section, 2 URLs are not working.

1. The link to the [legacy branch](https://github.com/aimacode/aima-python/tree/aima3python2) gives 404 error.
2.  The link to [Anaconda](https://www.continuum.io/downloads) is also not accessible.

[2018-12-16 17:03] MrDupin commented on #992
Good catch, it's fixed now.

Thanks!

[2018-12-16 17:03] #992 closed

[2018-12-17 14:06] sagar-sehgal commented on #896
@ad71 @MrDupin  Sorry for replying late but, I submitted th PR for the changes in gui/eight_puzzle.py and gui/genetic_algorithm_example.py  but I didn't do that for gui/grid_mdp.py . Actually  on applying the above changes in grid_mdp.py and then running the code, it was fine until I clicked on a cell. On clicking on a cell and providing it a reward/making it a terminal/making it a cell it was sho

[2018-12-17 14:37] ad71 commented on #896
@sagar-sehgal Tkinter has been updated since the time this program was written. You can submit a PR with the updates you mentioned. I think the GUI improvements you suggested are also worth implementing. Please go ahead. Thanks!

[2018-12-17 15:06] sagar-sehgal commented on #896
Thank You @ad71 !

[2018-12-18 21:08] sagar-sehgal commented on #922
@MrDupin Actually I think there is some issue with this. Just now I faced an issue while running nlp.ipynb and just to recheck I cloned to complete repository again as mentioned in the README and finally found that the file `"EN-text/federalist.txt"` wasn't there in my system.
![screenshot from 2018-12-19 02-21-30](https://user-images.githubusercontent.com/22503629/50182234-d21fe880-0334-11e9-9f03

[2018-12-18 21:15] MrDupin commented on #922
OK, I'll take care of this. Thanks for bringing it to my attention!

[2018-12-19 04:56] sagar-sehgal commented on #922
Yes, it's fixed and working fine. Thank You.

[2018-12-19 16:40] pyaf commented on #856
Hey guys, I've looked into `DecisionListLearner` as mentioned by @CharuChhimpa `find_examples` and `passes` are not implemented (or it is because it is meant to be a Base class for other classes?).

I would like to complete `DecisionListLearner` as mentioned in the pseudocode. Should I go ahead with this?

[2018-12-19 16:43] MrDupin commented on #856
@pyaf: Yes, that would be awesome!

[2018-12-19 16:50] pyaf opened #995 "A bug in the `cross_validation` function"
Hi,

Currently, `[cross_validation](https://github.com/aimacode/aima-python/blob/master/learning.py#L1061)` function shuffles data before every step of k fold cross-validation [[here](https://github.com/aimacode/aima-python/blob/master/learning.py#L1082)]. Which is wrong because of this the test set at each step is not unique (when compared to all the other steps) which gives us the wrong k fold c

[2018-12-19 17:05] ad71 commented on #995
The implementation for the cross-validation algorithm has been up for debate for quite some time now. Refer to [this issue](https://github.com/aimacode/aima-pseudocode/issues/55) and [this issue](https://github.com/aimacode/aima-python/issues/566) for details. It needs to be re-implemented but we haven't reached a conclusion yet. This will probably be updated in the newer versions of AIMA.
However

[2018-12-19 17:09] pyaf commented on #995
I see a `# TODO: The function cross_validation_wrapper needs to be fixed. (The while loop runs forever!)` before `cross_validation_wrapper`. Is this the issue here? Like what exactly is the debate here?

[2018-12-19 17:18] ad71 commented on #995
The debate here is that the conventional meaning of `cross_validation` has changed since the time AIMA was first written. The pseudocode in AIMA does different things than what `cross_validation` in `scikit-learn` does for example. We are unsure as to what the goal of the `cross_validation` function in the repo is, to implement the pseudocode from AIMA or the more commonly accepted implementations

[2018-12-19 19:57] sagar-sehgal commented on #890
@MrDupin for the preprocessing of text we must remove numerics from the text since we are only dealing with textual data. So, should I go ahead and add this part to pre-preprocessing of data.  Further, I couldn't find any implementation TF-IDF as mentioned by others above in the conversation. Is anyone still working on it? If not, can I start working on it?

[2018-12-20 04:43] hackerashish25 commented on #890
@MrDupin I have made 1 PR for text-processing . Now I would like to add tf-idf for text processing but can I use external library to do so

[2018-12-20 16:37] hackerashish25 commented on #995
@pyaf  sir I made a PR related 995 issue now what else we can do here

[2018-12-21 15:23] pyaf commented on #948
I would like to fix the issues with `HybridWumpusAgent`, can I take this up?

[2018-12-21 15:31] ad71 commented on #948
@pyaf Sure, nobody else is currently working on this issue, please go ahead.

[2018-12-22 06:35] kunwar31 commented on #961
Typos aside, possible fixes for this could be optimising pl_resolution() function or shrinking the knowledge base as much as possible. I'd like to work on this.

[2018-12-22 13:39] MrDupin commented on #890
@hackerashish25 What external library are you planning on using? Quite a while ago I wrote an implementation for tf-idf, and it did not require any libraries, if I remember correctly.

[2019-01-06 08:40] be-low opened #1003 "some error"
utils.py, line 243 has one more character 'w'.

[2019-01-06 13:40] ad71 commented on #1003
You're right. Maybe @MrDupin can add a commit.

[2019-01-06 13:44] vonunold opened #1004 "Typo in utils.py"
With the latest commit (commit id c754f17) a typo was added to line 243 in file utils.py,
i.e. the character 'w' at the beginning of line 243

[2019-01-06 18:47] MrDupin commented on #1004
I fixed it now, nice catch!

[2019-01-06 18:47] #1004 closed

[2019-01-06 18:53] MrDupin commented on #1003
Yep, fixed it. Thanks for letting me know!

[2019-01-06 18:53] #1003 closed

[2019-01-07 05:12] rshrc commented on #858
Yeah, I saw the same scattered out project structure, this issue is still open though? @ad71 is work going on the restructuring?

[2019-01-07 05:30] ad71 commented on #858
Sure. Thanks!

[2019-01-07 05:37] rshrc commented on #858
Since we are not restructuring the project structure of aima-python, there are many issues that need addressing. aimacode/aima-python#772 aimacode/aima-python#858 @MrDupin

[2019-01-08 18:03] AbhayGaur commented on #948
wow

[2019-01-08 18:58] heisenbuug commented on #947
@MariannaSpyrakou I want to continue your work in GSoC 2019, can you suggest me a specific topic or place to start my work? It would be very helpful.

[2019-01-09 09:55] himanshupathak21061998 commented on #569
Sir @MrDupin I am working on this issue I am adding Water Pouring Problem in search.py  But some issues I can't able to deal with

- To visualize Water Pouring Problem I need a searcher algorithm

- I am using uniform_cost_search for it but to define uniform_cost_search FrontierPQ class should be defined

- But notebook.py class does not contain FrontierPQ class should I define it in notebook.py
o

[2019-01-09 17:31] MrDupin commented on #858
I would say this is up to @norvig. I would like to see a structure as suggested [here](https://github.com/aimacode/aima-python/issues/772#issuecomment-373430188) by @ad71, but it is not up to me.

[2019-01-12 16:50] KumarArindam commented on #948
Wow. Great job.

[2019-01-12 17:07] EBLyf commented on #948
dayum...you fine baby....

[2019-01-13 12:11] ankursikarwar commented on #948
I would like to work on an interactive GUI app for the visualization of the backpropagation algorithm from chapter 18.

[2019-01-13 12:16] ad71 commented on #948
@ankursikarwar sure, go ahead.

[2019-01-23 14:31] sagar-sehgal opened #1015 "product function in `utils.py`"
In `utils.py` file in the [`product`](https://github.com/aimacode/aima-python/blob/25c2a9b6ef861a018554318e6c1a5741924a425a/utils.py#L56) function .
But if we call functions like
- `product([1,"a",3])`  return "aaa"
This is correct but what should I do with it. Should a test be added for it?
- `product([1,"a","b",3])` gives error for multiplication of 2 strings.
Or an assertion must be created to

[2019-01-24 04:51] sagar-sehgal commented on #829
@goswami-rahul  I was just seeing the function, and I wasn't able to figure out what will be the use of the  `__getitem__` function. Like we are giving value and getting that itself as output if it is there in the PriorityQueue. It means the same thing as `__contains__` does i.e. to find if an element is there in the Queue or not. Instead of doing like this returning the value at an index would be

[2019-01-25 12:21] alannair commented on #856
Hi!
I'm new here, but I'd like to handle this issue as well.
To start with, I see in the `learning.ipynb` file, there is a reference to a method `pseudocode` that should return the pseudocode of Decision Tree Learning, but this method seems to be missing in the `learning.py` file. Shall I add that?

[2019-01-26 15:19] hackerashish25 commented on #1015
@sagar-sehgal  product([1,"a",3]) is returning "aaa" so how it could be correct . [product](https://github.com/aimacode/aima-python/blob/25c2a9b6ef861a018554318e6c1a5741924a425a/utils.py#L56) shold return product of number otherwise assert an error

[2019-01-29 07:48] rajatjain1997 commented on #961
@kunwar31 was this issue resolved in your PR? If not, I'd like to take up this issue 😄

[2019-01-29 08:58] heisenbuug commented on #947
@MrDuplin I want to start working, can you guide from where I can start or rather from where shall I continue.

[2019-01-29 12:39] kunwar31 commented on #961
@rajatjain1997 I am already working on this issue, the previous PR is for minor typos only.

[2019-01-31 05:35] rajatjain1997 commented on #858
While we are not restructuring the repo, I think we should at least have a one-to-one correspondence on the "List of Notebooks" section with the chapters in the book. We could do this by mentioning the chapters that each notebook covers against their names. It'll make it easier for students to find the notebooks they need.

Something like this is already being attempted at aimacode-js: http://aima

[2019-02-01 15:40] MrDupin commented on #890
@Ask149: I am not familiar with Particle Swarm, but SGD is something that can be implemented here, sure!

[2019-02-05 08:47] JayantSravan commented on #890
Hey @MrDupin,
I want to contribute to aima-python. I am interested and experienced in the fields of NLP, genetic algorithms, particle swarm optimizations, reinforcement learning and information retrieval. Any pointers you could give me on what project should I take up? I want to do it as my GSoC project.

[2019-02-06 14:27] ShaswatLenka commented on #890
Hello @MrDupin, I want to take up the third pointer of your issue description i.e, implementing the N-gram model and explaining the same in the notebook.
Also, I would like to add a tag recommendation system in the notebook using tf.idf or another algorithm (if anyone implements). If not, I can implement that too. What do you think about it?

[2019-02-07 05:50] ShaswatLenka commented on #890
Hello @MrDupin , Can I take on "sentiment analysis" for the apps notebook if no one is working on it? Also I would like to implement customisable vectorisers as utility functions that can come handy in many situations.

[2019-02-10 02:42] rajatjain1997 commented on #919
You are correct, frontier size will increase not only in the case of BFS but also in the instances of A* algorithm where the heuristic function has different values for the same node depending on the path taken. Thanks for pointing this out. I will try to resolve this issue ASAP :-).

[2019-02-10 02:55] rajatjain1997 opened #1024 "PriorityQueue needs rework"
As pointed out by #919 and #941, the implementation of A* needs rework.

[2019-02-10 03:17] rajatjain1997 commented on #829
@sagar-sehgal The __getitem__ function works quite differently than __contains__. We might just need both of them for different algorithms here.

*Example:*
Take two objects (_a_ and _b_) of the same class, they will be stored as: ( f_val:1, id:1), (f_val:2, id:1). Here the same id implies that the objects are equal according to their __eq__ function, but have a different f-value in the queue. Fur

[2019-02-11 15:41] ThuriyaThwin opened #1027 "Erro while running py.test"
py.test
============================= test session starts ==============================
platform linux2 -- Python 2.7.15rc1, pytest-3.3.2, py-1.5.2, pluggy-0.6.0
rootdir: /home/thuriyathwin/aima-python, inifile: pytest.ini
collected 0 items / 14 errors

[2019-02-11 16:08] sagar-sehgal commented on #1027
@ThuriyaThwin It seems that you are running the code in python 2.7. But the system is made to run for Python3.4 and up. It has been mentioned [here](https://github.com/aimacode/aima-python#python-34-and-up).

[2019-02-12 14:48] uchihabloodline commented on #911
Can I add more implementations and algorithms regarding neural Nets and related algorithms in this section. I have been studying Deep learning since a while and now want to contribute regarding the same as I will be applying for the GSOC this year.

[2019-02-13 11:27] MrDupin commented on #911
@uchihabloodline: Depends on the algorithm. If it is a simple enough implementation, you are more than welcome to try it!

Remember that we want to keep the project as devoid of external libraries as possible.

[2019-02-13 15:45] zeph1yr commented on #1024
Is this issue resolved? If resolved, why is it still open?

[2019-02-13 16:10] uchihabloodline commented on #911
Yes, mostly I am gonna implement most of the algorithms using the usual libraries of python(say Numpy) but some of them might contain some high level API like keras, tensorflow or pytorch but I,ll try to make sure this does'nt happen. Will it be fine for proposing abstract of project in GSOC-19??

[2019-02-13 19:41] MrDupin commented on #911
@uchihabloodline: I don't think keras/tensorflow/etc. are libraries we want to be using in this project, since their installation is not always straightforward and some people may not want these libraries. This project is more for educational purposes, providing background on some algorithms.

Having said that, Dr. Norvig did mention once that he wants to start integrating tensorflow in this proje

[2019-02-14 07:47] rajatjain1997 commented on #1024
Yes. My PR works to resolve this issue and those I've mentioned in it. I think they'll be closed once the PR is merged.

[2019-02-15 08:05] uchihabloodline commented on #911
Ok, I,ll make sure that every algorithm I propose will be implemented from scratch using the usual libraries of python only. From Variational auto encoders to Boltzmann machine.

[2019-02-18 18:55] zeph1yr commented on #948
Thanks for your efforts, Is there anything on this list incomplete which I can try to contribute to?

[2019-02-18 23:53] ad71 commented on #948
@zeph1yr `HybridWumpusAgent` isn't fully functional yet, `cross-validation` is on a bit of a hiatus and `decision list-learner` has been implemented by @pyaf .
The 'What else...' section is still open for experimentation. If you have a new idea, create an issue if you want to discuss with the collaborators or drop a PR if you're confident.

[2019-02-19 05:36] rajatjain1997 opened #1030 "Import statements in try-except block"
In `agents.py` I stumbled onto the following import statements:

https://github.com/aimacode/aima-python/blob/e9033cf7a46478a8af93831784695a68c128e165/agents.py#L577-L582

These import statements are used to render graphics by the `GraphicEnvironment` class defined just below it. However, since these packages are not mentioned in `requirements.txt`, neither binder nor any developer installs them b

[2019-02-27 23:08] Akhelesh commented on #913
Since there has been no progress of this issue for a long time I am taking it up.

[2019-02-28 07:38] aasthasood commented on #890
Hello @MrDupin, I am interested in sentiment analysis and would like to contribute to the NLP Apps notebook. Any pointers you would give me, as I want to do this for my GSoC project.

[2019-02-28 07:52] dshahid380 opened #1032 "Deprecation Warning in csp.py and agent.py"
**There is a deprecation warning in `csp.py` and `agents.py`**

- **csp.py**      - Deprecation warning appears when i run `py.test` in my local environment due to invalid escape sequence.

- **agents.py**   - Deprecation waring comes when i run `py.test` in my local environment  due to collections.Callable in line 89.

![screenshot 41](https://user-images.githubusercontent.com/36432967/53549968-a

[2019-03-01 06:54] abhinavsagar commented on #1027
I think the issue is with Python 2.
This is only supported in Python 3.

[2019-03-01 18:41] abbas5253 commented on #911
@MrDupin and @norvig can add optimization algorithm for gradient desent in Backproplearner() such as Adam Optimizer option in the neural net in learning.py which takes extra argument in NeuralNetlearner() as Optimization_for_gradientDescent = True/False and can function accordingly...

[2019-03-01 19:00] #1027 closed

[2019-03-02 11:30] MubashirullahD commented on #1032
Hey @dshahid380
I do not get the deprecation warning:

![image](https://user-images.githubusercontent.com/45071858/53681208-ff5f1e80-3d07-11e9-9db5-ee26775e4344.png)

I can see the version of python 3 you are using is newer than mine.

[2019-03-02 11:49] dshahid380 commented on #1032
You are using python 3.6.x and mine is 3.7.x that is why you did not get any warning. If you observe my screenshot carefully then you will notice that `collections.Callable` will be deprecated in python 3.8.x. It will work fine if you have python version less than 3.7.x.

[2019-03-02 12:14] MubashirullahD commented on #1032
Wouldn't I get a warning too since I'm using a version older than yours? :thinking:
Thanks.

[2019-03-03 11:30] MrDupin commented on #911
Hello @abbas5253, you can definitely add that, great idea! Just remember to keep the code as simple as possible with no use of external libraries.

[2019-03-03 12:00] MrDupin commented on #890
Hello all (@JayantSravan, @ShaswatLenka, @aasthasood). Thank you for your interest in this project.

For sentiment analysis, you can pick a project and work on it. A popular one is the movie reviews dataset. I would prefer if you picked something else (you can research "sentiment analysis datasets" on Google). Pick a relatively small dataset and work on it.

Remember though that you cannot use any

[2019-03-03 18:28] DeVil2O commented on #1032
Hey! Can I take this issue?

[2019-03-03 18:41] dshahid380 commented on #1032
Yeah sure! But i have already created pull request for the same.

[2019-03-03 19:38] abbas5253 commented on #911
ok I'll make sure that no external library will be used

[2019-03-04 14:01] KanakalathaVemuru opened #1035 "Giving manual choice for the agent location in xy_vacuum_environment.py"
Hi!
I have seen your code and it seems to me that you can improve it by adding an additional feature of having the agent's position, flexible in xy_vaccum_environment. This can be done by adding an extra button to change the position of the agent. I have written and implemented the code and this is the screenshot of it.
![vacuum](https://user-images.githubusercontent.com/46847239/53732818-0a9b8100

[2019-03-04 17:24] MrDupin commented on #1035
This looks good, have you made a Pull Request with your changes?

[2019-03-05 07:44] KanakalathaVemuru commented on #1035
Yes, I made a pull request.

[2019-03-05 19:35] rushic24 commented on #890
Hi @MrDupin, can you repost what else is left to be done i see log,visualization,preprocessing is already completed, can i go with sentiment analysis ?

[2019-03-05 20:20] MrDupin commented on #890
@rushic24: Sure, you can do solve some sentiment analysis problems. Sounds good!

[2019-03-06 07:44] Kaustav97 commented on #890
Hi @MrDupin , has anyone taken up the sentiment analysis example? If not, I can contribute since I have prior work on IMDB dataset, which I can probably re-use. Also, I can take up the explanation of the 'Question Answering' section in nlp.ipynb? Thanks.

[2019-03-06 08:05] rushic24 commented on #890
@MrDupin i had written twitter sentiment analysis few weeks back, can that be put that here ?

[2019-03-07 17:36] MrDupin commented on #890
@Kaustav97: Sure, you can do Sentiment Analysis and/or Question Answering. Just remember to only use as basic Python as possible to explain the algorithms.

@rushic24: That sounds great as well.

[2019-03-07 18:14] sagar-sehgal commented on #890
@MrDupin Can I add `Soundex` based phonetic search in [nlp_apps](https://github.com/aimacode/aima-python/blob/master/nlp_apps.ipynb) notebook? I don't think I would be needing any external dataset for this.

[2019-03-09 13:51] dshahid380 commented on #1030
I would like to take this issue.

[2019-03-09 16:13] sagar-sehgal commented on #890
@MrDupin I was planning to add Text Classification, using Naive Bayes Classificattion into different classes like if "apple" in a statement reffers to `apple inc. company` statement or `apple fruit`. Can I proceed further with adding it in the `nlp_apps.ipynb`? Also I had 1 doubt, should I add a dataset for this, or should I work out an example using just 4-5 example sentences of each class. And t

[2019-03-09 17:05] sagar-sehgal commented on #1015
I tried to solve the issue by adding an assert statement like:-
[code]
it solved the above issue but on testing 2 cases failed.

![Screenshot from 2019-03-09 22-33-10](https://user-images.githubusercontent.com/22503629/54074669-55f5cb00-42bb-11e9-93b6-b3bfed4a365b.png)

The reason being that, for multiplying, instead of sending the list, it is being called from a generator like [here](https://gith

[2019-03-09 17:43] rajatjain1997 commented on #1030
Umm... My PR already works on solving the issue.

[2019-03-09 17:48] dshahid380 commented on #1030
But you did not get murge right.

[2019-03-09 18:08] ad71 commented on #1030
#1031 will be merged soon @dshahid380 .
This issue will be closed as soon as that is done. Till then, consider this resolved.

[2019-03-09 23:13] MrDupin commented on #1015
I don't think this is an issue, more of a side-effect. `product([1,"a",3])` is not something that we are expecting to do here, so there is no need for any fix. The function is used to compute the product in a list of numbers, so there is no need to perform any checks.

Remember that this is an educational project that aims at teaching AI. We don't have to be this careful about this sort of things.

[2019-03-09 23:13] #1015 closed

[2019-03-09 23:14] MrDupin commented on #1035
Looks good. Now you just have to wait for @norvig to merge this. Nice work!

[2019-03-09 23:53] MrDupin commented on #890
@sagar-sehgal: You can add Soundex, if the implementation is simple enough (I have not heard of the algorithm). Also, you can work on classification, even though it would be best if you used datasets already in aima-data.

[2019-03-10 04:03] sagar-sehgal commented on #890
@MrDupin Soundex in a phonetic coding algorithm which gives a code of a specific length to every word as pronounced in English. It helps in searching through the documents even if we have made a spelling mistake (because of the difference in the way of pronounciation) since the Soundex code would still remain the same. For eg:- "Robert" and "Rupert" both have Soundex code as "R163".

For Classifia

[2019-03-10 17:40] MrDupin commented on #890
@sagar-sehgal: Soundex sounds good, although it all depends on the implementation. If it is short and there is a nice description to go with it, it's all fine.

For the Classification task, if defining 2-3 sentences for each class in the notebook works, then it is great!

[2019-03-11 11:01] Pihu1998 commented on #995
Hi! I would like to know whether this  issue is resolved.

[2019-03-11 15:03] pyaf commented on #995
@hackerashish25 you should ask aima-python mentors for that :)

[2019-03-11 23:26] sagar-sehgal commented on #890
@MrDupin As I had mentioned earlier, I was working on Text Classification. Since Text Classification is a broad topic and many other topics Sentiment Analysis, Topic Labelling, etc. come under it.

So I planned to go with Topic Labelling on whether *apple* word in a sentence refers to `fruit` or `company` class. I planned to go with Naive Bayes classification and wrote everything completely and th

[2019-03-12 13:12] MrDupin commented on #890
You can still push your work on Topic Labeling, as long as you explain what is going on. The solution may be pretty much the same, but the application is different, so having an example on it won't hurt. Reusing the same code to solve a different problem is even better, showcasing that there is an underlying structure to a lot of NLP problems.

[2019-03-12 22:12] sagar-sehgal commented on #890
@MrDupin I wrongly referred the concept as of **Topic Labelling**.  Classifying the word *apple* as referring to the `company` or `fruit` is **Word Sense Disambiguation** and not **Topic Labelling**. Although both of them are an application under **Text Classification** and have the same procedure. I am really sorry for the wrong name.

[2019-03-15 01:05] MrDupin commented on #890
The PR looks fine, thanks! I have made some comments.

[2019-03-16 03:15] vinayak-tyagi commented on #995
Hello sir,

I am new to this code and i was trying to read/understand this code(learing.py)
and i found something it may be my misunderstanding if it is so i apologies

I was reading ur learing.py code cross_validation function i found the same function(cross_validation function) is called inside same function(cross_validation function)
Line 1066 inside 1056
would u plzzz explain ???

Screenshort

[2019-03-16 05:03] vinayak-tyagi opened #1046 "cross_validation in learning.py"
Hello sir,

I am new to this code and i was trying to read/understand this code(learing.py)
and i found something it may be my misunderstanding if it is so i apologies

I was reading ur learing.py code cross_validation function i found the same function(cross_validation function) is called inside same function(cross_validation function)
Line 1066 inside 1056
would u plzzz explain ???

Screenshort

[2019-03-16 22:55] sagar-sehgal commented on #1046
@vinayak-tyagi The main `cross_validation` function is in the `else` part. When we have more than 1 `trials`, then the `cross_validation` function is called `trial` number of times and the average value received is returned.

[2019-03-17 05:39] #1046 closed

[2019-03-19 09:44] SiluPanda opened #1047 "[query/suggestion] Choosing sampled data points in Adaboost"
Are we using sampled weights for hypothesis training in [AdaBoost](https://github.com/aimacode/aima-python/blob/5e5b51c47a6573c636c424e67bcae8dbbbebc87e/learning.py#L935-L958)? If not should not we be doing that?
Sampled weight means, choosing a set of data points from the training set according to their weights. It increases the chance of a misclassified point to get chosen with a greater probabi

[2019-03-19 10:09] MrDupin commented on #1047
Hmm, this looks very interesting, but I am not sure if the AdaBoost implementation is needed at the moment. For that, only @norvig can respond, but he is very busy at the moment. If you are doing this for GSoC, you can add in your proposal that you will do some work on neural networks. I think that would be a really interesting idea, but as a PR, it would be too large for me to merge.

[2019-03-19 10:19] SiluPanda commented on #1047
Yes, Thank you, I'll add that on my proposal.
Another small query, what is exaclty `size` [here](https://github.com/aimacode/aima-python/blob/5e5b51c47a6573c636c424e67bcae8dbbbebc87e/learning.py#L1089-L1117)? I am looking to patch the infinite loop.
Thanks a lot for the response!

[2019-03-19 16:34] MrDupin commented on #1047
To be honest, I don't know. The cross validation pseudocode is not up to data and we don't know what to do.

[2019-03-19 17:01] SiluPanda commented on #1047
This what `size` means from the book:

For example, with polynomials we have size = 1 for linear functions, size = 2 for quadratics,
and so on. For decision trees, the size could be the number of nodes in the tree. In all cases
we want to find the value of the size parameter that best balances underfitting and overfitting
to give the best test set accuracy.

Clearly, `size` should not go till infi

[2019-03-20 08:40] ayush113 opened #1048 "[Query] Missing Implementation in DecisionListLearner in learning.py"
Hello !

This issue is about the **DecisionListLearner** function within **learning.py**

I noticed that the implementation of **find_examples** and **passes** function just raises NotImplementedError. I was wondering if I could take this up and wanted to find out about any requirements/information about this.

Thank You !

[2019-03-20 19:00] gamechanger98 commented on #1030
i would like to work on this issue as I am also having it.

[2019-03-20 19:10] gamechanger98 commented on #1032
in ubuntu if you are using pip3 or python 3.4 or above it wont show any deprecation warning.
if you are using python ide such as pycharm you will see only one deprecating warning and that too can be ignored.
that is import imp module which is given as importlib in pycharm.

[2019-03-21 00:59] rajatjain1997 commented on #1030
I know you are using Pycharm/Spyder. You can just ignore the error by installing the required dependencies using pip. PR #1031 solves this issue and would be merged soon.

[2019-03-21 20:06] DeepKumai opened #1049 "[Query/suggestion] While loop in cross_validation_wrapper"
So the reason no one is working on the issue of while loop in **cross_validation _wrapper** is because we are still not clear about the functionality of cross validation? Because if not, then isn't it a simple break or return statement after the if statement will break the loop after converging.

[2019-03-22 02:35] SiluPanda commented on #1049
What do you exactly mean by 'converging' ?
Also, as much I understand, the protocol is, the code should closely follow the pseudocode in the book, unless confirmed by @norvig sir.
So my guess is, people are waiting for an update from sir, or a change in the pseudocode in the book.

[2019-03-22 04:28] DeepKumai commented on #1049
https://github.com/aimacode/aima-python/blob/5e5b51c47a6573c636c424e67bcae8dbbbebc87e/learning.py#L1101-L1104
The if condition from above snippet is to check for convergence (new error is extremely close to previous error). This is what i meant by 'converging'.

So there is no use in working on cross validation until there is an update.

[2019-03-22 07:34] SiluPanda commented on #1049
The convergence is checked on training error, and then, best size if determined according to the minimum validation error, as it is in the book.
Refer [this](https://github.com/aimacode/aima-pseudocode/blob/master/md/Cross-Validation-Wrapper.md) to see the pseudocode which is followed in the code.
I hope I'm able to clarify this.

[2019-03-22 18:47] #1049 closed

[2019-03-26 18:07] msimi opened #1053 "Unification algorithm"
{z: A, x: F(z), u: G(y)}
=> I think this should return instead {z: A, x: F(A), u: G(y)}

The unifier returned does not make the two expressions identical as it should

P(A, F(z), F(G(y)))

P(A, F(A), F(G(y)))

[2019-03-26 18:30] SiluPanda commented on #1053
Ma'am, can you kindly post the code file name? Or the link to this code snippet?

[2019-03-26 18:45] msimi commented on #1053
The file is logic.py from the AIMA-Python repository and I am referring to the function unify within it
Implementing unification.

— M. Simi

[2019-03-30 14:38] #1030 closed

[2019-04-03 18:18] memogamd21 commented on #890
In the language recognition problem, there might be a solution for very long words to be segmented such as lebensversicherungsgesellschaftsangestellter to better perform on the language classifier. This word for example is in german, so if you use word segmentation, it might help perform better in the language recognition specially that the two classes contain german language which already has ver

[2019-04-03 20:01] gamechanger98 commented on #890
can we use some more proper classifier to identify the author?

[2019-04-03 20:32] sagar-sehgal commented on #890
@gamechanger98 Naive Bayes is a Machine Learning Classifier and it has been coded without using any other external library. Other classifiers do exist in NLP but they use Deep Learning Techniques and need external libraries. But here all the code has to be coded without using an external library. If you code up a better Machine Learning Classifier, then it can also be included.

[2019-04-03 21:04] sagar-sehgal commented on #890
@memogamd21 Yes, that seems to be a nice idea. It can increase performance. You can code that up and if it increases the accuracy then it would be really nice and can be added.
But I have a doubt. For applying word segmentation on a _test sentence_, we need to know the language initially, since the segmentation model for both the languages would be different. How can we handle that?

[2019-04-03 21:28] memogamd21 commented on #890
@sagar-sehgal well,  we can use the maximum matching algorithm in which we can compare the word we have with the longest ever word in our two corpora (german and english one) and if it matches one of them, the language can be classified easily. I mean like we can make the long words list as a list of tuples (word, language it belongs to) and then from that detect the lanuage :)

[2019-04-05 08:00] dshahid380 opened #1060 "PR Template and ISSUE Template"
@MrDupin, I want to work on making PR Template and ISSUE Template. Can i create a PR for this?

[2019-04-05 10:40] MrDupin commented on #1060
I don't think this is going to be necessary here, we mostly get PRs from GSoC contributors. If you want you can add a short section on CONTRIBUTING to give some instructions on that, but only if you keep it short.

[2019-04-06 15:40] JaakTepandi commented on #1048
Hello!
Seems the pull request is open on https://github.com/aimacode/aima-python/pull/998.

[2019-04-06 22:56] Jonatha-Varjao opened #1061 "GSoC 2019 - Python Algorithms"
I'm looking forward to trying to complete the implementation, documentation and tests from the pseudocodes from 3rd edition and also the upcoming 4th edition, listed on the [aima-gsoc](https://github.com/aimacode/aima-gsoc)

@delaray

[2019-04-08 06:25] ArkaStark opened #1062 "Improve the exercise notebooks"
Improve the Exercise Notebooks by providing visualizations of the working of the algorithms for better understanding and also provide interactive hands-on exercise with IPython Code Snippets to learn the complex algorithms in small chunks.

[2019-04-08 06:42] ArkaStark commented on #1062
Also, provide real-world examples/project exercises in fields like NLP, Computer Vision, Gameplay to better explain the use and implementation of the algorithms in real-world scenarios and how to solve problems using them.

[2019-04-09 09:09] ThuriyaThwin opened #1064 "Need some help implementing backjumping algorithm"
I am using aima csp solver in my project.But,I need an implementation of Backjumping algorithm with aima python.I have read the AIMA book and the book says Backjumping algorithm can be implemented by with a little modification of Backtracking algorithm.But,I don't see.So,let's develop aima csp solver better by adding backjumping algorithm.

Thanks,
Rgd,
Thwin

[2019-04-11 07:59] dshahid380 opened #1066 "Improvements in train_test_split function"
### Issue Type
- Existing code improvement
### Proposed Changes
I would like to improve `train_test_split(dataset, start, end)` function existed in `learning.py` by adding training and testing set in percentage.
### Description
When i am working in `learning.py`, i found that the function `train_test_split` has three arguments-
- dataset
- start
- end
<br>

Here `dataset.examples[start:end]` is us

[2019-04-11 11:39] codefeeder commented on #1066
### According to me, the splitting function should be modified for two kinds of data:
#### Time-Stamped data:
- The data provided should be sequentially divided into test and training set because then the model will essentially mimic the actual practice of using real-time data to predict future results.
- The split would be made according to the percentage passed as an attribute
### Data without a

[2019-04-11 11:48] codefeeder commented on #1062
Hey, I would like to work on this issue. What are the guidelines to solve this issue and are there any specific exercises that need to be added?

[2019-04-11 12:08] dshahid380 commented on #1066
Hello @codefeeder, thanks for you kind suggestion. I think there is no time-stamped data for this repository but i will surely add an extra argument `shuffle=True` to select randomly training and testing data as you suggested.

[2019-04-11 20:08] MrDupin commented on #1066
Hello @dshahid380. I like this idea! I think it would be best if we had both options. Set start/end/percentage as optional arguments, and then choose which one to use depending on the passed arguments.

[2019-04-12 11:47] codefeeder commented on #1066
Hey @dshahid380, @MrDupin. May I contribute to this issue?

[2019-04-12 13:47] dshahid380 commented on #1066
Hello @codefeeder, i am working on it.

[2019-04-12 15:54] dshahid380 commented on #1066
@MrDupin Thank you for reviewing my issue. I have created a PR and did the same as you have suggested.

[2019-04-12 16:20] codefeeder opened #1068 "Improve the python implementation of some search algorithms"
### Issue Type
Code improvement

### Changes
Returning the complete path from the root node to the goal node from existing functions for search algorithms in search.py

### Descriptions
The current recursive and iterative algorithms for breadth-first search, depth-first search, etc. only returns the node or None when goal node is found or not found respectively.
I propose to improve the algorithm

[2019-04-13 00:19] MrDupin commented on #1068
This sounds good. What do you mean by 'driver functions' though?

[2019-04-13 07:49] #1066 closed

[2019-04-13 07:49] #1060 closed

[2019-04-13 09:15] codefeeder commented on #1068
By 'driver functions' I am referring to the functions calling the search functions as their code also would need to be modified to accommodate  the changes in the return values of the search functions.

[2019-04-13 11:22] MrDupin commented on #1068
Hmmm, if the driver function changes are only in the way they get return values, then it's fine. I don't want to modify them that much, since they must be as close to the pseudocode as possible.

[2019-04-13 15:25] codefeeder commented on #1068
@MrDupin I have made the changes and as suggested by you lso, I made minimal changes in the test_search.py file in PR #1070
My changes pass all the test cases provided in test_search.py but during final testing the output is expected in the old format and therefore, some test cases failed.
Should I format the output according to the old requirements?

[2019-04-13 15:41] MrDupin commented on #1068
What is the old format and what is the new format of the output?

[2019-04-13 15:58] codefeeder commented on #1068
![image](https://user-images.githubusercontent.com/22821850/56082119-8c7eb280-5e32-11e9-813c-d249b27f3a8e.png)
![image](https://user-images.githubusercontent.com/22821850/56082128-a6b89080-5e32-11e9-886a-bff67a9b51ee.png)
The old format("<Node ()>") is created by using the single node returned by the search functions.
But, the newly modified search program is directly returning the list of nodes i

[2019-04-13 17:06] MrDupin commented on #1068
Hmm, you can change the format, sure. What I'm not sure about now is the implementation itself. It seems that you are using quite a lot more lines to find the full path. Can we not use `Node`'s `parent` attribute to backtrack through the path?

[2019-04-13 17:17] codefeeder commented on #1068
Yes, sir, we can but that would increase the computation by again backtracking from the current node to the root which according to me can be done at the same time we finding a path.

[2019-04-14 20:31] MrDupin commented on #1068
The issue is that the code now gets more complicated, which is not desirable. Remember that this project is educational in nature and efficiency comes second. Operations should be done in the simplest and most intuitive manner possible.

[2019-04-15 13:06] codefeeder commented on #1068
Sure sir, I got your point. Sir, any suggestions on as to how I should proceed in order to add the functionality without adding any further complexity would be appreciated.

[2019-04-15 21:45] MrDupin commented on #1068
I am not that familiar with the search module, but can't we backtrack from node.parent to node.parent?

[2019-04-17 00:28] norvig opened #1072 "Pyodide: Interesting Approach to Python in the Browser"
Pyodide: Python + NumPy, Pandas, Scipy, and Matplotlib in the Browser.

Could this be used by aima-python?

https://hacks.mozilla.org/2019/04/pyodide-bringing-the-scientific-python-stack-to-the-browser/

[2019-04-17 14:42] MrDupin commented on #1072
I think it could be used in conjunction with what we have now. Linking to the Pyodide notebooks somewhere on the `README` and maybe `intro/index.ipynb` could work. In terms of requirements, our notebooks don't use any libraries outside the matplotlib/numpy, so we should be fine.

This is definitely something to keep an eye on, maybe the GSoC student can port some stuff over?

[2019-04-26 11:40] JaakTepandi commented on #1072
Depends on the goals. It's interesting how Pyodide might fit into current aima-python framework. Seems aima-python has dealt mainly with AI algorithms; infrastructure / use in production has not been a significant topic. Pyodide might give a usability enhancement - ease notebook usage (although the demo seems slow), sth like "aima-python in browser". This could be also a component of a new "featur

[2019-05-12 14:11] dipzzzz commented on #1068
@codefeeder were you able to improve your algorithm? Is this issue closed?

[2019-05-12 14:29] dipzzzz commented on #1068
As per me, create custom test cases or use regex to remove <Node ()> and then compare
Or simplest way is to add in your output

[2019-05-21 14:08] gideondr commented on #555
Is it possible to show an example implementing a simple decision network ? e.g. "airport" or "umbrella"...

[2019-07-04 15:53] DonatoMeoli commented on #1064
Hi @ThuriyaThwin

the backjumping or non-chronological backtracking is simply a backtrack of more one level in the search tree. This technique allows to prune the search space faster and converge more quickly to the solution.

This is easy to understand but, in fact, the algorithm structure changes completely because, while a recursive algorithm is enough to implement a backtracking search and the

[2019-07-09 14:02] ThuriyaThwin commented on #1064
I have heard that conflict set can be built by forward checking algorithm.How could be?

[2019-07-09 19:26] DonatoMeoli commented on #1064
@ThuriyaThwin I think you have some confusion. Al the known inference methods (forward-checking and MAC) can supply the conflict-directed backjumping with no extra work, so they are to be used alternately to each other and not together. Backjumping occurs when every value in a domain is in conflict with the current assignment, but forward checking detects this event and prevents the search from ev

[2019-07-10 09:13] ThuriyaThwin commented on #1064
If so,please explain me how (forward-checking and MAC) can supply the conflict-directed backjumping with no extra work.I really troubles in this for my exam.There is a little lack of resource about conflict-directed backjumping.It will help others who stuck like me if you explain with aima csp code.

[2019-07-16 13:33] AndreasSaelinger opened #1082 "AttributeError in search.ipynb"
In short: AttributeError: `'PeakFindingProblem' object has no attribute 'two_opt'`

**Calling:**
[code]

**results in this:**

[code]

[2019-07-18 10:16] qinhuah opened #1085 "Fixed the error in function best_first_graph_search_for_vis() in search.ipymb #1084"
In line 1523, f(incumbent) is actually do not exist. The same happened in 1524 for frontier[incumbent].
This two bugs will lead to a error of "int object do not have a path-cost attribute" when runing a-star algorithm on romania map problem.

[2019-07-21 12:45] ThuriyaThwin commented on #1064
![bj](https://user-images.githubusercontent.com/16722405/61591329-bd1d7780-abeb-11e9-9227-d72cb6359fc2.png)
@DonatoMeoli This is the conflicted direct backjumping algorithm right?

[2019-07-21 16:04] pupinello opened #1087 "module 'matplotlib.pyplot' has no attribute 'ishold'"
Hi

When I run
show_map(romania_graph_data)
in search.ipynb, the search notbook I get this message:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-10-059e9091fc22> in <module>
----> 1 show_map(romania_graph_data)

~/notebook.py in show_map(graph_data, node_colors)
    916     #

[2019-07-22 07:50] pupinello opened #1089 "Least Constraining Value (lcv) in csp.py"
The computation of the lcv heuristics is weird.

def lcv(var, assignment, csp):
    """Least-constraining-values heuristic."""
    return sorted(csp.choices(var),
                  key=lambda val: csp.nconflicts(var, val, assignment))

What it does is counting the number of conflicts each value has with the values of variables already assigned. The values are sorted by ascending order.

It seems t

[2019-08-07 04:34] ThuriyaThwin commented on #1089
What do you exactly mean?

[2019-08-08 09:33] pupinello commented on #1089
Well
I was wondering if the implementation of lcv heuristics was correct.
When I read the IA slides from CS188 Berkeley and other material in the web I interpret that  the meaning of this heuristic is to prefer the value that rules out the fewest choices for the neighbouring remaining variables in the constraint graph, the ones **not yet assigned**.

Thanks

But the imlementation in aima is: count

[2019-08-14 09:57] alessandrocuda opened #1098 "probability.ipynb: enumeration_ask and elimination_ask runtime comparison wrong"
By running **probability.ipynb** I noticed an error in the result of **Runtime comparison** between `enumeration_ask` and `elimination_ask` algorithms.
In the notebook is reported that:

but by running the code you get the opposite result:

[code]

[code]

[2019-08-14 13:31] ad71 commented on #1098
Hi @alessandrocuda I am responsible for this. When I was working on this, I wrote the results I got, but I can't explain this. Maybe it has something to do with number of threads and how python tries to optimize things, or maybe it is version-specific? I'm sorry I don't know what happened.

[2019-08-14 17:57] alessandrocuda commented on #1098
Thank you very much for the quick reply @ad71 . I'm investigating why this happens but it could be any one of those listed, at least it might be an idea to update the comparison on the notebook in a formal way? I could open a pull request and update the section with this information

elimination_ask should be a optimization of enumeration_ask but the complexity of some operations requires attentio

[2019-08-14 20:57] ad71 commented on #1098
Sure, that will be very helpful. Thanks!

[2019-08-20 09:03] Sreyan88 commented on #1087
Hi @pupinello ,
There are two ways I know of through which you can solve this error. You can either downgrade matplotlib to 2.2.3 or you can upgrade networkx package. In the latest version of networkx the issue might have been solved as I don't see the following lines of code there.

[2019-08-21 13:20] Sreyan88 commented on #1087
Hi @pupinello ,
There are two ways I know of through which you can solve this error. You can either downgrade matplotlib to 2.2.3 or you can upgrade networkx package. Upgrading networkx to 2.3 worked for me. Just follow:
pip uninstall networkx
pip install networkx

Thanks

[2019-09-11 20:04] DonatoMeoli opened #1111 "planning.py: expanded_actions( ) generates actions which doesn't satisfy the arguments' domain"
For example, for the three_block_tower problem:

`from planning import *`
`three_block_tower().expand_actions()`

should returns:

`[Move(B, A, C), Move(B, C, A), Move(B, Table, A), Move(B, Table, C), Move(A, B, C), Move(A, C, B), Move(A, Table, B), Move(A, Table, C), Move(C, B, A), Move(C, A, B), Move(C, Table, B), Move(C, Table, A), MoveToTable(B, A), MoveToTable(B, C), MoveToTable(A, B), MoveTo

[2019-09-12 06:49] ThuriyaThwin opened #1112 "How to count the constraint check in aima csp"
**Here's an interesting line from the table Fig. 5.5, p. 143 of AIMA

                  Backtrack    BT+MRV    Forward Checking  FC+MRV  Min-Conflicts
N-Queens (>40,000K)   13,500K      (>40,000K)                817K         4K

Here, N-Queens means the row is about the super-problem of solving ALL N-Queens problems for N from 2 to 50. The columns represent five different aproaches and the numbers

[2019-09-16 13:04] #1111 closed

[2019-09-19 05:42] selim-karaduman opened #1115 "OnlineDfsAgent __call__ function"
https://github.com/aimacode/aima-python/blob/440142c145c7bca856d63c57dcdb2a155ab8a3e9/search.py#L792

Hello,
I think the line looks wrong. It only needs to consider state changes from the current state rather than all of the states. Additional checking of s==s1 is required.

[2019-09-19 19:24] m-bilgic commented on #1089
@pupinello is right. The implementation of lcv is not just weird, it is in fact incorrect. The current implementation simply counts, for each val of var, the number of conflicts with with the previously assigned variables and values. The current count would be "how many values of the neighboring variables, including the unassigned variables, would this value be in conflict with"

[2019-09-26 06:55] Fenil3510 opened #1119 "A* tree search version implementation"
Hello,
I couldn't find an A* _Tree search_ version implementation in `search.py`. We wouldn't be getting optimal solutions if heuristic is just admissible and not consistent for current `a_star` implementation (which is based on Graph_Search).

Should I open a PR for this?

[2019-09-29 10:37] #1098 closed

[2019-10-08 09:46] stessaris commented on #1082
I confirm the bug, `two_opt` is defined only for class `TSP_problem` in [search.ipynb](https://github.com/aimacode/aima-python/blob/master/search.ipynb); while `PeakFindingProblem` is defined in [search.py](https://github.com/aimacode/aima-python/blob/283fa419d900249d0befef6b0d37e7bafea33ea2/search.py#L726). I guess that the `hill_climbing ` function should use only [Problem class](https://github.

[2019-10-09 03:44] gobber opened #1124 "Possible issue in search.ipynb"
Hello everyone.

First, I would like to say thank you for AIMA, it is really a good library. However, I guess there is an issue in search.ipynb. In TSP problem example, the condition in **hill_climbing** should not it be:

[code]
instead of:
[code]
Because, the **TSP_problem.value()** method is negative (inverted path cost) and you use **argmax**, then I conclude that you should consider a best **

[2019-10-21 17:23] Tsovet opened #1126 "Viterbi Algorithm implemented incorrectly"
I think the backtracking in the [Viterbi algorithm](https://github.com/aimacode/aima-python/blob/master/probability.py#L688) added in  #1099 is implemented incorrectly.
It becomes obvious when seeing that the way it is implemented, the backtracking could also be applied as a forward algorithm:
[code]
When maximizing over the previous m

[code]

there should be kept track of the maximizing element,

[2019-10-22 08:44] shrenik007 opened #1127 "'display_visual' not working in Jupyterlab"
I am using jupyter lab where I am working on this library. I have created an UnidirectedGraph() and for visualization I am using display_visual() method from notebook4e.py. I am not able to visualize the graph and getting below error:

**interactive(children=(ToggleButton(value=False, description='Visualize'), Output()), _dom_classes=('widget-int…**

The same code is working in jupyter-notebook bu

[2019-10-28 05:05] Locate929 opened #1128 "Is there a Davis-Putnam Algorithm Implemented?"
Hi friends,

I checked out the list and I did not see anything for Davis-Putnam for Python (https://en.wikipedia.org/wiki/Davis–Putnam_algorithm). Is it already added or will it be added?

Thanks

[2019-10-28 10:20] DonatoMeoli commented on #1126
Ok @Tsovet it seems good. Could you proceed with a pull request?

[2019-10-28 10:23] DonatoMeoli commented on #1128
It is already implemented in logic.py as `dpll_satisfiable`

[2019-10-28 14:54] Tsovet commented on #1126
@DonatoMeoli I just created a pull request

[2019-10-28 15:19] DonatoMeoli commented on #1126
Well done! Waitin' @antmarakis for the merge

[2019-10-28 15:45] Locate929 commented on #1128
@DonatoMeoli Ahh okay, very quick question though: Is there a difference between Davis Putnam & Davis–Putnam–Logemann–Loveland algorithms?

They kind of look the same but im not 100% sure

[2019-10-28 15:57] DonatoMeoli commented on #1128
DPLL = DP (only backtracking search) + unit clause propagation heurisic + pure literal heuristic

[2019-11-05 06:10] ryzbaka commented on #1062
Hi I would like to work on this issue.

[2019-11-17 15:57] tirthasheshpatel opened #1132 "Add example for TableDrivenVacuumAgent"
Can someone please add an example for TableDrivenVacuumAgent in agents.py?
Maybe something like:
[code]

https://github.com/aimacode/aima-python/blob/04fa465401af1939e076b022a9e10a5437ebefe7/agents.py#L206

[2019-11-19 16:10] tirthasheshpatel opened #1134 "Cannot update the color of the grid in GraphicEnvironment"
This script must add red color around the grid but instead the color of the grid never updates:
[code]

[2019-11-19 16:25] tirthasheshpatel commented on #1134
So, basically, `get_world` calls `list_things_at` method to list things at a particular location.
The location passed as argument in `list_things_at` method is a `list` object while `list_things_at` tries to compare this `list` object with `tuple` object and so returns false no matter what the `x` and `y` coordinates are. Hence, there are available fixes to this:
1. Pass a tuple of coordinates as

[2019-11-23 22:41] sarahsa opened #1136 "Using the graphplan algorithm on a self-defined planning problem"
Hi!
I am trying to use the Graphplan to solve a self-defined planning problem. As per now, I am creating an object of type "PlanningProblem" with the initial state, goal state and possible actions. Each of the actions consist of "preconditions" and "effects". I've seen that in some of the examples, such as "spare_tire" and "three_block_tower" do have a defined domain as well while "simple_blocks_w

[2019-11-25 02:37] DonatoMeoli commented on #1136
Hi @sarahsa

in the simplest planning problems such as "simple_blocks_world" or "have_cake_and_eat_cake_too" it's not necessary to specify the domain of the objects because these are all of the same type (blocks A, B, and C in the case of "simple_blocks_world" problem or Cake in "have_cake_and_eat_cake_too" problem).
All the other problems instead manage objects of various types for which it is ne

[2019-12-04 10:03] Mordekaiser11 commented on #643
Hello Guys I m working on a project that is about python and artificial intelligence. We are in charge of importing searching algorithms (such as BFS,DFS) and we encountered this problem :

C:\Users\ASUS\AppData\Local\Programs\Python\Python37\python.exe C:/Users/ASUS/.PyCharm2019.2/config/workspace/kr_test/aima-python/tests/test_search.py
============================= test session starts =========

[2019-12-04 10:05] Mordekaiser11 opened #1137 "Aima python library implementation"
Hello Guys I m working on a project that is about python and artificial intelligence. We are in charge of importing searching algorithms (such as BFS,DFS) and we encountered this problem :

C:\Users\ASUS\AppData\Local\Programs\Python\Python37\python.exe C:/Users/ASUS/.PyCharm2019.2/config/workspace/kr_test/aima-python/tests/test_search.py
============================= test session starts =========

[2019-12-04 12:03] antmarakis commented on #643
It looks as if the broxrevised.png image is missing. Can you make sure it is in the correct path in your system?

[2019-12-05 12:34] antmarakis commented on #1137
As I mentioned in the other thread, check if you have the correct image path.

[2019-12-08 07:04] pragati0416 opened #1138 "Internal python error in the inspect module."
As I want to work on agents.py notebook.I'm trying to run the code on jupyter notebook.
`from agents import *`

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.py

[2019-12-09 12:50] Mordekaiser11 commented on #643
Thank you for respoding, it's solved.

[2019-12-10 07:23] antmarakis commented on #1138
I am afraid this seems to be an issue with tensorflow. Make sure you can run tf on your machine and in the meanwhile I will try and find which version of tf this project requires.

[2019-12-10 19:32] #1132 closed

[2019-12-10 19:32] #1134 closed

[2019-12-11 19:18] ryzbaka commented on #1138
Are you sure you have a correctly installed version of tensorflow?
You can install it by running
[code]

[2019-12-12 10:44] dubesar commented on #1138
Hey I verified there is no problem internally, I have also linked a gist you may see:
https://colab.research.google.com/drive/1yaxNDNifQZ60XZkP5UgZvY9QsCt0CbHy

[2019-12-12 11:23] pragati0416 commented on #1138
Thank you

On Thu, Dec 12, 2019, 4:14 PM Sarvesh Dubey <notifications@github.com wrote:

[2019-12-13 05:21] dubesar commented on #703
@antmarakis I think the tests are already added in the test_csp.py file. Please close this issue.

[2019-12-13 21:14] tirthasheshpatel opened #1140 "Why not use a numpy style python docstrings"
It would be great to have the numpy style documentation for the classes and functions in this project! Currently, it's quite difficult to understand the implemented functions and utilities...
Something like this would be great:
[code]

[2019-12-15 18:41] whitten commented on #1140
I agree that it would be good to increase documentation. I'm concerned because students and new programmers are heavy contributors to this project.   How standard are these forms of annotation/docstrings ?

[2019-12-15 23:02] tirthasheshpatel commented on #1140
They are used in most of the scientific modules for python and have great readability. Further contributions would become much easier for an experienced python developer working with scientific libraries as well as for beginners who are new to python.

It's a very wide question and may have many viewpoints! As of now, many new developers are looking ahead to contribute to this project and document

[2019-12-17 18:49] #703 closed

[2019-12-17 18:59] antmarakis commented on #1140
I don't disagree with this style, but I think it is a bit too much for a project such as this. Even though there is no concrete documentation guide for this project, what we generally want to do to avoid cluttering the scripts is to only add details for variables/functions that are not easy to understand. Remember that this project is based on a book, so in a way a lot of the documentation/backgro

[2019-12-17 19:00] #1138 closed

[2019-12-17 19:00] #1087 closed

[2019-12-17 19:03] #287 closed

[2019-12-17 19:03] #345 closed

[2019-12-17 19:04] #467 closed

[2019-12-17 19:04] #664 closed

[2019-12-17 19:05] #667 closed

[2019-12-26 18:18] tirthasheshpatel opened #1144 "Add support for all types of problems in Bidirectional Search"
Bidirectional search currently only supports `GraphProblem` type problems. I think we can add support for all the problem types by storing the nodes instead of states in open/closed list for both directions and calling `n.expand(problem)` on it to return the next states.

[2019-12-30 15:40] antmarakis commented on #1144
I have responded to the PR as well, but I think this would be a worthwhile addition if you could make it work for general problems, thanks!

[2020-01-06 18:08] sainikhit2k commented on #1089
Is anyone working on this issue ? I would love to work on this issue

[2020-01-07 16:55] omar-3 opened #1149 "PR #1148"
Apparently PyYAML has removed support for Python3.4 which causes keras not to be installed, here is the issue from @tirthasheshpatel on [keras](https://github.com/keras-team/keras/issues/13674).

here is the build issues of pr #1148 from [here](https://travis-ci.org/aimacode/aima-python/builds/633830709?utm_source=github_status&utm_medium=notification), you can see that it has only failed for Pyth

[2020-01-08 09:57] #1144 closed

[2020-01-08 09:57] antmarakis commented on #1089
I don't think anybody has taken this up, you can definitely try!

[2020-01-09 08:36] ThuriyaThwin commented on #1064
@DonatoMeoli  So, conflict directed backjumping can be built with recursive data structure?

[2020-01-09 18:43] kamalojasv181 commented on #1119
@Fenil3510 seems to me that the PriorityQueue object uses python's implementation of heap and solves graph search in nlog(n)

[2020-01-11 00:23] Okhaledzaki opened #1151 "algorithms with no pseudocode"
There are many algorithms in the book haven't a written pseudocode (stochastic hill climbing - local beam and its variants - ... ) . It would be beneficial, if they are to be implemented I guess ... should someone implementing them follow their understanding and surely add adequate tests and so on IF there are no "reliable" papers on these algorithms?

[2020-01-12 14:36] antmarakis commented on #1151
I believe it would be great to have these algorithms, yeah. But the implementations should be bare-bones and quite simple, no complex algorithms. And there should be a note in the implementation that the code has no corresponding pseudocode. Maybe add the source.

So, sure, this would be an interesting project.

[2020-01-12 16:24] ThuriyaThwin opened #1154 "Why cpu time of FC-MRV of nqueen csp fluctuates"
@DonatoMeoli @norvig Please explain me why CPU time of FC-MRV algorithm with N-Queen CSP does not scale with board size. Here are the result of average run benchmark on i7 ram 8gb.

N=4   Time=0.695
N=8    Time=0.785
N=12  Time=0.895
N=16  Time=0.077
N=20  Time=0.092
N=28  Time=0.0795.

In this result, time falls down when N=16 and N=28. Could you give me the reason?

[2020-01-13 01:54] ThuriyaThwin commented on #1089
@sainikhit2k If you have done ,please share it to us.

[2020-01-13 02:13] ThuriyaThwin commented on #1089
I have noticed that LCV is correct in aima-java3.

[2020-01-13 02:17] ThuriyaThwin commented on #874
@bakerwho Have you done yet?

[2020-01-14 06:41] tirthasheshpatel opened #1155 "Visualizations for search algorithms"
I browsed through the search algorithms notebook and I think that adding the visualization of how the search algorithm expands and finds the path would be useful and interesting. Kind of what @redblobgames did in his article (and has probably been done in aima-javascript).

I made this for BFS using ipythonblocks:
![vis](https://s5.gifyu.com/images/search4e---Jupyter-Notebook.gif)

[2020-01-14 15:27] antmarakis commented on #1155
This is very interesting! I am not sure if I can add it myself though, since it is quite a substantial change. Is the code for it long? Do we need to import more libraries to run this?

[2020-01-14 18:41] redblobgames commented on #1155
On the aima-javascript side we did [this page](http://aimacode.github.io/aima-javascript/3-Solving-Problems-By-Searching/) about search algorithms. We had to decide who the audience is:

1. People who are *making visualizations* using a particular language? → we should show code for making the visualizations
2. People who are *implementing* the algorithm using a particular language? → we should sh

[2020-01-14 19:11] tirthasheshpatel commented on #1155
@antmarakis We don't need to add any dependencies on top of what we have. Actually, `ipythonblocks` becomes too slow with medium-sized grids. So, I think we can have to do this using pure matplotlib (should not be a problem). The code should not be too long. We have to add kind of online version of all the search algorithms. I will work on it and submit a patch as soon as possible.

OTOH, @redblob

[2020-01-14 23:14] tirthasheshpatel commented on #1155
I got [this](https://github.com/tirthasheshpatel/aima-python/blob/patch/search-vis/gui/gridworld_search.py) using matplotlib and it supports all the search algorithms. I think this is much better than ipythonblocks in terms of speed.

The problem is that I can't get the matplotlib animations running in the notebooks so instead we have to just embed matplotlib plots in `tkinter` and add this to `gu

[2020-01-16 06:19] SSPrafulTondomker opened #1156 "Adding new algorithms:"
Since we have included many search algorithms. I think it could be better if we even include some decision algorithms too, like a Decision tree.

[2020-01-16 17:27] tirthasheshpatel commented on #1155
After a little research, I was finally able to make the animations for the notebooks!

[2020-01-16 17:42] Okhaledzaki commented on #1156
it is already implemented

[2020-01-17 05:37] SSPrafulTondomker commented on #1156
Thank you @Okhaledzaki. My bad I didn't see that these algorithms are already implemented. Thanks once again.

[2020-01-17 05:37] #1156 closed

[2020-01-19 22:15] bakerwho commented on #874
Never got to this, unfortunately.

[2020-01-22 12:17] kidrahahjo opened #1160 "Bigram function unable to return anything because generator doesn't have an attribute len"
This problem is coming on python version 3.6.9
When text.py is checked, this issue arrives.
**I'm currently working on this issue**

[2020-01-22 18:07] dis-is-pj commented on #1155
Can I work on this issue, if someone is not working already?

[2020-01-22 19:45] kidrahahjo commented on #1160
I edited the bigram function and update probabilistic_learning.py but now I'm facing problem in test_text.py

[2020-01-22 19:48] kidrahahjo commented on #1160
![Screenshot from 2020-01-23 01-16-43](https://user-images.githubusercontent.com/44747868/72928592-4752be00-3d7e-11ea-90f0-758402fcc0c0.png)
![Screenshot from 2020-01-23 01-16-58](https://user-images.githubusercontent.com/44747868/72928593-47eb5480-3d7e-11ea-9876-d440da7f2b71.png)
![Screenshot from 2020-01-23 01-17-49](https://user-images.githubusercontent.com/44747868/72928595-47eb5480-3d7e-11ea-

[2020-01-23 12:53] #1160 closed

[2020-01-26 12:10] saraansh1999 commented on #1151
I would like to contribute to this project in the python module if it were to be initiated.

[2020-01-26 13:00] antmarakis commented on #1151
Hi @saraansh1999, welcome!

If you want to get started with this, I suggest you can simply find an algorithm from the book with no pseudocode and implement it here :)

[2020-01-28 16:43] So-ham opened #1162 "SGD with momentum"

[2020-01-28 16:48] Dassoham commented on #1162
I was browsing through the "Optimizer and Backpropagation" notebook under chapter 19 which gives a briefing of SGD but i found that there is no briefing about SGD with momentum.I think it will be nice to add that as SGD with momentum is highly popular and extensively used when implementing any hands-on Neural Network architecture

[2020-01-29 15:01] antmarakis commented on #1124
Hi, good catch! In the notebook, we simply copied the code from the repository. In hill-climbing we go from best state to best state, so currently it is correct.

The solution would be to invert the path costs so that the algorithm would work well on the problem, without changing the implementation itself.

[2020-02-02 11:15] mehmehul commented on #1151
I would like to work on this.

[2020-02-02 20:33] #1162 closed

[2020-02-05 17:46] vu-truong opened #1173 "ImportError while importing test module"
I followed the installation guide and after runing py.test I got this error:

[code]

[2020-02-05 19:33] tsa87 opened #1174 "Implement Iterative Deepening A* Search"
I noticed that IDA* was not implemented in `search.py`. I implemented it in a similar way to the Iterative deepening search. I thought this could be a great addition to the example codebase.

Is this something that could be included?

[2020-02-05 21:54] HimanchalChandra commented on #1173
If your CPU didn't support AVX instructions, you will get ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed. (Win 10) or ImportError: DLL load failed with error code -1073741795 (Win 7) when using TensorFlow official release 1.6.0 and up (pip install TensorFlow). You can use pip install [filename].whl which file download from sse2 folder instead of using offi

[2020-02-05 21:56] HimanchalChandra commented on #1173
If your CPU didn't support AVX instructions, you will get ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed. (Win 10) or ImportError: DLL load failed with error code -1073741795 (Win 7) when using TensorFlow official release 1.6.0 and up (pip install TensorFlow). You can use pip install [filename].whl which file download from sse2 folder instead of using offi

[2020-02-06 03:07] #1173 closed

[2020-02-06 03:09] vu-truong commented on #1173
I fixed it by installing Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 [https://support.microsoft.com/vi-vn/help/2977003/the-latest-supported-visual-c-downloads](url).
I'm using Tensorflow 2.1.0

[2020-02-07 19:45] PRISHIta123 opened #1176 "Implementation of DDN in mdp4e.py"
In the 3rd edition of Artificial Intelligence: a Modern Approach, does the Dynamic Decision Network implementation refer to the multiattribute utility functions that explore strict dominance and stochastic dominance as explained through figures 16.4 and 16.5?

[2020-02-18 18:36] amanpro30 opened #1180 "Travis CI Failing Due To Dependency Error"
One of the dependencies "pyyaml" which is used by Keras requires the Python version to be > 3.4 and our test specification runs for version 3.4 also and hence is not allowing any PR to pass through.

[2020-02-24 09:22] antmarakis commented on #1180
Solved.

[2020-02-24 09:22] #1180 closed

[2020-03-02 05:23] kgreed opened #1181 "ModuleNotFoundError: No module named 'ipythonblocks'"
I ran the install instructions.
When I type py.test I get the following output
![image](https://user-images.githubusercontent.com/1795966/75647745-06fe2e00-5ca2-11ea-8152-aa1888ef0a76.png)

The full error message is

`________________________________________ ERROR collecting tests/test_agents.py ________________________________________
ImportError while importing test module 'D:\python\aima-python

[2020-03-02 13:25] tirthasheshpatel commented on #1181
Hey @kgreed, did you run ``pip install -r requirements.txt`` on your local computer? If you are still facing some problem with the installation, you can create a virtual environment and install all the requirements there.
For windows, use ``python -m venv env`` to create a environment ``env`` and then activate it using ``.\env\Scripts\activate``. For linux, use ``source ./env/bin/activate`` to act

[2020-03-02 21:01] kgreed commented on #1181
Thanks @tirthasheshpatel  the only requirement I did not have installed was tensorflow I assumed that I would not need that just yet.

[2020-03-02 22:11] kgreed commented on #1181
Looks like my problem installing tensorflow is [because I have python 3.9](https://github.com/tensorflow/tensorflow/issues/33374)

[2020-03-03 03:04] kgreed commented on #1181
I realised that it was odd to think I needed bs 2019 so I removed the path variables and consulted [the wiki](https://wiki.python.org/moin/WindowsCompilers#Which_Microsoft_Visual_C.2B-.2B-_compiler_to_use_with_a_specific_Python_version_.3F) Then I ran

`install --upgrade setuptools
pip install -r requirements.txt
`
here is the error message

[code]

[2020-03-03 03:53] kgreed commented on #1181
The error message seems to be to do with missing similar to [this issue](https://github.com/pypa/setuptools/issues/1902)

[2020-03-03 04:18] kgreed commented on #1181
I changed visual studio 19 to have all C++ development enabled
I also realised that I had not followed @tirthasheshpatel properly, I had missed running
`.\env\Scripts\activate`

I have now managed to run

pip install -r requirements.txt successfully.

[2020-03-03 04:20] #1181 closed

[2020-03-03 04:30] kgreed commented on #1181
I then re did the whole install process without creating the env
it worked and the tests all passed.  To summarise I think the issues were do do with needing Python 3.7 and installing C++ development environment.

[2020-03-03 13:52] antmarakis commented on #1181
Thanks for the troubleshooting! It is unfortunate that the dependency list has ballooned, hopefully a solution will be found...

[2020-04-02 02:23] finin opened #1182 "issue with dpll_satisfiable and xor (^) operator"
never mind.  My expectations were wrong.

[2020-04-07 11:34] Ewindar opened #1183 "Trouble understanding the doc-string of Agent class in agent.py"
I'm trying to read through and understand all the code in the repository starting with [agents.py](https://github.com/aimacode/aima-python/blob/master/agents.py).
here is the code for the Agent class:
[code]

The doc-string says that _program_ and _performance_ are slots and that program is defined this way to prevent **cheat**.  based on my understanding for a class to have slots, an attribute wi

[2020-06-05 18:39] darius opened #1188 "What's the policy on 3rd versus 4th edition?"
The README says "This chart was made for the third edition of the book and is being updated for the upcoming fourth edition." Now the fourth edition is out; the files seem to come in pairs like `agents.py`, `agents4e.py`; and the README chart only points to third-edition files. There are differences between the files in each pair, though as I'm just starting I'm not sure yet how far the updates ha

[2020-06-08 04:51] #1182 closed

[2020-06-09 20:20] norvig commented on #1188
Hi Darius, great to bring this up.

We've all been sidetracked with other things, and I'm focused on the AIMA exercises more than the code, but I will, later today, post all the pseudo-code algorithms here.

The policy should be: **We're not going to try to maintain two branches. All work should go into switching over to 4e.**

Another policy point: **We should upgrade to 3.7**. I'll open that as

[2020-06-09 20:35] norvig opened #1189 "Upgrade to Python 3.7"
Currently `aimacode` is in Python 3.5, which is now five years old. I propose we upgrade to Python 3.7, which is two years old. (Python 3.8 is 1/2 year old, so I think it is too soon for that.)

The features of 3.6 and 3.7 which we should be using:

- [**f-strings**](https://docs.python.org/release/3.6.0/whatsnew/3.6.html#whatsnew36-pep498): Most uses of `str.format` and `str  % (args,)` shoud be

[2020-06-09 22:59] darius commented on #1140
Note that CONTRIBUTING.md says

a one-line docstring suffices. It is rarely necessary to list what each argument does; the name of the argument usually is enough.

Sometimes it's helpful to say more about a parameter than may be obvious from the name; usually then we'd say this in the form of a paragraph documenting what the function does, referring to each parameter at a point natural to the expl

[2020-06-10 00:38] #1128 closed

[2020-06-10 03:45] tirthasheshpatel commented on #1140
Oh sorry! I wasn't following this for a long time. I will close this. Thanks for clarification @darius!

[2020-06-10 03:45] #1140 closed

[2020-06-11 00:04] #1183 closed

[2020-06-11 09:14] reachtarunhere commented on #1189
Sounds good. The pandemic is leaving me a lot of time at home so I'll start working on this :)

[2020-06-17 21:45] abstractspace opened #1190 "py.test fails"
When I try to follow the README instructions I get an error when I run pytest. The error is shown at the bottom of the page.

I was able to fix the error by changing ( in utils.py)

from utils import (
    remove, unique, first, argmax, probability,
    isnumber, issequence, Expr, expr, subexpressions
)

to

from utils import (
    remove_all, unique, first, argmax_random_tie, probability,
    isn

[2020-07-02 19:20] dsaw commented on #1089
@ThuriyaThwin @antmarakis  I'll be happy to take this up - have an idea on how to go about it.

[2020-07-02 21:21] antmarakis commented on #1089
Sure, sounds good!

[2020-07-04 10:50] #1190 closed

[2020-07-09 02:53] matgreco opened #1193 "problem when I define my own problem in planning module"
Hi,

I have been tryed to declare and solve my own planning problem using the graphplan algorithm. When I executed the graphplan algorithm i get the follow error:

[code]
The problem definition is this:
[code]
Also, I had been tryed to define another problem (gripper) and get a similar error.

[code]
[code]
I was use python 3.5.9 and 3.6.9 and I get the same results.

I Hope you can help me

Regar

[2020-07-26 21:50] nDiv commented on #961
Anyone ever got the HybridWumpusAgent working as expected? @rajatjain1997

[2020-07-26 21:57] ad71 commented on #961
@nDiv No, nobody got it working all the way.

[2020-07-27 07:17] nDiv commented on #961
@ad71 Thank you. I will give it a try. At least I now know I wasn't crazy.

[2020-07-27 07:42] ad71 commented on #961
@nDiv haha sure! That'd be great

[2020-09-09 02:22] MilanoEch7 opened #1195 "Arima"

[2020-09-09 10:12] Chipe1 commented on #1193
The symbols are case sensitive. Lowercase are variables ; Uppercase are props.
[code]

[2020-09-12 09:54] Ewindar commented on #1119
The only use that A* tree search can have is to improve efficiency in some cases, and if **efficiency** isn't a concern, then there is no need for A* tree search at all.
In a specific problem (_e.g. 8-puzzle_), if it's possible to reach a state **multiple times** (**redundant paths** can occur), then Tree Search can get stuck and only graph search is reliable.
However if in a problem (_e.g. n-quee

[2020-09-14 10:46] #1195 closed

[2020-10-09 07:01] Tridu33 opened #1198 "AttributeError: 'int' object has no attribute 'path_cost'---Error in uniform_cost_search_graph from "search.py""
run
[code]
then click visualize,it shows:

[code]

[2020-10-12 10:58] Gabriele91 commented on #1198
I have the same problem with A*.

I guess the error is this:
[code]

[2020-10-12 11:32] re-beat commented on #1198
I fix it by change `node.path_cost` to `node` in uniform_cost_search_graph(problem)

[2020-10-26 18:38] tigre200 opened #1201 "Error during installation"
ERROR: Could not find a version that satisfies the requirement tensorflow (from -r .\requirements.txt (line 18)) (from versions: none)
ERROR: No matching distribution found for tensorflow (from -r .\requirements.txt (line 18))

[2020-10-26 18:50] tigre200 commented on #1201
I also get a bunch of import errors when running pytest. 13 in total.

[2020-10-27 16:04] MarceloJacinto opened #1202 "Feat: Add best_first_tree_search"
We propose the addition of the following functions to search.py:

- best_first_tree_search
- uniform_cost_tree_search
- astar_tree_search+

**Our background and motivation**
Me (Marcelo Jacinto), João Silva and David Souto are 3 students from Electrical and Computer Engineering at Instituto Superior Técnico (Lisbon) that are taking a course on AI. We were solving a search problem whose structure i

[2020-11-15 17:38] sciueferrara commented on #1089
I proposed a solution
#1205

[2020-11-21 09:11] VanjaO opened #1206 "Aima-python file csp.ipynb post 46 is not working (visualisation of map coloring)"
I have tested the aimacode anima-python in anaconda navigator using python 3.8, 3.7 and 3.6 all passing the py.tes. The python 3.5 failed on one test without adequate error message of how to fix it. In all the passing environment, the same error occured in post 46 in the jupyter-notebook. That is visualisation of map-coloring. Searching on the error message may point in the direction of a typo in

[2020-11-26 07:37] VanjaO opened #1208 "Typo error in logic.ipynb execution line 22 psource(KB_AgentProgram)"
The correct text in this line in logic.ipynb is KBAgentProgram.

[2020-11-26 16:41] vishalsingha commented on #1189
Hii, I would like to work on this.

[2020-12-03 19:46] jeffreypaul15 commented on #1201
This could be an issue due to your Python version. Try upgrading pip via `pip install --upgrade pip` and/or using the latest version of python.

[2020-12-04 04:16] dsaw commented on #1089
@sciueferrara, I had put a PR on this too, missed mentioning it here. :)
It seems the repo isn't really active nowadays

[2020-12-20 00:05] yeahBradley commented on #1201
Tensorflow requires 64-bit python 3.4.x - 3.7.x.  While I read of some people having success with more than one version of python installed, you're best bet will be to uninstall and reinstall the appropriate version.

[2020-12-27 15:02] iByteABit256 commented on #1112
In backtracking_search I did
`res, checks = inference(...)
total_checks += checks`
and did some changes in forward_checking so it also returns the checks.

I don't know if there's an easier way to do this

[2021-01-13 06:52] VanjaO opened #1213 "Two typos in Probablity (aima-python) post 4"
Post 4: (this is correct naming if using probability4e)
p = ProbDist(freqs={'low': 125, 'medium': 375, 'high': 500})
p.varname

(The typo is in the older probability.py and its related notebook)
Should be: (using probability - this is the right typing)
p = ProbDist(freq={'low': 125, 'medium': 375, 'high': 500})
p.var_name

(Suggest to be consistent)

[2021-02-03 23:21] philiprbrenan opened #1219 "No module named 'skbuild'"
I am trying to install aima-python.  As requested, I ran:

`pip install -r requirements.txt`

I get the following message:
`
    ModuleNotFoundError: No module named 'skbuild'`

Attempts to install skbuild get:

`404 Client Error: Not Found for url: https://pypi.org/simple/skbuild/`

Please tell me how to satisfy the requirement for **skbuild**?

Thanks!

[code]

[2021-02-04 00:01] philiprbrenan opened #1220 "GitHub Actions"
Please create a github action to unambiguously demonstrate the installation procedure on each major operating system rather than relying on written documentation aimed at humans?

[2021-02-27 01:57] JiveyGuy opened #1222 "ops.py:852: NotImplementedError"
Issue with python 3.8.5 and `rnn = SimpleRNNLearner(train, val)`
[output.log](https://github.com/aimacode/aima-python/files/6053527/output.log)

[2021-06-07 11:33] rogerisaksson opened #1225 "Tests failing unless reinstalling tensorflow"
I got errors when executing py.test with a Python 3.8.5 Anaconda environment on a Windows 10 machine.
Solution found here: https://github.com/maxpumperla/deep_learning_and_the_game_of_go/issues/89#issuecomment-819744203

Steps to reproduce and to fix:

1. Start the anaconda prompt (as administrator) from the start menu
2. `cd c:\sources\aima-python` (or wherever you might have cloned)
3. `conda cr

[2021-06-07 16:50] rogerisaksson opened #1227 "Using pip for installing pywin32"
Getting the

[2021-08-20 01:56] huntleym commented on #1219
You can try 'pip3 install --upgrade pip' and then check to see you have the latest version of pip afterwards with 'pip -V'

[2021-09-09 20:17] jeffofx opened #1231 "test.py ... AttributeError: module 'keras.optimizers' has no attribute 'SGD' AttributeError: module 'keras.utils' has no attribute 'to_categorical'"
Following the README.md instructions to the letter, but getting attribute errors about keras.  Googled around a bit, tried some things, no luck.   In particular, I tried:

  587  pip install tensorflow --upgrade --force-reinstall
  593  pip install keras --upgrade --force-reinstall

... and I tried changing the case (upper, lower) of the SGD in deep_learning4e.py .

**SYSTEM INFORMATION**

MacOS 1