[2016-02-02 00:11] GoogleCodeExporter opened #1 "39 of the algorithms from the book are not implemented yet"
[code]

Original issue reported on code.google.com by `peter.no...@gmail.com` on 15 Jun 2007 at 7:39

[2016-02-02 00:11] GoogleCodeExporter opened #2 "'sorted' from python 2.4 or 2.5 makes test on 'utils.histogram' fail"
[code]

Original issue reported on code.google.com by `matteo.a...@gmail.com` on 1 Oct 2007 at 2:23

[2016-02-02 00:11] #2 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #3 "We don't have that 'data' directory"
[code]

Original issue reported on code.google.com by `matteo.a...@gmail.com` on 1 Oct 2007 at 3:04

[2016-02-02 00:11] #3 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #4 "Can not pass the test."
[code]

Original issue reported on code.google.com by `Question...@gmail.com` on 18 Oct 2007 at 1:30

[2016-02-02 00:11] #4 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #5 "Neighbors for NY are incorrect for USA map coloring problem"
[code]

Original issue reported on code.google.com by `par0...@yahoo.com` on 12 Nov 2007 at 9:47

[2016-02-02 00:11] #5 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #6 "Bug in constructor for DataSet class within learning.py"
[code]

Original issue reported on code.google.com by `dls8...@gmail.com` on 6 Dec 2007 at 1:52

[2016-02-02 00:11] #6 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #7 "Cannot create EnvGUI (EnvCanvas missing)"
[code]

Original issue reported on code.google.com by `ricka...@gmail.com` on 29 Jan 2008 at 1:57

[2016-02-02 00:11] GoogleCodeExporter opened #8 "games.py line 121 missing argument in call to legal_moves method"
[code]

Original issue reported on code.google.com by `nei...@gmail.com` on 30 Jun 2008 at 1:55

[2016-02-02 00:11] #8 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #9 "typo in line 510"
[code]

Original issue reported on code.google.com by `wyue...@gmail.com` on 17 Sep 2008 at 4:41

[2016-02-02 00:11] #9 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #10 "conjuncts() and disjuncts() need to be recursive"
[code]

Original issue reported on code.google.com by `rushing....@gmail.com` on 2 Mar 2009 at 6:53

[2016-02-02 00:11] #10 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #11 "Several bugs in CSP.py, patch included"
[code]

Original issue reported on code.google.com by `edgar.ho...@gmail.com` on 6 Jul 2009 at 12:17

Attachments:
- [csp.py.diff](https://storage.googleapis.com/google-code-attachments/aima-python/issue-11/comment-0/csp.py.diff)

[2016-02-02 00:11] #11 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #12 "DefaultDict could front-end the native 2.5 version defaultdict"
[code]

Original issue reported on code.google.com by `arocki...@gmail.com` on 15 Sep 2009 at 3:00

[2016-02-02 00:11] GoogleCodeExporter opened #13 "logic.to_cnf is not working properly"
[code]

Original issue reported on code.google.com by `john.a.f...@gmail.com` on 6 Oct 2009 at 1:49

[2016-02-02 00:11] #13 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #14 "Logic expression does not support not-equal comparison"
[code]

Original issue reported on code.google.com by `karp...@gmail.com` on 3 Dec 2009 at 1:15

[2016-02-02 00:11] #14 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #15 "bug in NearestNeighborLearner class in learning.py"
[code]

Original issue reported on code.google.com by `amroamro...@gmail.com` on 13 Dec 2009 at 2:04

[2016-02-02 00:11] #15 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #16 "Policy iteration does not work"
[code]

Original issue reported on code.google.com by `srbur...@gmail.com` on 29 Apr 2010 at 5:54

Attachments:
- [mdp.py](https://storage.googleapis.com/google-code-attachments/aima-python/issue-16/comment-0/mdp.py)

[2016-02-02 00:11] #16 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #17 "ATTENTION: Download of aima-data.2008.08.24.zip appears to contain Worm"
[code]

Original issue reported on code.google.com by `majb2...@gmail.com` on 17 May 2010 at 2:22

Attachments:
* [ClamTK Virus Scan.png](https://storage.googleapis.com/google-code-attachments/aima-python/issue-17/comment-0/ClamTK Virus Scan.png)

[2016-02-02 00:11] GoogleCodeExporter opened #18 "Missing Class EnvCanvas in agents.py"
[code]

Original issue reported on code.google.com by `f3f0f...@gmail.com` on 23 Jul 2010 at 12:56

[2016-02-02 00:11] GoogleCodeExporter opened #19 "6 Tests failing in latest svn download of data and code"
[code]

Original issue reported on code.google.com by `chandrak...@gmail.com` on 25 Jul 2010 at 6:02

Attachments:
- [mdp.py](https://storage.googleapis.com/google-code-attachments/aima-python/issue-19/comment-0/mdp.py)
- [text.py](https://storage.googleapis.com/google-code-attachments/aima-python/issue-19/comment-0/text.py)

[2016-02-02 00:11] #19 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #20 "nlp.py: E0 grammar missing Name in NP"
[code]

Original issue reported on code.google.com by `eriksilkensen` on 11 Oct 2010 at 5:38

[2016-02-02 00:11] #20 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #21 "Errors in NearestNeighborLearner"
[code]

Original issue reported on code.google.com by `tblana...@gmail.com` on 19 Oct 2010 at 5:21

[2016-02-02 00:11] #21 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #22 "Error in utility function for Tic Tac Toe makes 'X' always win"
[code]

Original issue reported on code.google.com by `daniel.u...@gmail.com` on 28 Feb 2011 at 6:55

[2016-02-02 00:11] #22 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #23 "Misleading comment in MDP class"
[code]

Original issue reported on code.google.com by `Gustavo....@gmail.com` on 21 Apr 2011 at 6:26

[2016-02-02 00:11] #23 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #24 "TicTacToe games utility method is incorrect"
[code]

Original issue reported on code.google.com by `tom.h...@forward.co.uk` on 11 Aug 2011 at 6:55

[2016-02-02 00:11] #24 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #25 "Unit Tests Fail 'out-of-the-box'"
[code]

Original issue reported on code.google.com by `andrew.d...@gmail.com` on 25 Aug 2011 at 3:07

[2016-02-02 00:11] #25 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #26 "IOError: [Errno 2] No such file or directory: '/home/maxim/aima-python-read-only/../data/orings.csv'"
[code]

Original issue reported on code.google.com by `ma...@vekslers.org` on 11 Oct 2011 at 9:56

[2016-02-02 00:11] #26 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #27 "abstract instead of NotImplementedError"
[code]

Original issue reported on code.google.com by `alexhans...@gmail.com` on 11 Oct 2011 at 6:13

[2016-02-02 00:11] GoogleCodeExporter opened #28 "R133 runtime error"
[code]

Original issue reported on code.google.com by `asi...@acsw.com` on 18 Oct 2011 at 9:26

[2016-02-02 00:11] #28 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #29 "MDP: mdp.py infinite loop for gamma = 1"
[code]

Original issue reported on code.google.com by `Stas.Kra...@gmail.com` on 12 Nov 2011 at 1:00

[2016-02-02 00:11] GoogleCodeExporter opened #30 "Patch for /trunk/games.py"
[code]

Original issue reported on code.google.com by `Franck.Dernoncourt` on 13 Mar 2012 at 1:00

Attachments:
* [games.py.patch](https://storage.googleapis.com/google-code-attachments/aima-python/issue-30/comment-0/games.py.patch)

[2016-02-02 00:11] GoogleCodeExporter opened #31 "PriorityQueue implementation is quadratic for our purposes - __contains__ does linear search"
[code]

Original issue reported on code.google.com by `neal...@gmail.com` on 19 Jul 2012 at 5:07

[2016-02-02 00:11] GoogleCodeExporter opened #32 "search algorithms outside classes ?"
[code]

Original issue reported on code.google.com by `tournev...@gmail.com` on 19 Jul 2012 at 12:23

[2016-02-02 00:11] GoogleCodeExporter opened #33 "File missing"
[code]

Original issue reported on code.google.com by `fghj...@gmail.com` on 29 Jul 2012 at 6:44

[2016-02-02 00:11] GoogleCodeExporter opened #34 "alpha beta pruning is incomplete"
[code]

Original issue reported on code.google.com by `chasmosa...@gmail.com` on 22 Nov 2012 at 10:16

[2016-02-02 00:11] GoogleCodeExporter opened #35 "fiind_unit_clause function used by dpll_satisfiable in logic.py has a missing case"
[code]

Original issue reported on code.google.com by `juhan.er...@gmail.com` on 10 Dec 2012 at 10:34

[2016-02-02 00:11] GoogleCodeExporter opened #36 "[deleted issue]"
[code]

[2016-02-02 00:11] #36 closed, assigned to nobody

[2016-02-02 00:11] GoogleCodeExporter opened #37 "ConnectFour- Game: inside actions method - listcomprehension issue causes traceback"
[code]

Original issue reported on code.google.com by `Luke.Fra...@gmail.com` on 16 Oct 2013 at 5:42

[2016-02-02 00:11] GoogleCodeExporter opened #38 "The function dpll_satisfiable in logic.py requires arguments to be expr-s."
[code]

Original issue reported on code.google.com by `juhan.er...@gmail.com` on 7 Dec 2013 at 1:16

[2016-02-29 20:12] darkcoderrises commented on #34
If no one is working on this, could I?

[2016-03-01 07:08] OrkoHunter opened #40 "Skip test if data directory is not present"
Running test on a newly cloned repository.

We expect the tests to fail only if the code is broken. Tests fail with little less informative error.

GitHub master, Linux Mint 17.3

A warning should be raised to get the `data` repository for the tests to complete. If the directory is not present, it would be good to skip the test with an informative message.

I'd like to work on it, if the issue is

[2016-03-01 09:51] AMAN3003 commented on #18
@GoogleCodeExporter I would like to work on this

[2016-03-01 16:33] abhishekgarg16 commented on #38
Please review this pull request for this bug.
[Link to pull request](https://github.com/aimacode/aima-python/pull/41)

[2016-03-01 17:28] abhishekgarg16 commented on #37
Please review this pull request for this bug.
[Link to pull request](https://github.com/aimacode/aima-python/pull/43l)

[2016-03-01 17:41] reachtarunhere commented on #12
Please review the pull request https://github.com/aimacode/aima-python/pull/42 resolving the above.

[2016-03-02 06:47] varshit97 commented on #33
Hi, I would like to work on this. Can u please enlighten me with more details about the problem.

[2016-03-02 12:07] hkhats95 commented on #1
Hello, Dr. Norvig
I would like to contribute in writing algorithms in python.
Could please tell me how to contribute to it.

Regards,
Hitesh

[2016-03-02 15:17] chiragvartak opened #45 "Modify Readme.md on the master branch to include content from Readme.md on wiki branch"
It would be great if we could include the content from [Readme.md](https://github.com/chiragvartak/aima-python/blob/wiki/ReadMe.md) on the wiki branch on master branch's Readme.md. Also, the instructions here will have to be modified a bit so that they target Github and git users as opposed to Google Code and svn users (where the project was hosted initially).

[2016-03-02 15:18] chiragvartak opened #46 "Fixing links in ProjectHome.md and including its contents in Readme.md"
I suggest moving the page [ProjectHome.md](https://github.com/chiragvartak/aima-python/blob/wiki/ProjectHome.md), which contains the table of implemented and not implemented algorithms to the Wiki section (only the owner of the repo can do that currently; if that could be changed so as to allow other users to edit and create wikis?). The links in this page will have to be modified to point to corr

[2016-03-02 15:34] chiragvartak commented on #40
Just putting the `data` directory should fix this right? Download it from [here](https://code.google.com/archive/p/aima-data/source/default/source), unzip it and put this unzipped folder alongside your `aima-python` folder. Make sure to rename this unzipped folder to `data`.

Also, I didn't understand what you mean by 'skip the tests' when you are explicitly asking to run them. If you don't want t

[2016-03-02 20:15] gokul-uf opened #48 "Modifying utils.py to work with Python 3+"
Code in utils.py have been implemented to fit the capabilities of python 2, as this repo is for code in python 3, we should modify this to reflect the same. I am working on this and will be sending a pull request for the same.

[2016-03-02 20:33] gokul-uf commented on #48
Question: Should we keep backward compatibility as-is or should we move it to a separate branch/repo to keep the current repo clean?

[2016-03-02 21:42] reachtarunhere commented on #46
@chiragvartak  Can you elaborate on what you mean by moving the page? For now I have sent a pull request which deals with changing the links of the Index. Please let me know if you want to it to be somehow different.

[2016-03-02 21:55] chiragvartak commented on #46
Well, I thought that moving the ProjectHome.md file to the Wiki section would be appropriate but after having a look at [aimacode/aima-java](https://github.com/aimacode/aima-java), including it's content in the Readme.md of the repo seems to be the way to go. I'll edit the title of this issue accordingly.

But never mind, your edits are still valid. Now after fixing #45 and including your edits, t

[2016-03-02 22:00] reachtarunhere commented on #48
Another important factor to consider is whether we need to do away/rename the custom implementations  for which there are native implementations in the newer version. I am specially curious about the cases where these custom implementations have different names then that of the native implementations in Python 3.

Example Case: DefaultDict (in utils.py), collections.defaultdict (in Python 3)t

[2016-03-02 22:10] reachtarunhere commented on #46
Or possibly, we move the content including the Index and the Setup Guide as separate files and link them to the main readme to keep it short. (Like the aima-java implementation). Nevertheless, I think this is best left for the repo maintainers and owners to decide.

[2016-03-03 11:11] Lxrd-AJ opened #51 "aima-swift possibly?"
Hi ,
I have been wanting to contribute to aimacode for a while now and wanted to apply through Google summer of code but I am on placement atm and thought the role might be more suited to someone else with more time.
From the readme i can see that you're looking to explore other languages such as C++/C# and a language with the readability of Python and type safety and speed of Java. I recently hav

[2016-03-03 18:21] gokul-uf opened #54 "Pythonic way to represent infinity"
`infinity` in `utils.py` has been represented as `1.0e400`. We may not be encountering such huge numbers while going through AIMA but I believe it is better to represent it in a more [pythonic way](https://docs.python.org/3/library/functions.html#float).

[2016-03-03 18:31] gokul-uf commented on #54
@tmrts PR fixes this issue

[2016-03-03 18:44] tmrts commented on #54
The PR is #53 and the representation will be changed to `infinity = float('inf')` which also allows `-infinity` to be the negative infinity.

[2016-03-04 04:01] TusharGupta01 commented on #1
Hi,
I would like to work on Reinforcement Learning and Neural Networks implementation as a part of gsoc 2016. Please give your insite.

Thanks
Tushar Gupta
Indian Institute of Technology Mandi, India

[2016-03-04 08:57] varshit97 opened #57 "undefined function "update" in mdp.py"
An undefined function named "update" is used twice in mdp.py?
What is the purpose of using it?
It isn't in any of the imported classes.

[2016-03-05 03:43] duaraghav8 opened #60 "A Repository for JavaScript"
Will AIMACODE consider setting up a repository for JavaScript as well? I think JS implementations of the algorithms, especially the search-based and NLP-based, would be a great idea. If a repo is created, JS coders can start contributing as well.

[2016-03-05 03:52] norvig commented on #27
I think "raise NotImplementedError" is the simplest, most Pythonic way to go. Another reasonable approach is the abc (abstract base class) module, but I think that's overkill here.

[2016-03-05 03:52] #27 closed

[2016-03-05 04:01] norvig commented on #51
It is a possibility, but I wouldn't put Swift in my top 10 list of languages. I think the priorities are to first finish Python and Java. Then, it might be nice to have one more language that combines the efficiency and type safety of Java with the terse expressiveness of Python. Swift is a reasonable choice for this, but it looks like Go and other languages fill a similar niche and are more popul

[2016-03-05 04:03] norvig commented on #32
Either way would work -- I think classes add complexity that often is not needed.

[2016-03-05 04:04] #30 closed

[2016-03-05 04:10] norvig commented on #12
Fixed.

[2016-03-05 04:10] #12 closed

[2016-03-05 04:10] norvig commented on #17
False alarm.

[2016-03-05 04:10] #17 closed

[2016-03-05 04:11] norvig commented on #31
Brand new implementation coming.

[2016-03-05 04:11] #31 closed

[2016-03-05 04:12] norvig commented on #54
Good! Thanks gokul-uf and tmrts.

[2016-03-05 04:12] #54 closed

[2016-03-05 04:13] norvig commented on #57
I want to move away from using it; it was in utils.py, got deleted (my mistake); now back in.

[2016-03-05 04:13] #57 closed

[2016-03-05 04:56] norvig commented on #60
Excellent idea! I don't have the time to do any work on the JS repository myself, but I'm glad to open it up.

[2016-03-05 05:18] duaraghav8 commented on #60
Thank you, I'm already on it!

[2016-03-05 07:00] norvig commented on #48
reachtarunhere is right -- we should use the now-standard implementations and remove the legacy implementations and names. So, don't use DeafultDict, use collections.defaultdict throughout.

[2016-03-05 07:02] reachtarunhere opened #61 "Non-Uniform Representation of Coordinates/Points"
Most of the code uses tuples to represent points (example: search.py). The new utils.py treats points as objects as attributes x and y and tends to use a.x,a.y for the coordinates. This can be observed in the distance function.

This was done so as to account for https://www.python.org/dev/peps/pep-3113/ which removes support for parameter unpacking in Python3.

@norvig So a decision needs to be m

[2016-03-05 07:20] norvig commented on #61
Good question. It is a shame that Python doesn't have a fixed answer. I see three main choices:

(1) tuple: (x, y) pair; manually unpack.
    def Point(x, y): return (x, y)
    def X(point): return point[0]
    def Y(point): return point[1]

(2) Named tuple:
    Point = collections.namedtuple('Point', 'x, y')

(3) Complex numbers -- good for representing points in the (float x float) plane; for ex

[2016-03-05 07:25] reachtarunhere commented on #61
I'll send a PR for making the change and adding all 3 functions Point, X, Y.

[2016-03-05 09:39] ishaan1996 commented on #48
utils.product and utils.argmin_list not working
------------------------------
utils.product([2,3,4])
NameError: name 'reduce' is not defined
------------------------------
a = ['one', 'two', 'three', 'six']
utils.argmin_list(a, len)
[]

[2016-03-05 09:48] gokul-uf commented on #48
That is the final goal. There is another branch for transistioning python 2
code to python 3. Please check that out

S. Gokula Krishnan, Fourth-year Undergraduate student
Department of Computer Science
Birla Institute of Technology & Science, Pilani
Pilani Campus, Rajasthan, INDIA - 333031

On Sat, Mar 5, 2016 at 3:09 PM, Ishaan Arora <notifications@github.com>
wrote:

[2016-03-05 14:33] Chipe1 commented on #34
#70

[2016-03-05 22:37] norvig opened #73 "Port to Python 3"
We need to update all the files to Python 3. Issues include: print is now a function; range and map and other functions no longer produce lists; objects of different types can no longer be compared with <; strings are now Unicode; it would be nice to move % string formating to .format; there is a new next function for generators; integer division now returns a float; we can now use set literals; l

[2016-03-05 22:38] norvig opened #74 "Move from inline doctest to separate _test.py files."
Currently, many functions have doctest tests in their docstrings. That should be changes so that the tests are in a separate `filename_test.py` file, and are in the form of asserts, suitable for py.test, not doctest. Why is this better? Makes the code in the .py files more condensed; easier to read. Puts all the tests in one place, not interrupting the flow of the code.

[2016-03-05 22:39] norvig opened #75 "Jupyter/Ipython notebooks"
Eventually, we want to have a `filename.ipynb` for each `filename.py`, where the Notebook will give examples and documentation for how to use the code.

[2016-03-05 22:40] norvig commented on #60
Repository has been created.

[2016-03-05 22:40] #60 closed

[2016-03-05 22:40] #51 closed

[2016-03-05 23:05] #37 closed

[2016-03-06 00:00] norvig commented on #29
Fixed.

[2016-03-06 00:00] #29 closed

[2016-03-06 00:34] reachtarunhere opened #76 "Methods to preserve in Queue & Priority Queue?"
As per a todo comment in utils.py both the FIFOQueue & PriorityQueue need to use queue.Queue and queue.PriorityQueue respectively.

In the note below q refers to the Queue object.
Some methods and features are not provided by these default implementations (or are accessed in a somewhat different manner). For example:

1. In standard implementation of PriorityQueue there is no method to set the ord

[2016-03-06 01:17] norvig commented on #76
These are important issues. I think part of the confusion is that the "Frontier" data structure is actually more than a queue -- it is a queue plus a member test. I have a different implementation -- I'll post in a day or two.

[2016-03-06 01:36] reachtarunhere commented on #76
Great. In my opinion (from the code I have read in search.py) we can match all the requirements by:
1. overriding couple of methods our implementation
2. making couple of minor changes in search.py and a major one of submitting the f+g values/priority when we add a new node.
A member test should not be an issue as we can always using `element in q.queue` even for standard implementations. I'll sta

[2016-03-06 02:12] #61 closed

[2016-03-06 05:02] light94 commented on #73
Hi @norvig ,
I want to work on this if no one has taken this up yet.

[2016-03-06 10:12] norvig opened #83 "Make the Build Pass!"
Build is failing; right now because map in logic.py returns a generator, not a list. We need to finish moving to Python 3 to make the build pass.

[2016-03-06 10:15] tmrts commented on #83
There are a lot of  incompatibilities at the moment. This issue is essentially identical with #73

[2016-03-06 12:54] Chipe1 commented on #83
How to make it pass?
The py.test run fine for me . Is there some other tests to be done? How do I run the complete tests since I can see most error only after sending the pull requests.

Sorry for the noob questions

[2016-03-06 15:35] SnShine commented on #83
Hey, all
I am working on this and here is my initial PR #94. Gonna add more modifications to that PR to make the whole repo pass build tests.

[2016-03-06 20:56] jeff3456 commented on #75
Hi @norvig ,

I would like to take on the creation of iPython notebooks for each filename.py

What sorts of examples/ visualization should I implement? Am I free to choose the examples or should they be directly from the book?

[2016-03-07 02:05] #83 closed

[2016-03-07 03:39] norvig commented on #75
Anything that explains how to use the code. When there are examples from the book, great -- but not necessary.

[2016-03-07 04:24] reachtarunhere commented on #75
@norvig do you think that having gui like simulations will be useful. I think these can be helpful and fun to play with. For example in case of Chapter 2 we can allow implementing a grid world for the vacum robot. Also we can have a visualizations of different searches where user can make use of IPython's %debug to go step by step through the code and see how the frontier is building etc. If you l

[2016-03-07 04:33] norvig commented on #75
Yes, I like this idea. I don't know enough about IPython to know if it can
be done well there, or has to be done in javascript. If you can do it in
IPython, I'm all for it.

On Sun, Mar 6, 2016 at 8:24 PM Tarun Kumar Vangani <notifications@github.com>
wrote:

[2016-03-07 04:45] reachtarunhere commented on #75
I guess we can do some of them without making use of JS. In some examples we might require embedding JS to add interactivity. I will give it a shot and see what I can hack around without using JS at all.

[2016-03-07 06:24] norvig commented on #75
See what you can do. I have nothing against embedding JS in Notebooks -- my
question was whether the notebook framework was so limiting that it would
be easier to have an all-javascript/html/css page without the notebook. But
if you can make things work in the notebook, that would be great.

On Sun, Mar 6, 2016 at 8:45 PM Tarun Kumar Vangani <notifications@github.com>
wrote:

[2016-03-07 07:04] gokul-uf commented on #75
@norvig IPython/Juypter notebooks do not provide facilities to use interactive animations out of the box. By interactive animations, I am referring to buttons .etc not dragging or rotating a 3D plot, for example. This functionality can be provided by JS. However, I have not seen examples where JS has been integrated into IPython notebooks. To ensure that code and visualizations are not separate an

[2016-03-07 09:50] reachtarunhere commented on #75
@gokul-uf My idea when I planned to do it without js is exactly the same of what you mentioned (changing static images). We could use embedding JS as a last resort.

[2016-03-07 10:28] norvig commented on #75
I've seen the animations; they are cool, but are limited in that you can't interact with them -- you can use an animations to, say, show how the frontier expands in a search, or how the Serpinski triangle unfolds, but you can't play a game of checkers where a human player alternates move with the computer.

[2016-03-07 10:43] reachtarunhere commented on #75
@norvig Please give these a look.
https://jakevdp.github.io/blog/2013/12/05/static-interactive-widgets/
https://github.com/ipython/ipywidgets

So there are these widgets that can allow buttons,sliders (basically a GUI inside a notebook). I haven't an IPy notebook for making something along these lines before. I am exploring these and from the demos it does not seem that it should be too difficult

[2016-03-07 13:17] gokul-uf commented on #74
@norvig I am working on this

[2016-03-07 13:45] SnShine opened #103 "Regarding inline doctests"
For learners, I think inline doctests serve as clean examples of what that particular method is doing. I don't think it is really good to remove doctests which are located in docs of each method; we can have all the doctests at *_test.py.

@norvig a decision need to be taken if we want to keep doctests in each method or not.

[2016-03-07 13:49] gokul-uf commented on #103
refer issue #74

[2016-03-07 14:02] SnShine commented on #103
Yeah, I have seen that and I have submitted a PR #66 (changes only utils.py) which is merged. But, now I am having second thoughts if we want to leave some doctests which can serve as examples for learners.

[2016-03-07 18:17] norvig commented on #103
Good point. I think there are two purposes of tests: examples, and true tests.

For functions where it is not immediately obvious how to use them, it would be good to have exactly one example in the docstring.  For example:

def product(numbers):
    """Return the product of the numbers.

    24"""

What we don't want is a long collection of true tests in the docstring that cover all the corner ca

[2016-03-08 04:44] reachtarunhere commented on #75
@norvig From the few examples I played with yesterday I can confirm the IPy notebook will not be limiting to the implementation. Basically it is possible to bind each event like click etc. on a DOM element such that it invokes some python code. This is very simple using a bulit-in function call which injects code into the kernel running the notebook. So we will still need to make the basic UI with

[2016-03-08 05:30] jeff3456 commented on #75
@reachtarunhere That's good to hear! So do you suggest we use one of the packages you mentioned? I could certainly try them out as I am planning moving forward with creating the first notebook for agent.py

[2016-03-08 07:40] reachtarunhere commented on #75
@jeff3456 Yes, we can use those packages. A lot will depend on what simulation/demos we want to put in. In some cases it may be required to write a custom widget too. I had some plans to work on agents.py too but its ok if you want to take that up. I will take up the work on search.py file instead. If you get stuck somewhere and need my help with the widgets etc. feel free to comment here or drop

[2016-03-08 07:49] Payal94 commented on #1
Hey Norvig,

@norvig
I would like to implement algorithms from the book which are not yet implemented. I will start from implementing [topological_sort](https://github.com/aimacode/aima-python/blob/master/aimaPy/csp.py#L335) and [make_arc_consistency](https://github.com/aimacode/aima-python/blob/master/aimaPy/csp.py#L339) functions.

[2016-03-08 10:06] MircoT opened #105 "Publish the package on PyPI"
To expose the package online is necessary register it on PyPI index. Here the official documentation and a useful link:

- [https://wiki.python.org/moin/CheeseShopTutorial#Submitting_Packages_to_the_Package_Index](https://wiki.python.org/moin/CheeseShopTutorial#Submitting_Packages_to_the_Package_Index)
- [http://peterdowns.com/posts/first-time-with-pypi.html](http://peterdowns.com/posts/first-time

[2016-03-08 17:23] jeff3456 opened #107 "TODO's in agent.py"
**NO LONGER WORKING ON THIS IGNORE REST OF THIS MESSAGE**

Hey I just wanted to create this issue to let you all know that I'm finishing up the todos in agent.py

I will also be adding examples in the iPython notebook for the agents.py .

[2016-03-08 17:28] reachtarunhere commented on #107
Hi! I have already worked on moving the doctests so you can leave that little part.

[2016-03-09 05:59] norvig commented on #105
Thanks, @MicroT. However, I'm still not convinced one way or the other about whether it is worth it to have a PyPI package. Here's evidence that things are too complicated: in #98 @jeff3456 created a bunch of empty notebooks with just an "import" statement, and some of those failed because of relative imports. There are already two ways for a student to get the project: the "save in Github Desktop

[2016-03-09 06:54] SnShine commented on #105
In my opinion, having a PyPI package isn't gonna make this repo more accessible to many students/learners of the book. There is no much hassle when getting a package via `pip install package` or `git clone *.git`. Both are equally difficult to do in a beginner's perspective.

The codes are easily viewable in case of `git clone` as they are downloaded in the current folder. And I think most of the

[2016-03-09 07:08] reachtarunhere commented on #105
Personally I have a strong preference for (3). I feel the pip install will not be useful. Let us try to look at this situation from the point of a student (this is our target audience) who will use this code. So, as a student I would like to not only use the code that is provided but would like to view the code / make changes to get a better understanding. The fact that the files are in an obscure

[2016-03-09 09:46] MircoT commented on #105
Regardless of the use of the package system or not, notebooks will never work with relative imports (they can't), but if the notebooks are in the main folder of the repository the import of **aimaPy** is ok (it will be like an absolute path, so *__init__.py* can be empty) and also they can be included in the package when distributing with *wheel* or *sdist* (so the source will be visible and also

[2016-03-09 12:35] jan-rudolf commented on #75
I am currently working on chapter 3 examples to Jupyter.

Besides widgets, it's also possible to add JavaScript/HTML into Jupyter notebooks, so the interactivity with the user is not much limiting (checkers could be possible), but it takes more time to do it.

[2016-03-09 13:13] reachtarunhere commented on #75
@jan-rudolf as I mentioned in my comment above yesterday I am working on search.py already. It would be great if you can take up something else.

[2016-03-09 13:33] jan-rudolf commented on #75
@reachtarunhere ok, but this could involve chapters 3, 4 or 5. Which one do you have in mind?

[2016-03-09 14:11] reachtarunhere commented on #75
@jan-rudolf I I am developing some common code to represent grids, graphs and do simulations. Thus this spans all of the search topics. I will try to put some stuff up and maybe we can collaborate once I have the basic structure ready. It would be best if you can take up some other IPy notebook in the mean time.

[2016-03-09 22:02] jan-rudolf commented on #75
@reachtarunhere ok

@norvig What about to have notebooks named by chapters? For example search.py has classes and functions across several chapters. If we would have an example for every source code, it would be too long, not clear...

[2016-03-10 07:29] norvig commented on #105
@MicroT, I appreciate your work here; I've certainly gained a better understanding of packages and relative imports from examining your work, so thanks for that.

But I showed the following code to two students who are our target audience:

[code]

Both students found it confusing and could not explain exactly what it was doing. I understand that an experienced Python programmer would have no trou

[2016-03-10 07:30] tmrts commented on #105
There are two ways a student might discover this repository, either through reading AIMA or searching a specific algorithm in google and finding this repository. Our focus should be on making sure every piece of code is correct and readable.

We don't have a strong reason to make this repository a PyPI package. However, if we wan't to increase discoverability (most likely from search engines), we

[2016-03-10 07:38] Chipe1 commented on #105
Though they might not understand what exactly is happening, I think it is clear that utils is being imported. The exact procedure or path of importing might not hold much value since students are mostly going to have a look at the actual code IMO.

[2016-03-10 07:57] norvig commented on #105
You're right @Chipe1, they understood that utils was being imported, but they were uncertain about the details. I want students to feel secure, not uncertain; they understand a simple "import utils"

@tmrts, you are correct that the main issue is making all the code readable and correct.

Also, it might be cumbersome if there are too many files, but it looks like one directory is less cumbersome t

[2016-03-10 08:42] reachtarunhere commented on #105
@norvig One thing we can do is to move the tests to a different directory as these are for devs and not aimed towards students.

[2016-03-10 08:53] MircoT commented on #105
@norvig to have a more clear one folder organization tests can be in a folder as @reachtarunhere said and files can have a name depends on the purpoise, for example:

[code]
So  there will be less confusion on what is code and what is an example of use or a documentation notebook or whatever...

[2016-03-11 16:43] chiragvartak opened #122 "Backward compatibility for Python 2"
I know that right now, we are writing code that's intended to work with Python 3.5 but do we want to maintain backward compatibility as well? I mean, do we want the code to work with both, say 2.7 and 3.5?
If yes, the code will have to be conditional code where we consider the version of Python on the machine where the code is running. [See this.](http://python3porting.com/problems.html)
If no, th

[2016-03-11 16:53] Chipe1 commented on #122
I think such code would be too ugly to read. There is a aima3python2 branch if that's what you are looking for.

[2016-03-11 17:03] chiragvartak commented on #122
Agreed, it would be ugly. But not that much.
Also, think about it. Many students still use Python 2. We wouldn't want to discourage them from using this repo. aima3python2 exists, but the branch intended to be used and developed further is the master branch.
I don't mind working entirely in Python 3. As a developer, it's easier for me to do so. Just asking this question to confirm what our protoco

[2016-03-11 17:47] #105 closed

[2016-03-11 20:04] norvig commented on #46
I moved the index into the main README. But I confess I don't understand how a wiki is supposed to be used. To me it feels a bit hidden -- a user has to discover that it exists in the "Branch:" oulldown, whereas the main readme is right there. Do we need a wiki branch at all?

[2016-03-11 20:07] norvig commented on #46
I think the reason the wiki branch exists is because of tradition in code.google.com under subversion; I don't think we need to maintain that under github -- a random sampling of github projects do not have a wiki branch.

[2016-03-11 20:11] chiragvartak commented on #46
I think a wiki branch is quite unnecessary. So, we create a wiki *page* with the necessary info and add a link to it in Readme.md. That way, the users do not have to 'discover' that page by themselves and also the Readme.me is not cluttered with too much information. Then we delete the wiki branch.

[2016-03-11 20:37] norvig commented on #122
Good question, @chiragvartak! I asked several Python experts if I should aim for that, and the consensus was no. As @Chipe1 says, it would make the code more ugly. It would also complicate testing, although we could automate that.

The main factor was that since we can assume that anyone using this project is a programmer, not just a naive user, it shouldn't be hard for them to install Python 3. M

[2016-03-11 20:39] chiragvartak commented on #122
Alright, it's settled then.

[2016-03-11 20:39] #122 closed

[2016-03-11 21:04] norvig commented on #103
I've updated the README.md to reflect @SnShine 's idea of "leave some doctests which can serve as examples for learners."

[2016-03-11 21:04] #103 closed

[2016-03-11 21:10] norvig commented on #46
For now I put all the info on the Readme.md page and will ddelete the wiki branch; later we can sonsider breaking up the readme.md page.

[2016-03-11 21:10] #46 closed

[2016-03-11 21:16] reachtarunhere commented on #46
I think it would be a good idea if we make the readme shorter. In my opinion it should mainly list stuff that is relevant for people who are going to use this code. This can include the index of implementations, structure, choice of programming and acknowledgements. For other details like how to contribute, style guide etc. we can have separate .md files that  have links in the main readme. We can

[2016-03-11 21:23] norvig commented on #73
Great work; the code now passes Python 3 build/test. But there are some outdated idioms that should be replaced eventually.

[2016-03-11 23:07] norvig commented on #1
You should all be able to find some work to do by looking at the list of functions on the home page readme file. Thanks for your efforts.

[2016-03-12 02:29] #34 closed

[2016-03-12 05:31] #33 closed

[2016-03-12 06:58] norvig commented on #74
OK, we decided it is ok to have one doctest example to explain usage of a function; other tests shoud move to `_test.py` files.  But how do we convince the test framework to run the doctests?

[2016-03-12 07:00] Chipe1 commented on #74
We can have a copy of the doc test in test_*.py

[2016-03-13 02:09] norvig opened #130 "Python 3.4; isclose; --max-line-length 100"
I have set the build to use Python 3.4, because there was a report of the container system failing to load Python 3.5 sometimes.  The only feature of 3.5 that we were using was math.isclose; I implemented it as utils.isclose, so if you want to use isclose (probably in tests), import it from utils, not math.

I set --max-line-length 100 in flake8.

[2016-03-13 03:34] #74 closed

[2016-03-13 03:35] #40 closed

[2016-03-13 11:51] chiragvartak opened #131 "Failure of verify_query from tests/test_text.py on Windows"
The [pytestlog.txt](https://github.com/aimacode/aima-python/files/170943/pytestlog.txt) attached is self-explanatory. The problem caused is due to Windows using backslashes instead of forward slashes in fie path names.
Also, note that Travis cannot catch such errors, as, by default, Travis runs the code on Linux. Travis also supports code testing on Mac but not on Windows. Well, we can't do anythi

[2016-03-13 19:17] norvig commented on #131
We can't easily run on windows, but we can make the test compare only file names, not full path, probably with

[code]

[2016-03-13 19:39] norvig commented on #75
Hey @reachtarunhere , I will happy when we have the problem of notebooks being too long! If we get there, it would make sense to have notebook names like `CH3_search.ipynb`. But right now our problem is too little, not too much. And it doesn't make sense quite yet to rename with chapter numbers, since we're not quite sure yet what will be the chapter numbering in fourth edition.

I'm really lookin

[2016-03-14 01:11] #131 closed

[2016-03-15 09:57] chiragvartak opened #139 "flake8 warnings in modules"
We use [flake8](http://dancallahan.info/journal/python-flake8/) to make the code in this repository to be compliant with [PEP8 guidelines](https://www.python.org/dev/peps/pep-0008/). The flake8 warnings can be can be viewed in the [latest Travis build](https://travis-ci.org/aimacode/aima-python).
Look for the line beginning with `$ flake8` and expand it to view the warnings.

[2016-03-15 15:36] Chipe1 commented on #139
I feel that code can be clear and easy to grasp without having to pass pep8 tests. Things like exactly 2 blank lines, use of lambda expression, max line length do not make the code illegible. Is there any way to drop those warnings

[2016-03-15 15:58] tmrts commented on #139
@Chipe1 the problem with that is, everybody has a personal style and they use the constructs they like.
Consistency is much more important than having a few inconveniences with style.

[2016-03-15 16:08] chiragvartak commented on #139
Yes, @tmrts, consistency has to be maintained, but @Chipe1 has a point too. There might arise cases where being too determined to stick with PEP8 guidelines might interfere with code readability. In these cases, I suggest we shouldn't ignore our common sense and do the best to maintain this code readability. [Straight from the PEP8 Style Guide.](https://www.python.org/dev/peps/pep-0008/#a-foolish-

[2016-03-15 16:18] chiragvartak commented on #139
And oh yes, [this is how you drop the warnings](https://flake8.readthedocs.org/en/latest/) if you wish to.
@Chipe1

[2016-03-15 16:21] chiragvartak commented on #45
Several PRs put together have already fixed this. Hence, closing this issue.

[2016-03-15 16:21] #45 closed

[2016-03-15 23:51] norvig commented on #139
I'm sympathetic with @Chipe1. For example, I prefer 1 blank line between functions, because I prefer functions that only a few lines long, and don't have any internal blank lines. But I can also see that if a reader is used to having two blank lines everywhere, then why should we be different? The `golang` community runs all their code through a pretty-printer, so everyone has exactly the same for

[2016-03-16 17:30] Chipe1 opened #146 "to_cnf() failed test"
Test case for to_cnf() in logic.py gives an error.
Running `to_cnf(Fig[7, 13] & ~expr('~P12'))` causes AttributeError.
The above test case was included in logic.py

[2016-03-17 09:12] MaVericKWareZ opened #149 "11.5 Hierarchical-Search"
Missing implementation of Figure 11.5 Hierarchical-Search.
Added this issue to let you all know that i will be working on it.
Thanks !

[2016-03-18 03:50] MaVericKWareZ commented on #149
Hey @norvig Sorry for the question, but do we have anything similar t the Action subclass in java here?
Thanks!

[2016-03-18 08:53] Chipe1 commented on #146
#152 should fix this

[2016-03-19 05:29] #146 closed

[2016-03-20 10:59] reachtarunhere commented on #75
@norvig Sorry for the long delay. I have put up a very basic prototype [here](https://github.com/reachtarunhere/interactiveblocks). Please ignore some of the hacks and rough edges for now. I plan to clean them up soon. Also I have mentioned some more things that can be done. You need to download the zip file for now and open the IPy notebook in Jupyter to try it out.

[2016-03-20 12:25] SnShine commented on #75
We need to have `ipythonblocks.py` (https://gist.github.com/jiffyclub/4499453) in the project folder, right?

[2016-03-20 12:34] reachtarunhere commented on #75
@SnShine I am sorry I totally forgot to mention that one needs to install IPythonblocks via pip3.

[2016-03-21 05:11] SnShine opened #160 "Need some help implementing interactive TicTacToe game"
Hey everyone,

I am trying to implement interactive TTT game and stuck at a problem. I have completed till this far (Taking user input by clicking on blocks).
![](http://g.recordit.co/UD9fWNUnZ9.gif)

You can view the source at https://github.com/SnShine/aima-python/commits/addInteractiveTTT (last three commits).
Is there any way to execute a python method after getting user_input from html onclic

[2016-03-21 05:23] reachtarunhere commented on #160
Yes @SnShine my code exactly solves that problem. There are two issues that need to be handled for this. I can surely help you in this once @norvig  can tell me if what I have done is ok or not.

[2016-03-21 05:34] SnShine commented on #160
Yeah, it's alright. I haven't played with your implementation of interactive blocks yesterday. Now that I have installed ipythonblocks, I figured it out.
And once interactive blocks is finalised by Norvig, we can build TTTgrid, searching algos and stuff like that on your implementation.

[2016-03-21 05:40] reachtarunhere commented on #160
@SnShine  yeah that would be great. I will try to add a couple of more demos today. They should serve as good examples if we are going to use interactive blocks in the future.

[2016-03-21 09:25] Chipe1 commented on #160
@reachtarunhere How do you plan to implement structures that are not grids. Can we use ipythonblocks to show graphs like the map of Romania given in the book and do dfs on it.

[2016-03-21 11:24] SnShine commented on #160
@Chipe1 I think we can't use ipythonblocks to represent graphs like Romania. If we are visualising that graph, we need have places separated to each other to scale. We can't do that with ipythonblocks. We can always use graphvix or some other library if we want to implement graphs like that. But, do we need to interactive with Romania map? We can have visuals for different searching algorithms, bu

[2016-03-21 17:38] norvig commented on #160
I have a question about ipythonblocks: I know I can have a grid of blocks, and specify colors. But I think we'll need to be able to put text labels on blocks for many applications, and for other applications, we'd want each block to be a canvas, or at least have the option of having a block display an image. I don't think ipythonblocks can do that? If not, it might be better to find a package that

[2016-03-21 17:43] norvig commented on #160
@SnShine makes a good comment: I think there are three types of visualizations:

- Static: still pictures, generated by a program, like a picture of a graph.
- Animations: a series of static picture snapshots, with buttons for play/stop/rewind, but no interaction with the content, like the sequence of a state space search.
- Interactions: an animation, but the user can change what happens, like a

[2016-03-21 17:45] norvig commented on #160
@reachtarunhere  I'm not sure what "once interactive blocks is finalised by Norvig" means -- is there something you want me to look at? I don't see a pull request.

[2016-03-21 17:53] reachtarunhere commented on #160
@norvig  by making some modifications it is possible to place images,text inside the grid cells. I am working on that right now and will comment here when that is ready. By "once interactiveblocks if finalized by Norvig" I meant your opinion on utility of interactiveblocks for AIMA code. I wanted you to give a look to the demo I made here https://github.com/reachtarunhere/interactiveblocks that tr

[2016-03-21 17:57] reachtarunhere commented on #160
@norvig  for static images and animations we don't require a separate package. I am not sure if there is some plugin for IPy that has the play pause rewind options but I'll give it a look.

[2016-03-21 20:22] norvig commented on #160
@reachtarunhere I do like the interactiveblocks! The Lights Out game demonstrates most of what we want to be able to do. But I'm still a little confused. First, there seems to be too many names: CustomBlock, CustomGrid, BlockGrid, GridWorld -- it is not clear what's what. I'm also not sure that we gain a lot by building on ipythonblocks -- if you have to override most of the functionality with cus

[2016-03-21 20:34] norvig commented on #160
Some more things from my wish list:

- I think for now it is fine to have GridWorld, but we should also think about ContinuousWorld -- it would be nice if all the methods work the same, but in ContinuousWorld, things can be placed with sub-block resolution.
- I worry a little about the `_THINGS` dict. I guess it is ok as long as it is extensible; users can add their own shapes. Really this is `_SH

[2016-03-21 23:38] reachtarunhere commented on #160
@norvig Thanks for the elaborate reply. Below I have addressed some of the points raised by you:

Agreed. My idea was only to expose GridWorld & Thing to the people using this code. I have another question. Do we want our target audience to go through this code and understand it? I have so far treated this is an aid that people only need to use directly.

 I think we can move away from ipythonbloc

[2016-03-22 03:19] SnShine commented on #160
* Let's say we have two walls in a row. How are we gonna show? Represent it as a straight line (20% thickness of block) starting from the centre of first block to the centre of second block.
* Now if we add `wall` to the third block in the same row, the wall in the second block extends from end-to-end, making it as > that extends from about the middle of the first block, all the way through the se

[2016-03-22 04:23] norvig commented on #160
@SnShine : also, I think we don't need fine control over red/green/blue color values. I can't think of an application where we will want to, say, vary the blue values from 0 to 255 continuously. So i propose that the API not have red, green, blue parameters, but rather have one `color` parameter, which we expect to be a color name, like `"red"`, but it can also be a str like `"#ffccaa"`. I think t

[2016-03-22 04:29] norvig commented on #160
What I had in mind for walls is something like this pacman board. See how the walls form "L" (and "C") shapes.

![image](https://cloud.githubusercontent.com/assets/4370220/13942088/cdff1608-efab-11e5-9219-7a4f9e7d5d58.png)

[2016-03-22 04:49] norvig commented on #160
For the continuous case, I'm thinking robots moving in a world with obstacles. Like this:

![image](https://cloud.githubusercontent.com/assets/4370220/13942349/c93f9338-efae-11e5-8e1e-2c9bcffffcd2.png)

[2016-03-22 06:52] Chipe1 commented on #160
We can use canvas and make our own library to draw common objects like wall (we can make adjacent walls snap to give the L shape) grids etc. Somewhat like http://processingjs.org/ . I trying to write a Python module which can take input from mouse and directly make changes to the canvas. Let's see what comes up

[2016-03-22 07:44] tolusalako commented on #75
I started work on [agents.ipynb](https://github.com/tolusalako/aima-python/blob/master/agents.ipynb). Am I headed in the right direction? Or should I include more details?

[2016-03-22 08:20] reachtarunhere commented on #160
@norvig  This makes it more clear. Also for the continuous example are we assuming that the agent has dimension of  a point or do we represent our problem in terms of a configuration space? For now I am treating the robot as point sized.

[2016-03-22 17:18] chiragvartak opened #164 "Precedence of propositional symbols in expr() function logic.py"
Currently, in the `expr()` function in the `logic.py` module, `>>` (implies) takes a higher precedence than `&` (and). There might be undesirable precedence in other combinations of symbols as well. We wish to have the following precedence order:

which, in our module, represent the propositional symbols for:

Solving this will require some good working knowledge of regex in Python. Anyhow, we can

[2016-03-22 17:46] Chipe1 commented on #164
I think this can be solved using stacks the way normal expressions with arithmetic operations are evaluated. Please correct me if I'm wrong.

[2016-03-22 18:34] norvig commented on #160
@reachtarunhere
- It is up to the robot whether it wants to reason with a configuration space
- The display code just needs to know the shape and location of each object
- The environment has to handle collisions. We could have environments where the agents are modelled as points, and the environment will refuse to let them pass through walls, or we could have environments where the agents are cir

[2016-03-22 18:35] norvig commented on #160
@reachtarunhere - One thing I would love to see is the absolute minimum round-trip between javascript and python. Let's say you display an html table with two cells, each displaying the number 0, and every time you click on a cell it increments by 1. What is the very simplest mechanism that will do that?

[2016-03-22 18:47] SnShine commented on #160
As far as I know, when we click on a html block, html's onclick calls a javascript method which calls a python method via `python.notebook.kernel.execute()` to increment the value in html block and displays it.

[2016-03-22 19:38] chiragvartak commented on #164
Well, parsing expressions is a much worked upon problem in computer science. I am sure there are many, many solutions, even advanced solutions, to this problem.

[2016-03-22 19:53] reachtarunhere commented on #160
@norvig I have tried the html5 canvas approach and it is working. For adding obstacles to the environments in continuous case (right now I am considering polygons and it should be possible to add circles) I am trying the approach below.
![VkhsDF](http://cdn.makeagif.com/media/3-22-2016/VkhsDF.gif)
The edges are saved back in a python dictionary which belongs to the ContinuousWorld Instance. Obstac

[2016-03-23 04:02] tolusalako commented on #107
@jeff3456 are you still working on it? I could help out since I need the Wumpus environment to finish the agents.ipynb I started.

[2016-03-23 06:49] norvig commented on #164
@chipe1, @chiragvartak you are certainly right -- we could write or import a parser.

I chose instead to overload the infix operators, because I wanted a user to be able to right

    P & Q

at the `>>>` prompt, or in a program, rather than having to write

    parse_expression("P & Q")

So our choices are:
1. Overloaded operators, but some wrong precedence.
2. A parser, but harder to integrate st

[2016-03-23 07:18] chiragvartak commented on #164
Alright, I understand it now. Changing operator precedence in `expr()` will work only if we parse the expression from a string every time. This would be tedious, less intuitive and harder to work with for longer statements. I, myself, wouldn't mind putting in a few extra brackets and be able to use operator overloading. We'll have to make sure to remind the users of this though.
My opinion, let's

[2016-03-23 14:09] reachtarunhere commented on #160
@norvig Please review https://github.com/reachtarunhere/aima-demo. This is a very basic (not-yet-complete) demo of Continuous World using the HTML5 Canvas. Like before you need to download and run the IPy files. Also I am a little confused about how this should be organized like a MVC and where this code should go when I make a PR. I will be glad if you can help me with this.

[2016-03-23 22:34] anuj1995 commented on #149
Hey @norvig i want to work on it

[2016-03-24 05:51] norvig commented on #164
OK, we'll stick with operator overloading. There are still some questions about what to overload:
- implication operators: use `>>` and `<<`, or maybe '>=' and '<='? The later have the right precedence, but the former probably look better. Or maybe don't have any operators, and instead provide functions:

    def implies(lhs, rhs): return Expr('==>', lhs, rhs)

- logical equivalence/if-and-only-if

[2016-03-24 07:49] chiragvartak commented on #164
I think using `>>` and `<<` is better than using `>=` and `<=`. Also, I am partial to using `%` for logical equivalence. After using the module for some time these operators started coming to me quite naturally.
Using functions will create somewhat confusing code, I feel.
So in summary, my suggestion: Let's stick with what we have now.

[2016-03-24 13:31] Chipe1 commented on #160
I'm not sure I completely understand how the IPython kernel works. I have written a sample notebook to run python code using IPython kernel in js https://github.com/Chipe1/aima-python/blob/ttt/kernel.ipynb . The code show NameError for variable goo when ' run all '(cells) is selected but works properly when the cells are executed one at a time. Can someone explain this behavior?

[2016-03-24 17:45] MaVericKWareZ commented on #149
@anuj1995 I already have the code in place for the algo.
Only the tests need to be implemented.
Maybe you could help me with that if possible?

[2016-03-25 13:12] anuj1995 commented on #149
I'll like to help you in that

[2016-03-25 15:02] anuj1995 commented on #130
In my merge request i updated the code accordingly

[2016-03-25 15:03] anuj1995 commented on #107
In case of any help i would like to work on it as i have similar work already

[2016-03-25 15:05] anuj1995 commented on #73
I want to work on it

[2016-03-26 19:24] jeff3456 commented on #107
@tolusalako and @anuj1995 Feel free to work on it yourselves! I have gotten sidetracked and am no longer working on this.

[2016-03-26 20:39] anuj1995 commented on #107
thanks for the reply

[2016-03-26 20:58] tolusalako commented on #107
@anuj1995 I'm almost done with all the todo's in agents.py. You can find most of my updates here: #169

[2016-03-27 23:17] Jsevillamol opened #177 "Recursive_Best_First_Search problem"
I am currently trying to implement some algorithms in the book, and when I was testing **Recursive Best-First Search** I found an instance of the 15-puzzle with a 32 steps long solution for which it seems that RBFS fails miserably, in the sense that it has been running for six hours or so and has not found a solution yet, while A* provides a solution in seconds.

Wondering whether I had made a mis

[2016-03-29 06:04] norvig commented on #177
RBFS saves space, but can take more time. But it acts similarly to IDA*, in that normally the time is proportional to the number of times you need to update, which is bounded by 32 for each state, so imy guess is that it shouldn't take that long. Make sure that you are updating the path costs appropriately. Make sure you do not allow paths with loops in them. You might want to look at the aima-jav

[2016-03-29 06:11] norvig commented on #164
OK, @chiragvartak.

I think that another option is more lightweight use of `Expr`. Suppose we had a function, `e`, that was like `Expr` except that it is infix rather than prefix, and knows all the alternative names for operators:

     e(A & B, '<=>', B & A)
     e(P | Q, '==>', P)

Since you would otherwise often need extra parens to get precedence right, this would only be adding an extra `e` a

[2016-03-29 06:20] norvig commented on #160
@reachtarunhere https://github.com/reachtarunhere/aima-demo looks good to me -- just what I was looking for!

[2016-03-29 06:21] norvig commented on #160
I think putting this in grid.py makes sense.

[2016-03-29 06:21] #139 closed

[2016-03-29 06:22] #130 closed

[2016-03-29 06:24] #48 closed

[2016-03-29 06:25] #35 closed

[2016-03-29 06:25] #18 closed

[2016-03-29 06:25] #7 closed

[2016-03-29 06:25] #32 closed

[2016-03-29 07:53] chiragvartak commented on #164
We do have such a function, it is the `expr`! It satisfies most of the requirements of the `e` function you described, with just one difference: it takes a single string. That shouldn't be much of a problem though.

[2016-03-29 16:27] norvig commented on #164
Yes, @chiragvartak, `expr` does do most of this -- and it does more as well. The advantage of allowing it to have multiple arguments, which need not be strings, is that within a program you can do something like

     lhs = some_expr
     rhs = another_expr
     return e(lhs, '==>', rhs)

which you can't do with `expr` currently.

[2016-03-30 10:00] norvig commented on #164
@chiragvartak and @Chipe1 I propose #182 -- what do you think?

[2016-03-30 19:06] MaVericKWareZ commented on #149
@anuj1995  Any progress on the issue?
Sorry i've been sidetracked a bit and couldn't work on this during the last few days

[2016-04-01 02:15] reachtarunhere commented on #160
@norvig  Thanks. Personally, I don't feel it will be a good idea to put this in grid.py. The reason being that this makes use of IPy specific imports like Display, HTML. This can break grid.py for those not using Jupyter.

[2016-04-01 03:20] norvig opened #187 "%pylab deprecated"
The[ matplotlib docs](http://matplotlib.org/faq/usage_faq.html#matplotlib-pyplot-and-pylab-how-are-they-related) says

Instead, it is recommended that  notebooks use

     import matplotlib.pyplot as plt
     import numpy as np

Let's do that -- I noticed @reachtarunhere used `%pylab` in the very nice `rl.ipynb`, and there may be others. One big problem with `%pylab` is that it imports some `numpy

[2016-04-01 03:25] reachtarunhere commented on #187
I was not aware of this. I will make the required changes and send a PR.

[2016-04-02 16:43] Jsevillamol commented on #177
I'm still a bit baffled by the other instance, but I moved on, modified the algorithm to not consider loopy paths and plotted and analyzed the performance in [this article](https://www.overleaf.com/read/vwwtyfgtjztv).

Turns out that checking for loops is a bigger improvement than what I initially though!

[2016-04-04 07:15] chiragvartak commented on #164
On a different but related note, I see a lot of attention drawn towards implementing interactivity in notebooks. Should I start working on it too? I was more focused on writing algorithms, coding tests and writing notebooks.
Advice?

[2016-04-04 20:30] norvig commented on #164
Interctivity in notebooks would be awesome!

[2016-04-05 00:14] norvig opened #195 "Adding doctests to travis"
@reachtarunhere and others: I wanted to run the doctests, so I added

     - python -m doctest -v *.py

to travis, but I broke the build because travis can't `import IPython` in `ipyviews.py`. Any suggestions on the cleanest way to fix this?

[2016-04-05 01:59] norvig commented on #195
I fixed it by putting a `try:` / 'except ImportError` in `ipyviews.py`.

[2016-04-05 03:07] SnShine commented on #195
@norvig, #196 fixes this. We just need to install Jupyter on travis.

[2016-04-05 07:21] #195 closed

[2016-04-05 21:56] #187 closed

[2016-04-08 23:35] norvig opened #201 "no noqa?"
In a previous version of this code base, utils.py had support for multiple versions of Python, and did things like define the set type for old versions of Python that didn't have it. So it made sense to do "from utils import *" because you'd be importing different things for different versions of Python.

But now we're only supporting Python 3.4+, there is no such confusion, and I think it would b

[2016-04-09 04:18] reachtarunhere commented on #201
I am working on this.

[2016-04-09 08:22] norvig commented on #201
Thanks!

On Fri, Apr 8, 2016 at 9:18 PM Tarun Kumar Vangani <notifications@github.com>
wrote:

[2016-04-10 09:22] Chipe1 commented on #160
@SnShine Are you still working on this? If not, I would like to.

[2016-04-10 09:24] SnShine commented on #160
It's alright. You can start working on this.

[2016-04-10 10:53] Chipe1 commented on #160
@SnShine  The game is incomplete and the code improperly placed. I started working on it will place a PR soon.

[2016-04-10 23:20] #201 closed

[2016-04-11 05:00] #160 closed

[2016-04-11 19:18] darius opened #216 "Should a non-symbol Expr be callable?"
A symbol like `f` can be called like `f(0)`, using this code: https://github.com/aimacode/aima-python/blob/master/utils.py#L397

But that code allows weird uses like `(a+b)(1)` meaning `Expr('+', 1)`. Probably this should raise an error instead when `self.args` is nonempty, as in this case.

(I'd go ahead and make this change without discussion except that I'm not set up to run any of the tests in

[2016-04-11 19:44] norvig commented on #216
I agree. There might be some complex math where you want to do that, but mostly you don't want to. And in particular, if someone translates the math expression `(x + 1) (x - 1)` verbatim into Python, rather than into `(x + 1) * (x - 1)`, then we'd rather have it give an error than to be a function call. I'll fix it.

[2016-04-11 23:46] norvig opened #218 "update submodule"
The aima-data submodule used by aima-python is an old version -- does anyone know the git commands to update it?

[2016-04-12 03:32] SnShine commented on #218
#219 updates the submodule.

[2016-04-16 00:41] darius opened #226 "Should core code require IPython?"
When I don't have IPython installed, the tests fail because `games` imports `canvas` which imports from `IPython`. The dependency should be either documented or turned into a lazy import so that it fails only when you try to run some code that actually uses `canvas`. The latter seems more reasonable right now given that it looks like there's just this one instance of the pattern.

[2016-04-16 16:59] darius opened #227 "Convert the NLP chapter to the 3rd edition"
`nlp.py` is the last code file still at the 2nd edition. Though there's not too much code, it needs a big overhaul because the text switched from chart parsing to the CYK algorithm, and added probabilities to the grammar productions. CYK imposes Chomsky Normal Form on the grammar.

The example grammar is close to being in Chomsky form, and automatically converting to it from general grammars is an

[2016-04-19 21:31] norvig commented on #227
That's great -- you are right that this is overdue. I'm not sure yet what changes there will be for 4th edition, but it will probably be less change than from 2nd to 3rd.

I agree we should keep the chart parser.

One question I have is whether grammar rules should be parsed from strings, or whether they should use the Expr class:

     rules('S -> NP VP | S Conj S',
               ...)

vs

[2016-04-20 05:41] darius commented on #227
Using Expr sounds interesting. Some minuses:

* You need to declare S, NP, etc., as symbols first.
* I think `>>` has tighter precedence than `|`. (I just checked the Python grammar.)
* It's further from the standard notation.

Some ideas for the second problem:

* Just wrap the right hand sides in ().
* Write the grammar as a dict, like `{S: NP + VP | S + Conj + S, ...}` or `rules(S = NP + VP | .

[2016-04-21 07:00] norvig commented on #226
I agree -- we shouldn't fail in that case.

[2016-04-21 17:21] norvig commented on #227
I agree that the lambdas are too fancy (and too ugly), and I agree that sticking to strings is the way to go. But consider that the way to parse the strings might end up being not just a bunch of str.splits, but instead some substitutions followed by an eval. In utils.expr, I handle the forward reference problem by doing an eval in a dict that interns new Symbols.

[2016-04-21 18:45] Chipe1 commented on #226
How about moving all the canvas code to canvas.py
It used to be in the notebook itself, but then I moved it to games.py after Jupyter was added to the build. Is it possible to have the code in the notebook itself and hide it(but still execute it)?

[2016-04-21 19:53] norvig commented on #226
Moving it to notebook will work. The notebooks really should have a way to collapse a cell so that by default it is not visible, but so far there is no such mechanism built in. Possibly we could do it with some fancy CSS.

[2016-04-22 04:06] darius commented on #227
Nice idea -- I'll hopefully get to this on Sunday and I'll keep that in mind.

[2016-04-29 17:52] Chipe1 opened #230 "Nameless Symbols"
Currently each symbol is identified by a string as an instance of Expr class with the string as its 'op'. This is useful for storing and representing single symbols, but makes it harder to have an array or dictionary of symbols. One approach to solve this would be to make all the symbols nameless and only referable through their object. With this we can just call Expr(None) to create a new symbol.

[2016-05-08 04:32] radlyeel opened #231 "README file links broken"
In the top level README.md, the file links in table "Index of Code" are all broken, having a path prefix of ../master/, when no prefix seems preferred.  Suggested corrected version is attached.
[README.zip](https://github.com/aimacode/aima-python/files/253759/README.zip)

[2016-05-08 04:51] SnShine commented on #231
Hey, are you talking about the README.md in master branch? They aren't broken and working fine with me. Would you like to check again?

[2016-05-08 05:10] radlyeel commented on #231
I think it must be my own (mis)understanding of the directory structure.  When I click the files from inside a browser looking at the github repository, everything is fine.  But when I cloned the repository, brought up the README with my markdown editor, and then clicked the link there, I got a bad link error.  So I guess the only problem is mine.  Thanks for the quick response.

[2016-05-08 05:18] #231 closed

[2016-05-11 22:01] norvig commented on #230
In Lisp, there used to be a function called `gensym` that generated a new symbol with a unique name. We could do that, with successive calls to `gensym()` returning symbols with names `s_0`, `s_1`, `s_2`, ... It is true that the name is not meaningful, but the name does serve to distinguish the symbol from other symbols.

[2016-05-11 22:07] Chipe1 commented on #230
I used a similar function to solve this, but I was thinking it would be better if the Expr class did this internally when we donot mention any name.

[2016-05-23 11:52] #218 closed

[2016-05-25 12:13] SnShine commented on #177
Closing as this is resolved. Comment if I am mistaken.

[2016-05-25 12:13] #177 closed

[2016-05-25 12:22] SnShine commented on #226
Hmm... We will be implementing visualisations for searching algorithms shortly and we will use Python in search.py also. It would be better if we document IPython as a dependency.
And @darius, what's your opinion on having a wiki page for aima-python? Our README is very long and I think it might be useful if we can move some tables to wiki pages.

[2016-05-25 12:52] reachtarunhere commented on #226
I feel that the idea to document IPy as a dependency is a good one. This is because we might want to have tests for canvas.py or ipyviews.py at a later stage.

[2016-05-25 15:12] darius commented on #226
@SnShine I'd at least wait till the tables are full (or nearly) before moving them -- it seems encouraging for a potential contributor to see the open parts right away, and gives others a quick idea of how useful they might find the project. When we can summarize the tables as "all the pseudocode in the book" there'll be a stronger case for moving them.

[2016-05-26 08:39] thundergolfer opened #234 "How should algorithm READMEs be completed and organised?"
It says in your contribution readme that you would like to have readme files added for individual algorithms. I would be happy to complete some of these when I have time, but I am afraid that there is not enough information on what should be in them, and where they should be placed in the repo.

Could you please add some guidelines, or point to good practice in another repo to work from?

[2016-05-26 08:50] reachtarunhere commented on #234
As of now work is in progress on providing how to use guides and example code as a part of Jupyter Notebooks. You can give few of those a look to get an idea. Currently, the work in this regard is in its infancy and we are working to make it as complete as possible.

[2016-05-27 06:21] go-bears commented on #234
I'd like to help with the how- to-use guides in the notebooks. I submitted a pull request that fixed some typos, spacing, and clarity issues in the search.ipynb file. Would it be ok to keep on working on adding examples and explanations?

[2016-05-27 06:53] SnShine commented on #234
Yeah, @go-bears, that would be cool. You can refer some of the (partially) completed notebooks how to proceed writing the notebooks.

[2016-05-27 15:33] reachtarunhere commented on #76
@norvig I am working on completing the search notebook. Do you think we should be handling this now?

[2016-06-07 06:53] SnShine opened #238 "[Binder] Do we need to update binder whenever we update our notebooks?"
I could't see latest updates in our notebooks (index.ipynb) when pressed launch binder button. Do we need to update our repo every time we modify notebooks - http://mybinder.org? Or would binder take some time to reflect those changes?

[2016-06-07 08:03] reachtarunhere commented on #238
You need to go to mybinder.org and build again. Please make sure you use the requirements.txt option. Unfortunately their system works in this manner at present though they have promised to fix this in later versions.

[2016-06-07 15:59] #238 closed

[2016-06-08 18:10] matthewh806 opened #239 "Mistake in depth_limited_search in Search.py on aima3python2 branch"
I was wondering if fixes / pull requests are still accepted for the legacy branch?

I was browsing the Search.py file and noticed that depth_limited_search has a mistake. This issue has been addressed on the [master](https://github.com/aimacode/aima-python/commit/464ca5df146316f1f0ceb52a4fa186cdfc222567) branch.

The same fix could be applied on the legacy branch if it is still maintained.

[2016-06-08 20:15] reachtarunhere commented on #239
The legacy repo is not actively maintained but any contributions that improve code in it are always welcome :) Though it is not a mistake in the implementation itself. I was actually wrong in th commit you have linked. There was an issue with the test case. The changes I have made are only to reflect the new pseudocode in the 3rd Edition.

[2016-06-09 17:19] matthewh806 commented on #239
Ah right okay. I'm looking at the new global edition of the book which also uses the new pseudocode.

Sorry for any confusion!

[2016-06-09 17:19] #239 closed

[2016-06-12 01:58] samousli opened #240 "Work on HITS algorithm"
Hello,

I implemented the HITS algorithm and wanted to ask for a review before continuing my work on it. I'm interested in your thoughts about the way it's organized and the way to handle/plug-in the datasets.

Link: https://github.com/samousli/aima-python/blob/master/nlp.py

I used the networkx library as it was already declared as a dependency.

[2016-07-14 14:03] thundergolfer commented on #240
Oh dear! I just submitted a pull request after implementing HITS today. This is why there should be an allocation system.

It's late now where I am but I'll look at your work tomorrow morning. It could be better than mine and I guess you could submit a pull request to change the implementation.

Cheers

[2016-07-17 03:39] thundergolfer commented on #240
@samousli: Hey mate, quickly looked through this. I suspect your graph approach may be more intelligent than my approach, but there are a couple of issues potentially.

1. Doesn't adhere to pseudocode as closely as it could. For example, your use of the Pages structure forces you to use `dataset.relevant(query)` rather than `relevant_pages(query)`.
2. Uses a set number of iterations in a loop rath

[2016-07-17 19:38] samousli commented on #240
Hey, thanks. We can work on those issues together, I will have time to through my code tomorrow.

Regarding the Pages structure,  if OOP code is undesirable. it's easy to refactor it to a more functional approach.
Also, about  the convergence criteria, another solution i thought of is setting an arbitrary limit to the convergence ratio of the sums of authority scores and hub scores.

Any comments

[2016-07-20 10:30] thundergolfer commented on #240
Check out the code in my in the recent pull-request.

I think anything that works and gets close to the pseudocode is desirable, just follow that.

I set an arbitrary limit for the convergence yeah. It's basically calculates the average change in auth,hub value for each page and if its below a certain limit ( like 0.001 ) then stop.

[2016-08-14 18:24] Ridhwanluthra opened #247 "create code for monte carlo localisation"

[2016-08-14 18:27] Ridhwanluthra commented on #247
I would like to create the code for monte carlo locatlisation and was wondering if anyone is currently working on that.
Also, please guide me the way you would like me to structure my work and how exactly would you expect the code to work.(what i mean is like would we require a simulation or just a code that can take inputs and give outputs but can do nothing unless the user provides information)

[2016-08-21 11:15] opensourceware opened #248 "Added new planning problem and a bug fix in substitute method of Action"
Hi all
I implemented spare_tire planning problem using the current PDLL and Action classes in planning.py in commit 83e32c1.
The goal_test for spare_tire fails due to a bug in the substitute method of class Action. The effect_add of spare_tire action "Remove" contains a ground atom (called "Ground"). Substitute method doesn't add the ground atoms as arguments to the expression. I have made a separ

[2016-08-30 06:08] #247 closed

[2016-09-02 00:01] onursurme opened #256 "ac3 in csp.py"
at line 171 in csp.py,  in the function AC3, it is written as :
`if Xk != Xi:`

there is no need to exclude Xi because Xi already can't be a neighbour to itself.
but I guess it should be
`if Xk != Xj:`
because Xi is already revised with Xj, so there is no need to add Xi, Xj to the queue again.

we can also see this in the book at Figure6.3 as :
`for each Xk in Xi.NEIGHBORS - {Xj} do`
here again, X

[2016-09-02 03:14] darius commented on #256
You appear to be right -- thank you!

We're also missing a test that would provoke this bug. Would you like to make a pull request with a new test case, or should I?

[2016-09-02 13:54] onursurme commented on #256
I'll try to create a test. I'll inform you about the result.

Sent from Yahoo Mail on Android

  On Fri, 2 Sep, 2016 at 6:14, Darius Bacon<notifications@github.com> wrote:
You appear to be right -- thank you!

We're also missing a test that would provoke this bug. Would you like to make a pull request with a new test case, or should I?

—
You are receiving this because you authored the thread.
Rep

[2016-09-02 22:55] onursurme commented on #256
Here is a test case which I think reveals the bug :
[code]
a must be bigger than b, so b can't be 5, and a must be 4.
when I run this test with the wrong version of AC3 (if Xk != Xi: version), the test says b=5, which is wrong.
but when I run the test with the right version of AC3 (if Xk != Xj: version), the test says a=4, which is true.

[2016-09-05 05:12] tejaskhot opened #258 "Contributing - where to begin?"
@norvig
Hello,
I am interested in contributing and have read the guidelines for the same. Is there a way to know which portions are unassigned(being done by someone else) so that I start with them? If there is some priority order then it would be nice if you could tell me the same so I can work along those lines.
Thanks.

[2016-09-06 05:37] SnShine commented on #258
Hey @tejaskhot,

Right now no one has been working on any of the tasks. Just go though opened PRs and work on something apart from them.

You can start contributing by writing some unimplemented pseudo codes from the table in readme.
Or go through some notebooks (Search, learning, probability, csp) and add/modify parts you think necessary. If you are contributing for notebooks, consider reading th

[2016-09-06 05:37] #258 closed

[2016-09-06 06:39] reachtarunhere commented on #258
@tejaskhot Just a heads up I am working on the text module right now. Also check my fork for some of the changes like the the new ngram model. The probability module has also be changed so anything that depends on that will also require some changes. I will try to finish the last few changes in the probability module and commit in the main repo so that you can get a better picture. Feel free to pi

[2016-09-06 06:43] tejaskhot commented on #258
Sure, thanks.

On Tue, Sep 6, 2016 at 2:39 AM, Tarun Kumar Vangani <
notifications@github.com> wrote:

[2016-10-01 21:57] rusrushal13 commented on #73
Is this issue is still Open?

[2016-10-01 22:00] rusrushal13 commented on #1
Hello,
I would like to implement algorithms from the book which are not yet implemented.
Could you please tell me the algorithms which are not implemented yet?
It will be great help.
Regards,
Rushal Verma

[2016-10-03 07:33] SnShine commented on #73
Nope. This problem's solved already.

[2016-10-03 07:33] #73 closed

[2016-10-03 07:34] SnShine commented on #1
Hey,
You can go through https://github.com/aimacode/aima-python#index-of-code of readme to see unimplemented algorithms.

[2016-10-27 20:17] ifsdotname opened #269 "Type comments"
The CONTRIBUTING.md file says that at some point type annotations may be added.

I started doing that in the search.py file (please see the pull request #268 [1]. I plan to continue adding them as I progress through the book and also through the AI class taught at the university where I study.

I think that they are useful, since the code is meant to accompany the book and help students understand

[2016-11-13 14:28] Z-Fikar opened #272 "Inline to Reference"
Hi, recently I just made a PR about changing the style of the links #271 . Unfortunately, I forgot to read the CONTRIBUTING pages first and read it right after I made the PR. So here I am, made a proposal.

I presume you already know that Markdown support two styles of the links: _Inline_ and _Reference_.

So, I changed the style from inline to reference, to make the job easier for contributor to

[2016-11-17 04:20] bcorfman opened #275 "Total order planner"
I've made some additions to planning.py to implement a total order planner with examples. I also made a small change to utils.py to include a partition function that I used in the planner.

The code can be viewed in my fork here:
https://github.com/bcorfman/aima-python/blob/master/planning.py
https://github.com/bcorfman/aima-python/blob/master/utils.py

[2017-01-16 12:37] vfdev-5 opened #280 "Bug fix in uniform cost search implementation"
Hello,

There is a bug in the implementation of the uniform cost search in the file `search-4e.ipynb`.
In this [commit](https://github.com/vfdev-5/aima-python/commit/5c656480d072a11147c19b55da8ca15dac0ba535#diff-b2e19edcc5dcc99faedbb70914dec9c5) you can see the fix. There are also some typo fixes in previous commits in my fork...

Cheers

PS. Thanks a lot for sharing the code of AIMA book. Very he

[2017-01-21 17:34] theSparta opened #282 "Perceptron Learner vs Logisitic Regression"
In the file `learning.py`, the `PerceptronLearner` function should not be same as Logisitic Regression.   There should be separate function for `PerceptronLearner` which uses **hard thresholding** as compared to **Logisitic regression** which uses the logistic function for threshold.

[2017-01-23 19:25] cppchedy opened #283 "verifying if am not misusing search module"
Hi,
first, I want to thank you for this awesome library/work and to encourage you to continue developing and maintaining AIMA-Python.
<hr>

I am using AIMA-python in my homework/project of AI and it's my first time with your library.
I was reviewing one of the examples in the notebooks after that I completed implementing my solution and it made me suspicious. that's why I am here to verify  a few

[2017-01-23 21:06] Chipe1 commented on #283
By empty action if you mean no action i.e. empty list, then it is valid. If no action is possible and goal cannot be reached the function returns None. It is sufficient to implement h(), define the 'problem' and pass problem,h to astar_search.

[2017-01-23 21:12] cppchedy commented on #283
thanks.
good, so I guess My implementation is correct. I will share it(I.A.) when I am done in a notebook.

[2017-02-27 20:35] theSparta opened #285 "Bug in learning.py"
In the function `LinearLearner` in `learning.py`, `learning_rate` is not used in the gradient update rule.

[2017-02-28 06:01] coderark commented on #285
Hi, @theSparta can I work on this bug.
Only, need to correct the update rule right?

[2017-02-28 06:24] theSparta commented on #285
#284 resolves this.

[2017-02-28 15:30] hackboxlive commented on #149
Is it still open? I would like to work upon it!

[2017-02-28 23:29] reachtarunhere opened #286 "Improve Test Coverage for learning.py"
The learning.py module has a lot of code but only a few tests defined in the corresponding test file. You can help by adding tests for some of the functions and methods.

[2017-02-28 23:39] reachtarunhere opened #287 "Improve Test Coverage for csp.py"
The csp.py module has a lot of code but only a few tests defined in the corresponding test file. You can help by adding tests for some of the functions and methods.

[2017-03-01 00:31] reachtarunhere opened #288 "Modern String Formatting in Code"
It would be nice to move % string formatting to .format() throughout the codebase as per [PEP 3101](https://www.python.org/dev/peps/pep-3101/)

Refer to [this link](https://pyformat.info) for examples.

[2017-03-01 03:43] #285 closed

[2017-03-01 03:45] norvig opened #289 "Build Broken"
Somewhere along the way the build got broken. Would like to see it fixed again!

[2017-03-01 09:35] sj29-innovate commented on #280
i would like to take this up

[2017-03-01 09:45] kshitij10496 commented on #289
The commit 9f7f4df started breaking the build.
Also, we need to check whether the commits merged after 9f7f4df (namely, 0e46096 and 123571e) are building properly.
I will try to fix it up.

[2017-03-01 09:51] reachtarunhere commented on #289
The issue was due to Travis + Setuptools and not due to our code. The build works now. [Another Project - Same Issue](https://github.com/pypa/setuptools/issues/942)

I just had to press rebuild on Travis to get this working. No change in config was required.

[2017-03-01 13:32] deepanshugarg257 commented on #288
@reachtarunhere I was started working on this issue and changed learning.py. But, learning.py was failing the test before I made any changes.
Could you please look into it?

[2017-03-01 14:01] sam0410 commented on #288
Hi @reachtarunhere !
In what all files do we need to enhance the code?
Thanks!

[2017-03-01 15:07] sampadsaha5 commented on #288
Hi @deepanshugarg257 and @sam0410, I encourage your interest over this issue. I have already fixed it. You can have a look at #292. Feel free to rectify me over that PR.

[2017-03-01 16:43] MrDupin commented on #289
It seems that the issue is still not fixed, I'm afraid. I made a trivial pull request (fixing typos in comments) but Travis could not built.

[2017-03-01 17:35] MrDupin commented on #282
Hi theSparta.

Just checked, and you are correct. The PerceptronLearner function uses an activation function but in most of the literature I can remember, it doesn't.

I'm not sure how to proceed about this though. The issue is easily fixed, but maybe it was intended to be this way. Do you know who can we contact to get the green light to change this?

[2017-03-01 18:05] theSparta opened #295 "Bug in DecisionTreeLearner in learning.py"
In the `count` function in the class `DecisionTreeLearner`, on running the learner on the `restaurant` dataset, gives the following error:

    return count(e[attr] == val for e in examples)
    TypeError: count() missing 2 required positional arguments: 'val' and 'examples'

79d7d5753b57317ecb5a9e94c981975d22324d49 in #293 fixes this.

[2017-03-01 18:06] reachtarunhere commented on #289
@MrDupin Yeah the build still fails occasionally. I am trying to look into it. I feel adding six to the travis config file should work.

[2017-03-01 18:15] theSparta commented on #282
Yeah, I also think that the `PerceptronLearner` intentionally uses the sigmoid function.

[2017-03-02 11:17] satyarth934 commented on #282
`def PerceptronLearner(dataset, learning_rate=0.01, epoches=100):
    """Logistic Regression, NO hidden layer"""
    i_units = len(dataset.inputs)
    o_units = 1  # As of now, dataset.target gives only one index.
    hidden_layer_sizes = []
    raw_net = network(i_units, hidden_layer_sizes, o_units)
    learned_net = BackPropagationLearner(dataset, raw_net, learning_rate, epoches)

    def predic

[2017-03-02 11:25] reachtarunhere commented on #289
This issue has been fixed but I can't find a way to restart builds for old PRs with new config file. Anyone has any idea how to go about this?

[2017-03-02 12:18] #282 closed

[2017-03-02 16:30] MrDupin commented on #289
If new PRs work, we could make new PRs for the old ones (at least, the ones that we want to commit). I checked a few of them and it wouldn't be too much work.

Some of them have built already, like #292 and #294.

[2017-03-02 17:46] reachtarunhere commented on #289
It will work for PRs with recent commits and it might or might not for the older PRs. I guess we can safely close this now.

[2017-03-02 17:46] #289 closed

[2017-03-03 05:55] theSparta commented on #295
@norvig @vidursatija
#301 is incorrect, on running the DecisionTreeLearner on the restaurant dataset gives the following error:

     return len(e[attr] == val for e in examples)
     TypeError: object of type 'generator' has no len()

The commit 79d7d57 in #293 fixes this correctly and this was also the cause of conflict in #293.

[2017-03-03 06:32] AnshulBasia commented on #286
Can I start writing tests for Dataset class ?

[2017-03-03 13:06] lucasmoura opened #304 "Flake8 not breaking build"
I have noticed in the .travis.yml file that the flake8 command does not break the build if it returns some warnings. Does that command breaks the build if only some flake8 warnings are triggered or should it not break the build at all ?

[2017-03-03 14:09] MrDupin commented on #295
I can confirm that Sparta's fix throws no error, while #301 throws the TypeError mentioned above.

Both <i>count</i> (the previous method) and <i>len</i> (the current one) throw errors.

[2017-03-03 19:36] MrDupin opened #308 "Issues on learning.py + Its Notebook"
I started working a bit on learning.py, and I have noticed some issues I need some directions on.

a) All the Learners require a DataSet object as input. Unfortunately, even though for some learners (like the kNN learner) it works intuitively, for others (like the NeuralNetLearner) it requires some actual pre-processing of the dataset. If I'm given the green light, I will implement these additiona

[2017-03-03 19:42] theSparta opened #309 "Unexpected result in mean_boolean_error"
I have written some tests in #293 and the `py.test` fails on this particular example during the travis build.

     def test_mean_boolean_error():

      E       assert 0.5 == 1
      E        +  where 0.5 = mean_boolean_error([1, 1], [0, 0])
This test works fine locally as it should because `mean_boolean_error([1, 1], [0, 0])` is indeed 1 . What could be the source of this error?

@norvig is this

[2017-03-04 10:00] #288 closed

[2017-03-04 20:50] Chipe1 commented on #309
I did some testing on #313 and I think I know the problem. In mean(), True + True is being evaluated as True. This makes sense if we think in binary. True + True = True; '+' acts as 'or' operator in the version travis is using to test the build. I'm not sure but this is the only reason I could come up with.

[2017-03-05 11:36] MrDupin commented on #286
Added tests for the following algorithms:

- PluralityLearner
- NaiveBayesLearner
- NearestNeighborLearner

I'm working on tests for other learners.

[2017-03-05 11:50] MrDupin opened #316 "Image Not Showing"
In [games.ipynb](https://github.com/aimacode/aima-python/blob/master/games.ipynb), the image for Game52 is not showing. The image that should be there is [this](https://github.com/aimacode/aima-python/blob/master/images/fig_5_2.svg).

Does that happen because fig_5_2 is an svg instead of png?

[2017-03-05 12:54] Chipe1 commented on #316
The issue is only when we use github to view the notebook. Using http://nbviewer.jupyter.org or any other notebook viewer renders the image properly.

[2017-03-05 13:31] MrDupin commented on #316
Ah, good to know.

Isn't that still an issue though? I assume a lot of people interact with the repo online, straight from GitHub.

[2017-03-05 13:42] Chipe1 commented on #316
I don't think github has a proper notebook viewer. It only supports viewing not interaction or running the python code.

[2017-03-05 15:28] Z-Fikar commented on #272
Solved by #271

[2017-03-05 15:28] #272 closed

[2017-03-06 02:38] norvig commented on #308
I agree that all learning algorithms should take the same data object as input. This can be `DataSet`, or possibly we want to adopt some existing framework; probably pandas.DataFrame. I'm not sure whether to go for pandas or not. We can show some techniques for DataSet-to-DataSet transformations, and how some algorithms perform better once these transformations have been applied.

I want to keep t

[2017-03-06 03:05] diegoalejogm opened #320 "Chapter 10 algorithm implementations"
I was wondering how you expect to have implemented the PPDL definitions of the problems in chapter 10. I've implemented them in my AI nanodegree approach using aima.util expressions, but I have no clarity on what do you expect it to do in this source.

Should it be able to be run? If so, what kind of search algorithms (DFS,BFS,etc) should be used.

[2017-03-06 07:46] articuno12 opened #321 "Refactoring super function call in agents.py"
super function call in agents.py is according to python2.7 version.In python3 a simpler function call can be used. For reference https://docs.python.org/3.4/library/functions.html#super.

[2017-03-06 08:44] MrDupin commented on #308
I have written a couple of such functions for my own testing. One converts class names to numbers and the other removes a given column from the dataset. I would like to share/contribute them, but I don't know how.

Can I add them as functions to the DataSet class? This would be very helpful, I think. Or, I could add them to utils.py? Or, I could simply showcase them in the notebook, but I believe

[2017-03-06 15:48] kushagraagrawal commented on #321
If this issue is still open, I'd like to try. Could someone guide me as to where do I start?

[2017-03-06 15:48] kushagraagrawal commented on #287
is this issue still open?

[2017-03-07 05:49] norvig commented on #309
That's right @Chipe1 -- this is a known bug in statistics.mean; it should be fixed in an upcoming release of Python. Until then, we can do mean(**int**(x = y) for ...)

[2017-03-07 05:49] #309 closed

[2017-03-07 05:55] norvig commented on #275
This looks very good! I'd be happy to have this added. Sorry for the delay in responding, @bcorfman

[2017-03-07 05:57] norvig commented on #320
@bcorfman has a good example of how to do this: https://github.com/bcorfman/aima-python/blob/master/planning.py

[2017-03-07 06:26] #321 closed

[2017-03-07 06:28] diegoalejogm commented on #320
Thanks @norvig.

I tried running implementations found in aimacode's repo and those won't work. Conversely, just tried @bfcorfman 's code and it ran correctly, outputting the expected values. So if it is solved already, why hasn't there been a pull request already?

I'm up to solving it if necessary, but again, if it is implemented why isn't it already in the repo?

[2017-03-07 20:10] kaivalyar opened #330 "Improvements in agents.py"
While working on updating the docstring in agents.py, I noticed some discrepancies within the code. There were some differences between the algorithms [pdf](https://github.com/aimacode/aima-pseudocode/blob/master/aima3e-algorithms.pdf) being used as a guide, the hardcopy of the book I have, the [table](https://github.com/aimacode/aima-python/blob/master/README.md#index-of-algorithms) in the README

[2017-03-07 20:12] kaivalyar commented on #330
Should I post my entire list of such "bugs" here? @norvig. I didn't earlier for fear of making the issue too generic and long.

[2017-03-07 21:33] hackrush01 opened #331 "Algorithms already implemented"
I was recently looking at the pseudo-code of Spare-Tire Problem and was thinking of implementing it, but when I opened the `planning.py` file, it looked like the problem was already implemented(see [here](https://github.com/aimacode/aima-python/blob/master/planning.py#L141)). So does the README.md need updation? Also can you point me to the algorithms which are not yet implemented, as I am trying

[2017-03-07 21:38] kaivalyar commented on #331
@hackrush01 I think so. I have found some other discrepancies too with the README, but I wouldn't jump to conclusions - maybe we're both missing something.

[2017-03-07 21:40] MrDupin commented on #331
Hi @kaivalyar, could you please point out the inconsistencies in the README? It would help a lot.

[2017-03-07 21:41] hackrush01 commented on #331
https://github.com/aimacode/aima-python/pull/253
and
https://github.com/aimacode/aima-python/pull/232
seem to suggest that some algorithms are already implemented.

[2017-03-07 21:49] kaivalyar commented on #331
@hackrush01 yeah maybe we should update the README to reflect these changes.

@MrDupin I was glancing through agents.py functions that were mentioned as complete in the README, but I couldn't locate them in agents.py. I've found **SimpleReflexAgent** and **TableDrivenAgent**, but haven't given it more than a cursory glance so there could be more.

It is worth noting here that factory methods for b

[2017-03-07 21:53] MrDupin commented on #308
I added #333 that implements a new function under the DataSet class to convert class names to numbers. More information on the PR.

[2017-03-08 12:15] bcorfman commented on #275
NP. The code could always use some improvement, but I'm glad it's useful.

[2017-03-08 18:18] MrDupin opened #335 ""epoches" vs "epochs""
In learning.py, I noticed that in every learners the word "epoches" is used. In the LinearLearner though, the word used is "epochs".

In all the literature I've read so far, the word is not spelled "epoches" but "epochs". This is true for English in general.

What is the course of action? Do we want "epoches" or "epochs"?

[2017-03-08 18:55] Chipe1 commented on #335
Probably a spelling mitsake. Even the book uses epochs so I think that should be used

[2017-03-08 19:13] MrDupin commented on #335
Fixing this in #336.

[2017-03-08 20:28] lucasmoura opened #338 "Cross validation on learning notebook"
I am currently working on the cross validation methods on learning.py. However, I think that adding an example of cross validation on the learning notebook would be a good way to show students how the process of evaluating a learning algorithm is done. Plotting a learning curve could also serve the same purpose. However, should that be added to the learning notebook or it is better to keep only th

[2017-03-09 14:35] Ridhwanluthra opened #341 "gsoc2017: Implementation of Chapter 19 - Knowledge in learning"
I have thoroughly read the material in the chapter.
Working on building the implementation.
A few questions:
1 - Do you recommend adding the implementation to the learning module or creating a new one?
2 - I would request for your inputs on the representation of the hypothesis? (how about a simple circular or rectangular decision boundary, like in the book example. it would be pretty straightforwa

[2017-03-09 15:55] #341 closed

[2017-03-10 21:04] articuno12 opened #345 "Incomplete implementation of genetic algorithm in search.py"
Genetic algorithm is not completely implemented.There are logical errors and some missing functions.

[2017-03-10 23:03] articuno12 commented on #345
I am working on this.

[2017-03-11 06:51] articuno12 commented on #345
@norvig Please review PR #347 .

[2017-03-11 15:09] MrDupin commented on #316
Fixed by #353.

[2017-03-15 21:12] kaivalyar commented on #331
@MrDupin:
10.1 air cargo problem
10.2 spare tire problem
10.3 three block tower
10.7 graph plan

seem to all be implemented too.

[2017-03-15 21:45] MrDupin commented on #331
Thanks @kaivalyar. If you want, you can make a PR updating the README and wait for @norvig to weigh in.

[2017-03-16 06:34] kaivalyar commented on #331
I am waiting to identify all such instances before doing that, @MrDupin - or do you think it's better to make multiple edits, as and when I find them?

[2017-03-16 13:33] MrDupin commented on #331
I think it would be best if you wait till you collect most of them.

[2017-03-17 14:56] kaivalyar opened #367 "Simple-Problem-Solving-Agent"
Figure 3.1 contains pseudocode for a "SIMPLE-PROBELM-SOLVING-AGENT". Similar to some names in agents.py (#330), the README.md states this as completed in `search.py` as `SimpleProblemSolvingAgent,` however, the code is actually implemented within the `__call__` method of the `SimpleProblemSolvingAgentProgram` class. I have found such a pattern in multiple places now, so I am unsure whether this is

[2017-03-17 19:35] kaivalyar opened #368 "Simulated-Annealing doesn't return a state"
Figure 4.5 - SIMULATED-ANNEALING describes an optimization algorithm that is supposed to return a state, as per the first line of the function declaration. The rest of the implementation, however, goes on to return a node instead of its state. I am not certain about the reason behind this, but I think the pseudocode should change to match the function declaration (and the standard format of other

[2017-03-17 19:58] kaivalyar commented on #368
Update:

I have added [#40](https://github.com/aimacode/aima-pseudocode/pull/40) to the aima-pseudocode repo, and #369 to the aima-python repo to fix this - if I am making an error, then these can be ignored, but I went ahead and made the pull requests anyway because they weren't very substantial edits.

[2017-03-17 20:08] kaivalyar commented on #368
Perspective from the aima-java repo:

I had a look at the aima-java implementation to get a greater idea about this. Both the optimisation functions (Hill-Climbing and Simulated-Annealing) is to return a Node, rather than a state.

[HillClimbingSearch.java](https://github.com/aimacode/aima-java/blob/AIMA3e/aima-core/src/main/java/aima/core/search/local/HillClimbingSearch.java#L99)
[SimulatedAnneal

[2017-03-18 05:22] sofmonk opened #370 "Update weighted_sample_with_replacement() in utils.py, learning.py ,probability.py"
in pseudo code the sequence of arguments is " WEIGHTED-SAMPLE-WITH-REPLACEMENT(**N, S, W**)"  where as in the code it is  "weighted_sample_with_replacement(seq,weight,N)"  . Please see PR #366

[2017-03-18 06:54] sofmonk opened #371 "raise NotImplementedError : do these have to be coded. ( shows done in README.md)"
Sir,  figure 9.3 FOL-FC-Ask in logic.py shows,

`
def fol_fc_ask(KB, alpha):
    raise NotImplementedError
`

but in README.md it says it is done,
so it has to be coded ?

same for class KB functions:
`
class KB:

    def __init__(self, sentence=None):
        raise NotImplementedError

    def tell(self, sentence):
        "Add the sentence to the KB."
        raise NotImplementedError

    def a

[2017-03-18 08:23] #295 closed

[2017-03-18 08:29] norvig commented on #368
I'll have to think about this some more, and I welcome more discussion. Clearly, the path searching functions like A* search need to give you a path, which you get from a Node. For the optimization functions, if you are really using them for optimization, all you care about is the state. The difficulty is that sometimes you apply them where you aren't interested only in optimization, and you do wa

[2017-03-18 08:29] norvig commented on #335
thanks.

[2017-03-18 08:29] #335 closed

[2017-03-18 08:38] #370 closed

[2017-03-18 10:02] #316 closed

[2017-03-18 10:02] #308 closed

[2017-03-18 12:10] kaivalyar commented on #371
Hi,

I am not sure about this particular case, but I can safely say that **ALL** such functions don't have to be coded. Often, if a class is abstract, you want programmers to extend it and override a function - in which case you define it, but don't implement it.

That being said, I don't know about this particular case for sure. Maybe somebody else can weigh in on this?

[2017-03-18 12:13] MrDupin opened #375 "Build Fails"
Something must have broken the build. Even trivial changes like in #343 (which simply adds text on a Notebook) fail.

I believe #373 fixes this.

[2017-03-18 12:32] sofmonk commented on #375
yes, test_text.py and test_agents.py, it shows flake8 errors, fixed that in PR #373 , will have to wait for merge.

[2017-03-18 18:53] kaivalyar commented on #368
We can have a different approach that combines the best of both features:

* Since the text introduces both the Hill-Climbing and Simulated-Annealing as optimisation functions, we can stick to returning states in the pseudocode, as would be required for most optimisation problems.

* However, in the python implementation, it is easy to have the best of both worlds - a helper function that does the

[2017-03-18 21:53] kaivalyar commented on #375
Yes, as mentioned in #304, now onwards, any tests that don't match flake8 specs will break the build - and one of my PRs that had such tests is breaking the build.

[2017-03-18 23:13] kaivalyar opened #381 "TicTacToe: illegal move swaps players"
In the current implementation of the TicTacToe class in games.py, an invalid move being passed to result ends up swapping the players! This first happened to me when I was exploring the notebook, and accidentally made an invalid move - I went from playing noughts to crosses! I have since been able to repeat the behaviour - confirming the bug exists.

[2017-03-18 23:16] kaivalyar opened #382 "Human game interface in games.ipynb"
Humans playing interactive games in games.ipynb aren't given any input (percepts).

The current state should be displayed, along with a list of valid moves - the current implementations of TicTacToe and Figure52 don't do this.

[2017-03-18 23:16] kaivalyar commented on #381
fixed in #380

[2017-03-18 23:16] kaivalyar commented on #382
Fixed in #380

[2017-03-19 10:39] Chipe1 commented on #371
KB is complete. It just acts like a skeleton class which other classes like FOLkb inherit from.
fol_fc_ask() is not yet implemented. Would be helpful if you changed the README or implemented it.

[2017-03-19 11:05] Chipe1 commented on #375
I have removed the test in #386 . That should the problem

[2017-03-21 09:04] MrDupin commented on #375
This is now fixed. Closing.

[2017-03-21 09:04] #375 closed

[2017-03-21 22:41] bionascu opened #392 "intersection query in relevant_pages (nlp.py)"
relevant_pages in the nlp.py module currently returns pages that contain the query in its entirety, but according to the textbook (p.872) it should do it "by intersecting hit lists of query words".

My understanding is that for `query = "green apples"` and pages `p1 = "oranges and bananas"`, `p2 = "red and green apples"`, and `p3 = "plums and apples"` relevant_pages(query) should return p2 and p3,

[2017-03-21 23:12] RojerGS commented on #392
"Intersecting hit lists of query words"

Feels like the query for the word "green" gives Query1 = {p2} and the query for the word "apples" gives Query2 = {p2, p3}. Intersecting Query1 with Query2 yields {p2}, the returned, expected result. Am I missing something?

[2017-03-21 23:16] bionascu commented on #392
I'm writing intersection and the whole time I'm thinking union!! My bad.

[2017-03-21 23:32] articuno12 opened #393 "Tests missing for agents.py"
There are no available test-cases for a major part of the code.

[2017-03-21 23:47] RojerGS commented on #392
And as of now, it only returns p2? If so, that looks wrong.

[2017-03-22 14:10] jayantsaraf commented on #38
hello, my name is jayant saraf. i want to contribute to this issue.
so, can i use the following code to solve the issue :

import re

try:
    re.compile('[')
    is_valid = True
except re.error:
    is_valid = False

[2017-03-22 15:18] jayantsaraf commented on #287
can i still contribute to this issue?

[2017-03-22 17:51] lucasmoura opened #398 "Unimplemented function in PermutationDecoder"
In the PermutationDecoder class, there is a method named **score** which makes a call to **permutation_decode**. However, this function is not implemented in the project.

[code]

This function was renamed in commit 516b6f26, from **decode** to **permutation_decode**. However, I could not trace even the original **decode** function, which first appear in commit 2bd2348.

Therefore, I do believe th

[2017-03-22 19:21] MrDupin opened #400 "Loop Syntax"
I have noticed that in the book loops are usually defined like this:

<pre>
for i=1 to n:
    do something with Xi
</pre>

but in the implementation we have something like this:

<pre>
for Xi in X:
    do something with Xi
</pre>

Should this be changed? On one hand this is trivial, but on the other hand we should be keeping the code as close to the pseudocode as possible.

[2017-03-22 21:49] bionascu commented on #392
Yes, as of now it only returns p2. But hopefully not for much longer :)

[2017-03-22 22:48] RojerGS commented on #400
(do you mean "`do something with Xi`" instead of "`X`"?)

And how is X usually defined?
A regular python loop iterating over the first `n` integers is usually seen as
`for i in range(1, n+1):`

which, unfortunately, doesn't look that similar to
`for i=1 to n:`

However it becomes ugly if we do something like
[code]

[2017-03-23 00:01] reachtarunhere commented on #400
In my (strong) opinion this should not change. Python by default uses the for-each type of loop syntax and moving to an indexed based system would make it difficult to read (and very unpythonic).

The current code is not too difficult to read for someone following book but the index based syntax would irritate someone who has been using Python for some time and might instill bad habits into people

[2017-03-23 00:44] reachtarunhere commented on #367
It is deliberate. If you notice the pseudocode of SIMPLE-PROBLEM-SOLVING-AGENT the `seq` variable needs to be **persistent**. Doing that the functional way (as in agents.py) would have required us to have it as some sort of global. The `__call__` trick helps us avoid this while making SIMPLE-PROBLEM-SOLVING-AGENT behave similarly to a function.

[2017-03-23 06:27] kaivalyar commented on #367
Oh wow - that is a very neat solution! Thanks for clarifying. I'll try to use this approach when writing codes for other sections too.

[2017-03-23 08:31] RojerGS commented on #400
Oh I understand the problem now. The point is, if we want to iterate over the elements of X, then we could have
[code]

The first one is the most pythonic but doesn't mimic the fact that the pseudocode is traversing the indexes, and not the elements of X directly. The last one is the ugliest one in my opinion, but the second one seems pretty decent.

[2017-03-23 10:32] MrDupin commented on #400
@RojerGS, yes, that is what I meant to say. The three examples you posted capture my issue perfectly.

Personally I prefer the first one, but the second and third ones seem closer to the book.

[2017-03-23 11:50] RojerGS commented on #400
From my (limited) experience with explaining loops to my fellow colleagues, the first loop is "harder" to explain while the second one is clearer for them: _just go through all valid indexes and grab the corresponding item, calling it Xi_. Unexperienced programmers can't quite grasp the fact that

[code]
is already taking all values in X in order Maybe the second type of loop would be desirable? T

[2017-03-23 12:56] reachtarunhere commented on #400
@RojerGS  It is the other way round if your collegues use python as the main language. I expect this to be the case with most people coming to aima-**python**

[2017-03-23 14:36] kaivalyar commented on #400
@RojerGS is it possible that you're talking about people who learnt programming using languages other than python? The for each syntax is the more intuitive one otherwise, I think.

[2017-03-23 14:41] MrDupin commented on #400
Most people who use a language other than Python will find the `range` method more intuitive. People who have used Python for some time will prefer the other method. But most people checking aima-python are (I assume) people who have actually used the language. So it's not a question of "which is more intuitive to users", but of "which is closer to the book and does it matter".

Another issue that

[2017-03-23 15:00] kaivalyar commented on #400
@MrDupin Yes, I think we can safely assume that the users of aima-python are comfortable using python, especially because there are other repositories for other languages.

[2017-03-23 15:04] reachtarunhere commented on #400
@MrDupin `range(2, n)` is not the same as the loop you mentioned because:
Arrays in the book are 1-indexed while in Python and most programming languages they are 0-indexed. So for an array/list of size n where you want to skip the first element, we would use `range(1, n)`

I don't think we can do away with the 1, 2 issue here. Further, I feel it is not a big problem given rules/guidelines (includ

[2017-03-23 15:12] #400 closed

[2017-03-23 15:14] #367 closed

[2017-03-23 17:16] MrDupin opened #405 "Implementing tree_csp_solver"
I started implementing the `tree_csp_solver` function, which was unfinished. In particular, `topological_sort` and `make_arc_consistent` were unimplemented.

I have already implemented topological sort in #401. Once that PR gets merged, I will start working on `make_arc_consistent` (unless someone else has finished it beforehand, in which case, please let me know).

[2017-03-24 02:05] darius commented on #367
Since we use Python 3, which has the `nonlocal` declaration, a nested function can implement this kind of state with no trouble (and in my opinion less fuss). A better reason to use a class here is to leave hooks for overrides, like `update_state` and `formulate_goal`.

[2017-03-24 03:54] reachtarunhere commented on #367
@darius You are right. Not really used to all new Python 3 features so ended up not thinking about it. While we could pass update_state and formulate_goal as args too I like the current solution more with all functions tightly coupled.

[2017-03-24 10:05] MrDupin opened #409 "LinearLearner Issues"
I'm having some issues with the `LinearLearner` function in learning.py and I would like some help.

I noticed that the function does not seem to have pseudocode, even though in the script it is a standalone algorithm. At first it had some bugs and wouldn't execute, but when I fixed them (#408) it returned a result that confused me.

It does not use an activation function, so it quite probably doe

[2017-03-24 18:12] lucasmoura commented on #409
@MrDupin I believe the gradient descent part is incorrect. We are using batch gradient descent, and therefore, the gradient value should be divided by the number of examples. Also, given that the error is:

[code]

I believe that the gradient formula should be:

[code]

I will send a MR with this fix, but maybe there is something more that I could not see.

[2017-03-24 23:48] MrDupin commented on #409
Discussion continued on #414.

[2017-03-25 08:45] articuno12 opened #416 "Build Failing"
Build is failing as test_text_models in test_text.py is not getting passed.
Result of running tests on the current repository :
[code]

[2017-03-25 08:55] #409 closed

[2017-03-25 09:11] MrDupin commented on #416
For quick reference, `tests/test_text.py::test_text_models FAILED` is the one that failed
---

It seems that `NgramTextModel` misses the last word. Some recent commit broke this.

[2017-03-25 10:26] articuno12 opened #419 "Test missing for fol_fc_ask in logic.py"
def fol_fc_ask in logic.py has no corresponding test.

[2017-03-25 16:36] RojerGS commented on #416
This should be fixed with #420

[2017-03-26 09:50] kaivalyar opened #423 "Chapter 11 algorithm implementations"
Hierarchical Search and Angelic Search need to be implemented.

This would first require representing chapter 11 HLA plans in the code (done in #422). Once this is merged, I will start working on the other algorithms from chapter 11 (unless someone else has finished them already, in which case please let me know).

[2017-03-26 10:32] #371 closed

[2017-03-27 01:36] arahman010 opened #425 "Typo: "test_logic.py" is written as "logic_test.py" on README.md"

[2017-03-27 13:10] MrDupin commented on #405
I have started work on `make_arc_consistent`. Just a heads up.

[2017-03-27 17:40] norvig opened #428 "mybinder.org for IPython notebooks?"
We should look at http://mybinder.org/ and see if it is appropriate for running the Ipython/Jupyter notebooks.

[2017-03-27 18:03] MrDupin commented on #428
I don't know if it's just me, but when I try to open any Binder project, I get stuck on a loading loop (even for small projects).

[2017-03-27 18:34] lucasmoura commented on #428
Same problem here. At first I thought that maybe that were some problems on our notebooks to be displayed in the site. But the build proces in mybinder seems to be okay.

[2017-03-27 18:57] MrDupin commented on #428
I researched this a bit and it seems that Binder is not very stable. A lot of [issues](https://github.com/binder-project/binder/issues) on their GitHub are about launch failing, while [parts](http://mybinder.org/feed) of their website are currently down.

Also, there doesn't seem to be much support for the platform any more. Most of their repositories haven't been updated for over a year. ([binder

[2017-03-27 20:19] norvig commented on #428
OK, thanks for the feedback. We will wait until there is a more stable option available.

[2017-03-27 20:28] reachtarunhere commented on #428
@norvig  I think it is possible to replicate their setup on a separate cloud provider. I will give it a shot with Google App Engine and get back. I feel that a dedicated server for AIMA will keep things more stable and result in better uptime. Though I still have doubts about how much we can support with the free tier service.

[2017-03-27 23:06] darius commented on #367
I agree, the template-method pattern seems like a good fit.

[2017-03-28 11:05] Chipe1 commented on #416
@RojerGS That fixed the problem but the build still fails due to flake8 errors. Could you update your PR fixing flake8 so that we can have a single PR which makes the build pass

[2017-03-28 11:13] Chipe1 commented on #304
@norvig Your opinion on this?
I personally think we should not impose any automated style checks. Even if we do so, styling is a subjective matter and we must first decide which rules are important enough to break the build and which rules can be relaxed.

[2017-03-28 11:44] sofmonk commented on #428
Apart from what @reachtarunhere mentioned, we could use [thebe](https://oreillymedia.github.io/thebe/), [thebe and jupyter](https://www.kimstebel.com/posts/thebe). thebe is a plugin to jupyter notebooks to provide interactive coding. We can possibly build more over it.

[sharecell](https://lambdaops.com/share-cell/) and [gist exec](https://github.com/rgbkrk/gistexec) [(gist exec example)](https://

[2017-03-28 11:56] MrDupin commented on #428
@sofmonk, yes that is the binder-project. But the recent changes made to core components are not only few and far apart, but also miscellaneous (for example, line fixes, or updating version numbers). Unless it is supported elsewhere, the developers seem to have moved on.

[2017-03-28 13:04] lucasmoura commented on #304
@Chipe1 Yes, we should definitely look if that are more warnings that should be ignored by the project. Currently, we are ignoring the same rules as the ones ignored by running flake8 after a travis.yml successful build.

However, flake8 is not only used to perform style check. It is a static analysis tool as well, which can be really usefull to capture some bugs in the code. Issues such as #398 c

[2017-03-28 13:14] sofmonk commented on #304
At the end, we need good documented code and that will come from imposing such checks, but what the problem is that some merged file 'A' breaks the checks because of which the updated new file B is not able to pass the build.

[2017-03-28 15:28] TheCDC opened #431 "requirements.txt incomplete"
Hi! I'm a student hoping to work on this project for GSoC 2017.

Following the readme and installing only the `pytest` module and executing the `pytest` command fails when `IPython` can't be found.

The issue seems to be missing dependencies in `requirements.txt`. Instantiating a new env and installing everything in `requirements.txt` with the following commands does not set up the minimum environ

[2017-03-28 15:36] sofmonk commented on #431
You did follow all the steps?

The minimal requirement for running the testsuite is py.test. You can install it with::
`pip install pytest`

Clone this repository::
`git clone https://github.com/aimacode/aima-python.git`

Fetch the aima-data submodule::
[code]

**Then** you can run the testsuite with::
`py.test`

[2017-03-28 20:02] MrDupin commented on #405
I completed the implementation. It can be found here: #432.

[2017-03-28 20:05] TheCDC commented on #431
Indeed I did I was able to get the tests running by adding those dependencies. I'm still new to this and don't want to be rude but if this project requires jupyter, nose, pyqt5, and requests shouldn't those be in the `requirements.txt`?

[2017-03-28 20:28] MrDupin commented on #431
I could be wrong, but I think `requirements.txt` is there because [Binder](http://mybinder.org/) needs it.

[2017-03-28 23:51] TheCDC commented on #431
Would it be a good idea to include all the dependencies in requirements so newcomers can do the normal process of `pip install -r requirements.txt` to get everything installed?

[2017-03-29 06:42] articuno12 commented on #416
@Chipe1 flake8 issue solved in #418

[2017-03-29 08:19] sofmonk commented on #428
mybinder is working now, maybe we should check it?

[2017-03-29 08:44] MrDupin commented on #428
It worked for me too, but it took a long time to load (~ 2 minutes). After it got started though it worked smoothly. It seems though that the launcher is inconsistent (one time working then failing), so I'm still not 100% convinced.

[2017-03-29 16:11] DeadlyHollows commented on #287
Can I still contribute to this issue?

[2017-03-29 16:14] DeadlyHollows commented on #423
Can I also contribute?

[2017-03-29 16:35] MrDupin opened #436 "Naive Bayes Notebook"
The `learning` Notebook is missing a section on Naive Bayes. I am close to finishing this, I'm just waiting for the verdict of #435 to iron out the details.

Just a heads up so our work doesn't conflict.

[2017-03-29 16:57] Chipe1 commented on #431
I am able to run the pytest without nose. I'm not sure why we require pyqt. Adding it to requirements.txt won't help as it installed by a distribution package manager not pip.

[2017-03-29 16:59] TheCDC commented on #431
Interesting. When I'm in the env and I run `py.test` without nose most of the errors are failures to import nose.

[2017-03-29 17:07] Chipe1 commented on #431
@TheCDC can you say what error message are you getting and which file is causing the error. The only reference to nose I could find is nosetests.xml in gitignore file

[2017-03-29 17:12] TheCDC commented on #431
Woops, it appears that I am mistaken about nose. Running py.test runs the test in all installed modules including networkx which requires nose to run its tests.

[2017-03-29 18:01] Chipe1 opened #438 "'requests' as a requirement"
The 'request' module is currently being used to load a HTML page. The only place it's being used is to test stripRawHTML(). Web content may keep changing and loading a HTML page dynamically may result in inconsistency. We can remove this (currently)insignificant dependency by saving the HTML page in aimadata and use that. @norvig What is your opinion.

[2017-03-29 20:24] Chipe1 opened #442 "Normalize for HITS algorithm"
In the pseudocode for HITS, normalize is defined to divide each page’s score by the sum of the squares of all pages’ scores. The standard definition or normaliztion divides a value by the norm of the vector that contains it. In our case shouldn't we divide by square root of sum of squares as opposed to just the sum of squares.
@norvig Is this an error in the book or am I wrong. I tried running HIT

[2017-03-30 03:41] sofmonk opened #444 "using images from other websites in notebooks?"
I went through some websites and found the images would aid in our notebooks. I have the following doubts:

- can we use them directly?
- should we ask for permissions?
- is there a **license** we should look for (such as open-source, MIT, etc)?
- in **previous work** how were the images managed (manually created or requested from somewhere)?

[2017-03-30 07:25] Chipe1 commented on #444
You do need to look for license before using any image. I previously created images by combining images from free-to-use sources(https://www.creativetail.com/). We need to be careful though, as I dont know if using them as supplement to the textbook would fall under commercial use. Whatever be the case, always make sure you credit the creator.

[2017-03-30 09:01] MrDupin commented on #444
If you picked them from random websites we cannot use them.

We can though recreate the images, as long as they are not identical. For example, I made the [perceptron image](https://github.com/aimacode/aima-python/blob/master/images/perceptron.png) on my own after I took a look at images in books/online. This is perfectly fine.

[2017-03-30 12:26] sofmonk commented on #444
Okay, I will create images then.

And what about lecture slides images such as _Lecture slides for Automated Planning Licensed under the Creative Commons Attribution-NonCommercial-ShareAlike License: http://creativecommons.org/licenses/by-nc-sa/2.0/_ ?

aimacode/aima-python is under MIT license, does that allow us to use other such works?

[2017-03-30 12:30] sofmonk commented on #444
The [creative commons ](https://creativecommons.org/licenses/by-nc-sa/2.0/) license says:

I guess we can use those.

[2017-03-30 12:47] MrDupin commented on #444
There are quite a lot of different CC licenses.

If you see something that reads "CC-0" (or something like this) you can use it 100%.

I'm not sure though if we can use "NC" (Non Commercial) licenses, since the code here is based on a commercial product.

Also, most of the time you need to give credit to the original creator.

[2017-03-30 13:11] sofmonk commented on #444
aimacode/aima-python is under MIT license.

[2017-03-30 13:25] MrDupin commented on #444
That is true. I can't say I am familiar with how the MIT license works though, so I can't be of much help.

[2017-03-30 13:29] moizsajid opened #446 "Chapter 24: Histogram of Oriented Gradients (HoG) implementation"
I have already implemented Histogram of Oriented Gradients (HoG) in Python as a part of my Digital Image Processing course. I want to contribute that code to the aima-python codebase. However, AIMA does not contain the pseudocode for HoG. My implementation is according to the paper by Navneet Dalal and Bill Triggs which is also referenced in the AIMA book. In the chat group, Peter told us that he

[2017-03-30 14:02] kaivalyar commented on #423
@DeadlyHollows sure! I am unsure whether you meant contribute to aimacode generally, or to chapter 11 specifically, so I'll just assume both. You can find unimplemented algorithms on the README. (If you're interested in GSoC, then maybe the ideas page or the gitter channel is a good place to start.) As for chapter 11, I have already moved beyond #422, and finished most of the other pseudocodes fro

[2017-03-30 16:13] MrDupin opened #449 "Movement Orientations?"
In `grid.py` there is a set of orientations, defined as follows:

`orientations = [(1, 0), (0, 1), (-1, 0), (0, -1)]`

I snooped around a bit, but I couldn't find what these mean. From my understanding they are showing where the current agent is looking in a 2D plane (Forward, Backward, Left, Right). I don't know though which is which. It would be nice to have this documented.

PS: I believe (0,1)

[2017-03-30 22:29] RojerGS commented on #449
I am not familiar with the literature but let me just say that that is definitely what makes more sense, if you think of two-dimensional vectors in mathematics.

The vector (1,0) points east, the vector (0,1) points north/up, the vector (-1,0) points west and the vector (0,-1) points south/bottom.

[2017-03-30 23:12] Chipe1 opened #453 "logic.ipynb incomplete"
The notebook for logic.py has many things left to cover. I will start with KB section.

[2017-03-31 00:30] AmeetR commented on #286
I'd like to help with this issue. Which tests still need implementing that no one else is working on?

[2017-03-31 03:33] sofmonk commented on #453
Please see PR #427 . I hope the work doesn't clash.

[2017-03-31 06:11] Chipe1 commented on #453
I'll wait until your PR is merged. Resolving conflicts is a tedious task.

[2017-03-31 07:36] sofmonk commented on #416
PR #418 **fixes flake8 errors** but _has test errors._
PR #420 **fixes the test errors** but _has flake8 errors._

@RojerGS  @articuno12 Can either of you please get the build passing in one PR so that we start getting merge commits?

PS: I can do that but it would again mean creating a new PR for your joint work. So let me know if I can do that.

[2017-03-31 08:25] articuno12 commented on #416
I was working on the build fail already but when @RojerGS made the pr I restricted myself to flake8 errors. I don't find any problem if two consecutive prs fix the build.Still, if there is need for one pr then I can include that in my pr if @RojerGS is fine with it.

[2017-03-31 08:30] RojerGS commented on #416
@articuno12 be my guest! It is just a minor change in a loop.

[2017-03-31 18:07] MrDupin commented on #449
The issue is that the code doesn't reflect that. Take for example the function `turn_left`. If we are facing north and turn left, we are now facing west, right? In the code that doesn't happen.

`turn_left((0,1))` returns (-1,0)

[2017-03-31 18:08] MrDupin commented on #449
*The page jumped and I accidentally closed this. Sorry.*

[2017-03-31 22:42] jaydeepingle opened #461 "Chapter 19: Knowledge in Learning"
I would like to implement the below algorithms within this chapter
Current-Best-Learning
Version-Space-Learning
Minimal-Consistent-Determination
FOIL

[2017-03-31 22:44] jaydeepingle commented on #341
@Ridhwanluthra
Hey have you talked with any of the mentors regarding this. I am also interested in implementing chapter 19 algorithms.

[2017-04-01 04:10] Chipe1 opened #462 "text.ipynb incomplete"
I'll be adding section for decoders

[2017-04-01 06:07] Chipe1 commented on #398
Reimplemented the class in #456

[2017-04-01 21:35] prasadwajekar opened #467 "3.11 Breadth-First-Search search.py"
while executing the code :

SyntaxError: invalid syntax
at line 925
    print('Qu', end=' ')  \
                   ^
second error :
File "python", line 7, in <module>
ImportError: cannot import name 'is_in'

third error :
Traceback (most recent call last):
  File "./prog.py", line 7, in <module>
ImportError: No module named 'utils'

[2017-04-01 21:44] prasadwajekar opened #468 "section 6 csp.py"
while executing file getting error :
 File "./prog.py", line 3, in <module>
ImportError: No module named 'utils'

[2017-04-02 00:48] Chipe1 commented on #467
I'm not sure which file you are running when you get the first error. Could you paste the contents of prog.py as it doesn't seem to be a part of the repo

[2017-04-02 00:48] Chipe1 commented on #468
Could you paste the contents of prog.py

[2017-04-02 04:06] ltfschoen opened #472 "logic.ipynb "Appendix: The Implementation of expr" equivalency claims incorrect"
In section [Appendix: The Implementation of expr](https://github.com/ltfschoen/aima-python/blob/master/logic.ipynb) of logic.ipynb it states equivalencies, however when I check if it returns True when I compare the claimed equivalencies with my Python 3.6.0 interpreter, they actually return False.

[code]

[2017-04-02 04:34] ltfschoen opened #473 "logic.ipynb "Propositional Knowledge Bases: PropKB" ask_if_true function not exist"
In section [Propositional Knowledge Bases: PropKB](https://github.com/ltfschoen/aima-python/blob/master/logic.ipynb) of logic.ipynb it says the function `ask_if_true` may be used as an alternative, however this function does not exist in [logic.py](https://github.com/ltfschoen/aima-python/blob/master/logic.py)

[2017-04-02 04:45] Chipe1 commented on #472
It meant that `expr('~(P & Q)  ==>  (~P | ~Q)')` is equivalent to `~(P & Q)  |'==>'|  (~P | ~Q)` where `P` and `Q` are obtained by `P, Q = symbols('P, Q')`. You need to do this
[code]
It claims equivalence between  `"A ==> B"`  and `A | '==>' | B`. Hope that clears your doubt.

[2017-04-02 04:59] Chipe1 commented on #473
It exists as a method for the PropKB class. It is not documented in the notebook but you can see it in [https://github.com/ltfschoen/aima-python/blob/master/logic.py](url) line 97
[code]

[2017-04-05 22:41] MrDupin opened #479 "Multi-Class Backpropagation"
I have almost finished converting the Backpropagation to a multi-class algorithm. As of now, it is a binary learner. There had been notes left in `learning.py` about the issue (approximately lines 545 and 650).

With the `BackPropagationLearner` now multi-class, Neural Networks and the Perceptron algorithms now can take care of multi-class datasets.

PS: I will probably wait till some crucial PRs

[2017-04-06 17:02] #449 closed

[2017-04-07 16:42] MrDupin commented on #479
The PR is #486.

[2017-04-12 22:33] darius commented on #428
I just tried to launch it a couple times from the launch button on our README, and it failed both times with an unhelpful message like 'failed'. (I have poor connectivity here, though.)

[2017-04-12 22:55] #226 closed

[2017-04-12 22:56] MrDupin commented on #479
PR merged.

[2017-04-12 22:56] #479 closed

[2017-04-12 23:04] darius opened #490 "Unit tests should not need the network"
`test_nlp.py` has a call to `loadPageHTML` -- I found out about it when running `py.test` seemed to hang up for minutes. (It eventually finished. I was downloading the Anaconda installer at the same time.)

Tests should try to use only local data -- maybe from `aima-data`? Or keep it cached after the first run. I'd rate this as a nice-to-have, not a big problem, currently.

[2017-04-12 23:07] darius commented on #468
A little documentation in the README on how to use these Python modules, for people not experienced with Python, would be helpful. Similarly, the instructions for the notebooks are in notebooks! If you've never run Jupyter this seems like a bit of a barrier to entry.

[2017-04-12 23:10] darius commented on #461
@jaydeepingle, that would be awesome. Opening an issue like this is a good idea, to make it less likely for two people to work on the same thing. So, I'd suggest picking one to start and posting that here.

[2017-04-12 23:16] darius commented on #431
This particular error with the tests needing IPython is fixed now (see #226). I don't know whether the other requirements mentioned need to be added, because I'm not exactly sure what requirements.txt is used for. (Just explaining why I'm not closing this issue along with #226.)

[2017-04-12 23:18] darius commented on #431
I guess the question is whether it's meant to list the minimal requirements to do anything, or everything you might want.

[2017-04-13 00:19] MrDupin opened #491 "Perceptron Algorithm"
Currently the algorithm uses the `BackPropagationLearner` to build the weights of the synapses, essentially behaving like a one-layer neural network. This is how the algorithm is described in the book too.

Since there is no pseudocode in the book though, how should we go about implementing the algorithm? Currently it is treated exactly like a neural network, which technically isn't incorrect, but

[2017-04-13 02:17] TheCDC commented on #431
I'm of the opinion that it should include everything but it definitely is ambiguous as to what it's really for. Should I close the issue, then? Or is there something else to do with the issue?

[2017-04-13 05:46] reachtarunhere commented on #431
Sorry for replying so late. I have been really busy. @MrDupin  is right the requirements.txt is for Binder.

[2017-04-13 06:15] reachtarunhere commented on #428
@darius it often fails when you have bad connectivity given a constant link has to be established with the server for the interactivity. But even on good connections Binder fails a lot of times. This mostly has to do with the excess load on their servers (its non-commercial and free).

One solution is hosting our own instance of [JupyterHub](https://jupyterhub.readthedocs.io/en/latest/) on Google

[2017-04-13 12:13] MrDupin opened #493 "PRs Passing Build"
Hey guys.

If you want to make sure your PRs don't break the build, you can close and re-open them to restart the Travis Check.

It's not that important, but some might find this useful. Cheers.

[2017-04-13 12:19] kaivalyar commented on #493
Thanks for putting this up here for everyone to see.

[2017-04-13 12:29] MrDupin commented on #493
No prob.

[2017-04-13 13:15] jaydeepingle commented on #461
@darius Sure Darius. As in sequence I would like to start with the first one and want to cover the whole chapter. I am also planning to look into the following
Chapter 11. Planning and Acting in the real world
1. Job-Shop-Problem-With-Resources
2. Hierarchical-Search
3. Angelic-Search
Chapter 25. Robotics
1. Monte-Carlo-Localization

Once I am done with 19 I will start with other chapters.

[2017-04-13 15:04] MrDupin commented on #490
I worked on this a bit and I found that only `test_stripRawHTML` requires an internet connection. If we remove that test, everything will still work fine and there will be no need for network connectivity.

Shouldn't we though keep the test to make sure we don't accidentally break something in the used functions?

If we are to keep it, I tried some different wikipedia pages to make the process fas

[2017-04-13 18:54] lucasmoura commented on #490
One way to deal with that is to mock the call to **urllib.requests.urlopen**. I have done that in #495, if anyone wants to check it out and comment if that is a good approach, it would like the feedback :)

[2017-04-13 21:33] darius commented on #490
Looks good, thanks!

[2017-04-13 21:33] #490 closed

[2017-04-13 22:31] darius commented on #461
Great!

[2017-04-13 22:34] darius commented on #428
I'm going to see if I can run Jupyter locally first. I'm sort of busy, too...

[2017-04-14 11:14] Chipe1 commented on #438
Partially fixed in #495

[2017-04-14 11:14] #438 closed

[2017-04-14 11:21] Chipe1 opened #498 "Build Fail due to dependency"
An undocumented dependency was introduced in #480
I feel it is better to implement a simple function rather than adding a dependency for a library.
I'm not completely sure what fuzz.ratio() does exactly but after looking at the source code I think #497 can replace it for now.

[2017-04-14 13:32] #493 closed

[2017-04-14 13:33] MrDupin commented on #416
The problem is fixed, do you mind closing this issue? Thanks.

[2017-04-14 13:40] MrDupin commented on #498
*Days since last build fail: 0*

Well, we did have a one-day window of the build passing, so I can't complain. 😄

[2017-04-15 11:26] MrDupin commented on #498
Now #501 fixes the issue and the algorithm.

[2017-04-16 15:22] MrDupin opened #502 "Weird Issue with Weighted Sampler and Travis"
Hi guys. I have encountered an issue with the Travis checker that I for some reason can't replicate on my machine. I would like some help, if possible.

I recently rewrote the implementation of the genetic algorithm. The PR is #501. The code for the core algorithm was implemented (mostly, I did make some changes) by someone else before me. Here's the code (I blanked the arguments, since it's too l

[2017-04-16 16:06] MrDupin commented on #502
For the record, I am using a very old machine and it's quite probable some dependency is not up to date. I'm asking to make sure there is not something wrong with Travis.

[2017-04-16 17:17] MrDupin commented on #502
Updated my system and I caught the error. Closing this, there is nothing wrong with Travis.

[2017-04-16 17:17] #502 closed

[2017-04-16 20:13] MrDupin opened #504 "Issue with Travis"
There seems to be an issue with Travis. For my latest PR, #503, the build does not start. Did I do something wrong?

[2017-04-16 20:28] MrDupin commented on #504
Nevermind, it started after about ten minutes.

[2017-04-16 20:28] #504 closed

[2017-04-17 00:00] darius commented on #502
Just noting a possible improvement on the code you posted: there's a function `utils.weighted_sampler` that could be used to hoist some of the work done by `weighted_sample_with_replacement`, to go along with the hoisting of calculating the fitnesses. After setting the fitnesses you'd also create the sampler; then inside the loop you'd call that sampler. This would speed `genetic_algorithm` up som

[2017-04-17 00:34] MrDupin commented on #502
Thanks a lot for the suggestion, it sped things up a lot. Also, I believe it is even closer to the pseudocode now.

This is the new code:

[code]

[2017-04-17 04:23] darius commented on #502
Yep, that looks like just how it was meant to be used. I'm glad to hear it's effective.

[2017-04-17 05:41] #381 closed

[2017-04-17 19:54] MrDupin commented on #498
The build now is passing.

[2017-04-18 08:54] #498 closed

[2017-04-18 14:32] MrDupin commented on #436
Made the PR: #510.

[2017-04-18 14:32] #436 closed

[2017-04-18 17:11] articuno12 opened #511 "Define the general open source rules this org follows"
Please define the open source rules this organisation follows. I can't understand why people make PRs for the things which someone implemented in some previous PR and then their PR gets merged and other just because it was old one couldn't even get reviewed.I don't think this is a healthy practice to follow. Even the PRs which make the build fails get merged.

[2017-04-18 17:44] MrDupin commented on #511
Since I feel this is partially for me (and the Genetic Algorithm PRs), I would like to get my a word in.

Even if two PRs work on the same thing, it doesn't mean they are the same. For example, our two PRs went in different directions. I decided that the `GAState` class was not needed and didn't adhere to the pseudocode so I dropped it, while you used it more. Another difference is that I don't fe

[2017-04-19 06:20] kaivalyar commented on #511
@articuno12 I think the general rules are stated quite clearly [here](https://github.com/aimacode/aima-python/blob/master/CONTRIBUTING.md#contributing-a-patch). I suppose this was a single, rare occurrence and usually there isn't such duplication of work.

As for the builds failing - in the last few weeks we have had instances where the build has broken due to a single PR - affecting all the other

[2017-04-19 12:55] MrDupin commented on #511
I just want to note to @articuno12 that the work is not duplication. All three PRs worked on the same implementation, but with different approaches. Your PR, therefore, should not be discarded. If you resolve conflicts, there are parts that are needed (namely, your `genetic_search`).

[2017-04-21 12:29] MrDupin commented on #491
#512 is the PR that takes care of this.

[2017-04-29 11:21] orsenthil opened #513 "mdp value iteration calculation seems wrong"
I am using the `mdp.GridMDP` as documented.

[code]
And he result was

[code]

* Thing to observe. It is updating the reward state values. That should not happen. This is a bug in the code too.
* The values, since it updates the reward state values (+100, -100), and goes about calculating rest, the numbers are weird.

* The expected matrix should be as discussed in the [value iteration video](http

[2017-04-30 19:39] Chipe1 commented on #513
The `terminals` takes indices in a different format. The origin is the bottom left cell. Right is `(1, 0)` and Up is `(0, 1)`. The terminals which you have given in python list format would become `[(3, 2), (3, 1)]` in the expected format
Also if you wish to get the output similar to the video you need to set the value of gamma to 1(no loss). Since then implementation doesn't allow such a value, s

[2017-04-30 19:50] Chipe1 opened #514 "Value of gamma in MDP"
Currently the code restricts the value of gamma to lie in the range [0, 1). Wouldn't it be better to the range set as (0, 1].
Setting a value of 0 results in ZeroDivisionError in value iteration algorithm.

[2017-05-04 22:58] theelous3 opened #515 "FIFIOQueue, inefficient, unpythonic."
Hi there. I don't have the book that this codebase relates to, nor could I find a free version of it online. I came across this whilst helping someone and was just generally confused by the `FIFIOQueue` implementation.

I gather that the purpose of this codebase is not to write perfect pythonic code, so saying to throw the class away and just use a `deque` probably isn't helpful; however this brin

[2017-05-05 00:46] darius commented on #515
I think you're right that this class could be deleted. It was meant for Python 2.x where x is very small.

[2017-05-05 15:29] theelous3 commented on #515
Note that the other subclasses of `Queue` might be best replaced by something like the builtin `heapq`.

[2017-05-06 18:07] MrDupin commented on #514
I agree. Changing it to (0, 1] seems reasonable, unless the book states otherwise.

[2017-05-08 12:41] orsenthil commented on #513
Thanks, @Chipe1 for clarification. Closing this, ticket.

[2017-05-08 12:41] #513 closed

[2017-05-15 10:00] cool88 opened #517 "8 queen problem, please explain?"
In the 8 queen problem, as a **complete-state formulation**, the book says,

"The successors of a state are all possible states generated by moving a single queen to another square in the same column ( so the state has 8 x 7 = 56 successors)."

How is that 8 x 7 ? and what would be the successors of one of these 56 successors?

I do not understand the meaning of "a single queen to another square".

[2017-05-15 16:24] Chipe1 commented on #517
An initial state has all Queens placed on the board. One queen in each column. The column of amy Queen remains fixed. A Queen changes its square within its column.
To generate a successor, we move one of the Queens to a new square (within its column). There are 8 Queens to choose from and 7 new positions available in its respective column. This makes the number of successors 7*8.
Hope this cleared

[2017-05-24 05:13] #392 closed

[2017-05-24 11:19] #491 closed

[2017-05-24 11:57] MrDupin opened #518 "LaTeX in Notebooks"
I just noticed that while locally Latex works fine (when I run the jupyter notebook), online in the GitHub window it doesn't work.

Is there something we can do?

The problematic line is in search.ipynb, in the Genetic Algorithm section:

$$ chance(i) = \dfrac{fitness(i)}{\sum\limits_{k \, in \, P}{fitness(k)}} $$

[2017-05-24 16:08] #517 closed

[2017-05-25 04:34] kaivalyar commented on #518
[This](http://nbviewer.jupyter.org/github/ipython/ipython/blob/1.x/examples/notebooks/Part%205%20-%20Rich%20Display%20System.ipynb#LaTeX) link provides some alternatives to using the `$$` syntax to insert a LaTeX expression inside a notebook. I'm not sure if the default github rendering will be able to pick up on these, but we can try.

Otherwise, it may be simpler to insert (temporarily) an image

[2017-05-28 18:58] MrDupin commented on #518
Latex in the [Naive Bayes section](https://github.com/aimacode/aima-python/blob/master/learning.ipynb) works fine. It seems that there is an issue with the above line. I will look into this.

[2017-05-28 19:10] norvig commented on #518
I asked Fernando Perex about this, and he said "Github is exceedingly strict in the Javascript it allows, since any Javascript breach could compromise your actual Github account. In particular, they don't allow Mathjax to run, and instead use their own, much more limited math renderer. "

It is certainly annoying that we have to deliver notebooks on multi-platforms (github, nbviewer, desktop for m

[2017-05-28 19:16] norvig commented on #515
I think this is right -- FIFOQueue came from old Python 2 days. I also think that using Queue was a mistake, only done because of the attractive name. Python's Queue is really for multiprocessing, not for what we need it for,

[2017-05-28 19:25] norvig commented on #511
I apologize for being unavailable while this was playing out. I agree with @MrDupin comments. There are three issues:

1) The build is rather fragile, and sometimes breaks for unimportant reasons. But rejecting a PR until it is fixed can mean that more requests, and more conflicts can pile up; sometimes it is better to let it break to make progress, and fix it later.

2) The project is exploratory

[2017-05-28 19:25] norvig commented on #514
That makes sense.

[2017-05-28 19:26] #473 closed

[2017-05-28 19:27] #416 closed

[2017-05-28 19:30] #405 closed

[2017-05-28 19:31] #462 closed

[2017-05-28 19:39] MrDupin opened #520 "Does Backtracking Search fall in an infinite loop?"
I am running the notebook cells of csp, and sometimes backtracking search seems to get stuck in an infinite loop. Is that an issue with the notebook, the code, or just bad luck on my part?

I will take a look at this later myself, I'm bringing this up in case someone knows something about this.

[2017-05-28 20:10] MrDupin commented on #518
I fixed the issue in #522. It was the `limits` keyword that broke it.

[2017-05-28 21:07] norvig commented on #444
It is a confusing area, because nobody has ever defined "commercial use." I think that our effrots here are non-commercial, because we are not charging for them, and because the purpose is educational, not to promote a brand. @MrDupin and others are right that we need to use only images that have a CC (or other) license that allows it. And, we should always give attribution, even if the author of

[2017-05-28 21:09] norvig commented on #442
Yes, the scores should be normalized to the square root of the sum of the squares.

[2017-05-29 05:12] norvig commented on #468
I updated README.md. Thanks for the suggestion.

[2017-05-29 05:12] #468 closed

[2017-05-29 05:14] norvig commented on #520
What problem, and what command are you running? If there is an infinite loop, that's a bug. But for some problems the search space is very large, and it can take a long time.

[2017-05-29 05:32] #393 closed

[2017-05-29 05:33] #331 closed

[2017-05-29 05:36] #431 closed

[2017-05-29 05:45] norvig commented on #368
I think the algorithms and the pseudocode should be changed to use states rather than nodes. The only purpose of Nodes is to define paths, and in hillclimbing and simulated annealing, we don't define a path, so there is no need for Nodes.

[2017-05-29 05:58] kaivalyar commented on #368
I would just like to say that the Python implementation has already been modified to use states in #369, and the aima-pseudocode repository also already mentions this change in issue [45](https://github.com/aimacode/aima-pseudocode/issues/45). So this issue can probably be closed now if the matter has been decided.

[2017-05-29 11:20] MrDupin commented on #520
[code]

I am running the Backtracking section in the CSP Notebook from Input 14. Input 16 seemingly got stuck (you will notice that all input numbers are ascending by one, but after 14 came 16. That is because it got stuck and had to manually restart it). On the same problem, some times it gets stuck and other times it solves pretty much instantly.

Unfortunately we have not covered the algorithm

[2017-05-31 09:28] #518 closed

[2017-05-31 19:44] norvig commented on #520
It is true that the algorithm is deterministic in that it doesn't call random. However, it does iterate over a dictionary, and the order of elements is non-deterministic between runs (it depends on the address of the elements that were added to the dictionary, and that can vary from run to run).

Still, if the algorithm doesn't terminate, that's a bug. It should keep track of previous paths and no

[2017-06-01 12:00] MrDupin opened #526 "Notebooks Formatting/Style"
I believe the Notebooks would benefit a lot if we adhered to a clear(-er) format. Below I list some of the things that stand out.

## The 'Nitpicks'

The issues here are small and can be easily fixed, but I think they are worth mentioning even though they are low priority edits.

a) Styling: A lot of times we alternate the styling in our text. In one section we can have one styling for code and in

[2017-06-01 19:07] antmarakis opened #527 "Notebooks on a server"
I have been thinking how to combat the current issue of Notebooks (unable to run code in GitHub, execute Javascript and do stuff in general). I believe a good solution is to host the Notebooks on an external server. A friend of mine used [Heroku](https://www.heroku.com/) for something similar and I think we could get the Notebooks to work on there (or similar services).

I have not looked into thi

[2017-06-02 04:40] kaivalyar commented on #526
I agree completely with your analysis of the current state of the notebooks, however, I don't see the need to standardize the approach we use (this is not with reference the "nitpicks" - those should definitely be made standard to improve clarity). I think it's okay to sometimes intersperse examples when explaining an algorithm, and sometimes to not do so. In my university, different approaches ar

[2017-06-02 09:41] MrDupin commented on #526
In different professors you can see different approaches because of the professor's preferences and the subject, which is different itself. Students don't expect such consistency.

In the same book though, you rarely see such variations without an important reason. What we are doing is closer to a book, so it would benefit if students knew what they were getting into on each algorithm.

[2017-06-02 12:09] reachtarunhere commented on #527
@MrDupin Couple of months ago I mentioned  in discussion of issue #428 about a solution.

I think it is one of the options we can consider.

[2017-06-02 12:20] MrDupin commented on #527
That is one of the options I came across, but I didn't have time to look into the software. I definitely have it in my sights, but first I want the greenlight to start looking at hosting on servers away from Github.

[2017-06-02 22:08] MrDupin commented on #527
I read a bit on JupyterHub and it seems great. I will look into hosting it on a server.

@reachtarunhere: When you researched it, what did you use that made it difficult to integrate with GitHub auth?

[2017-06-03 08:10] reachtarunhere commented on #527
@MrDupin There was nothing problematic as such what I meant in the above comment was that I had not given it a thorough look to figure out how to get it to work. I am pretty sure it is doable and you should try it out if time permits.

[2017-06-03 10:49] MrDupin commented on #527
Got it, thanks.

[2017-06-03 14:41] MrDupin commented on #520
I cannot replicate this behavior no matter how much I tried (over 100 tests with pytest). Unless someone can replicate it, I will close this issue shortly.

[2017-06-03 15:57] MrDupin opened #529 "Games Notebook: Min-Max"
I have started work on the Min-Max Notebook section. Currently we show the reader how to play a game, comparing how the different types of algorithms we have (random, alpha-beta, min-max) operate. We do not go in-depth or explain the algorithms yet.

This is what I am working towards. I will explain how the Min-Max algorithm works, giving in-depth examples in addition to the current comparison.

[2017-06-03 18:22] norvig commented on #529
That's good. One tricky issue: should you assume that the reader will be using an interactive environment and can see turn-by-turn changes, or a static view of the notebook where everything has to be explicit.

[2017-06-03 18:37] MrDupin commented on #529
I will for now assume a static view (aka GitHub viewer). This will allow only for some simple examples, unfortunately. I will also leave some room in the section for something more interactive, for when we settle on a solution on the Notebook conundrum, so that the work can be built upon.

[2017-06-03 20:16] MrDupin commented on #527
Another option is AWS. It is paid after one year though, I don't know if that's an issue.

[2017-06-04 02:21] norvig commented on #529
I agree that is the best approach for now.

[2017-06-04 03:07] norvig commented on #529
It would be good to also look at grid.py/.ipynb, and decide if they need to be stand-alone, or if they can be folded back into utils.

I think they're in pretty good shape now. Only a few points:
* I don't like a[0] and a[1] -- I think that's not clear enough. I would prefer either of:
   - `x,y = a`
   - `X(a)`, where we have `def X(point): return point[0]; def Y(point): return point[1]`
* I woul

[2017-06-04 05:27] norvig commented on #526
I would suggest:

* Let's always use `function_name`, not *function_name*. Code is code.
* Section Headers Should Have Capitalized Words
* A Table of Contents is very useful, especially if they have links; Is there an easy way to automatically generate it?
* I agree that the "first technique" is usually better, but sometimes concepts are complex, and it is ok to mix approaches, doing a little of o

[2017-06-04 09:36] Chipe1 commented on #514
Made the changes in #530

[2017-06-04 09:45] #442 closed

[2017-06-04 17:10] MrDupin commented on #529
@norvig: I believe the `grid` module should be placed in `utils`. Also, I don't think a notebook for `grid` is very useful. The code itself is self-explanatory, for anyone who wants to look further into this.

I prefer `x, y = a`, since it's a bit simpler.

[2017-06-04 19:17] #520 closed

[2017-06-04 19:17] #526 closed

[2017-06-05 12:34] #514 closed

[2017-06-05 16:24] MrDupin opened #533 "Build Fail"
I noticed that the Neural Net Test caused the build to fail. There is nothing wrong in the code, but unfortunately the algorithm is non-deterministic so there is always the chance it will fail, if we are very unlucky.

What should we do about these kinds of tests? I would like to be testing them in case we break something in the implementation, but there are times where this backfires and unluckil

[2017-06-05 17:26] Chipe1 commented on #533
For now we could make it so that such tests donot break the build but instead give a warning.
We would need a better solution because we have the same problem with tests for other modules like GA and random forest etc.

[2017-06-05 18:39] norvig commented on #533
I agree with @Chipe1 -- we shouldn't have tests that can occasionally fail. Some remedies, any of which are good:
* Use random.seed('something') to get deterministic results.
* Widen the acceptance level of the test. For example, rather than insisting it get one test case right, run 100 test cases and test whether it got a certain percentage right.
* Have some way of writing a warning, rather than

[2017-06-05 21:39] MrDupin commented on #533
Thanks for the feedback.

I like the idea of generating a lot of random test cases and running those. I will also see about giving the random generator a seed.

[2017-06-06 01:04] MrDupin commented on #533
#534 fixes this. I went with the seed route.

[2017-06-06 06:18] norvig commented on #533
Thanks for #534.

[2017-06-06 06:18] #533 closed

[2017-06-06 16:54] MrDupin commented on #529
Added 1st half of the PR in #536.

[2017-06-07 15:58] MrDupin opened #537 "Games.ipynb Error"
My recent PR somehow caused an error in the GitHub editor and `games.ipynb` doesn't show up any more. I will get his fixes asap.

Apologies.

EDIT: Weird thing is the notebook works fine on [my fork](https://github.com/MrDupin/aima-python/blob/patch-1/games.ipynb). Maybe there is a temporary issue with Github.

[2017-06-07 15:59] norvig commented on #529
I agree that getting rid of gris.ipynb and moving grid functions to utils is the right thing.

[2017-06-07 16:14] MrDupin commented on #537
Scratch that, all the notebooks are down. Will re-evaluate later.

[2017-06-07 16:14] #537 closed

[2017-06-07 17:29] MrDupin opened #538 "Notebooks Not Loading"
The notebooks no longer seem to be loading. Is this an issue with Github, or did something break?

[2017-06-07 19:16] MrDupin commented on #538
The problem got fixed.

[2017-06-07 19:16] #538 closed

[2017-06-07 20:08] MrDupin commented on #529
#539 adds the minimax algorithm to the notebook.

#540 moves grid to utils (also removes notebook + moves grid tests to utils tests).

[2017-06-08 10:02] MrDupin commented on #515
I will take care of this shortly.

[2017-06-09 08:11] #529 closed

[2017-06-09 17:11] Chipe1 opened #542 "Examples for fol_fc_ask"
[fol_fc_ask()](https://github.com/aimacode/aima-pseudocode/blob/master/md/FOL-FC-Ask.md)
I don't understand why we standardize the variables of the rule. I can't think of any scenario where ignoring it would give us any trouble.
I also think we don't need to substitue `θ` in `p1'∧ . . . ∧ pn'`
Could anyone provide any examples where the algorithm breaks if we ignore these.

[2017-06-09 20:02] MrDupin commented on #515
My PR is #544. I am not entirely sure this is what was asked though, I would like some feedback if possible.

[2017-06-09 21:05] MrDupin opened #545 "Pytest Warnings"
I am running Python 3.5.2. When I run pytest, I get a ton of warnings. I think most of them are because of unclosed files. The warnings come from the `learning`, `search` and `text` modules. Here is the pastebin link:

https://pastebin.com/eHMZkdjm

Any ideas on how to combat this?

[2017-06-10 04:15] theelous3 commented on #515
Yeah looks good as far as a subclass goes. Though why subclass at all and not just recommend deque?

[2017-06-10 09:12] MrDupin commented on #515
I believe it is to adhere to the pseudocode, where "a FIFO Queue" is used.

[2017-06-10 16:50] darius commented on #515
Python's collections module came along after the utils queue code was written. I think it's reasonable to replace `Queue` with `deque`.

[2017-06-10 17:04] theelous3 commented on #515
Well, all good then. My little inquiry is satisfied by pr https://github.com/aimacode/aima-python/pull/544

[2017-06-12 16:12] norvig commented on #545
If there's a way to turn that warning off, we should do that.

Another possibility would be to make AIMAFile do

     with open(aima_file) as f:
         yield from f
so it would be returning an iterator over lines, not a file object, and it would be closing it properly. If we go that route, then we need different names: not AIMAFile and DataFile, but something that reflects the new usage, maybe A

[2017-06-12 16:58] MrDupin commented on #545
There is a way to turn off warnings, but it only works if the user uses `pytest` from a specific directory. By putting a `pytest.ini` file with the following lines:

[code]

in the directory the user will run the pytest suite from, there will be no warnings of the nature mentioned above.

For example, if I put the above file in the `tests` directory and I run pytest from that directory, there are

[2017-06-12 17:08] norvig commented on #545
OK, let's do that, and see if there are remaining problems.

[2017-06-12 17:11] norvig commented on #545
Also, while we're here: do we really need `AIMAFile`? What files do we need to read that are not data files? If we don't need it, let's eliminate it.

And `DataFile` was named in the days when `file` was a builtin function. Now that `open` is recommended, maybe change `DataFile` to `open_data` or something like that?

[2017-06-12 17:53] MrDupin commented on #545
I made the adjustments in #547. Note that `pytest.ini` doesn't have to be in tests, it can be in the aima-python directory too. I can change it if it's more useful in there.

[2017-06-13 02:39] norvig commented on #545
Should `pytest.ini` be in both places, to give users more flexibility? I'm just trying to minimize user mistakes/confusion.

[2017-06-15 15:30] #545 closed

[2017-06-15 19:49] MrDupin opened #551 "Issues Clutter"
These are some issues that are resolved/unnecessary. I'm not sure if all of them should be closed, but most of them have ran their course.

---

#1: I don't think this is needed anymore.

#38: Solved.

#75: I don't think that's necessary any more. We now have a notebook for each module, so the original post is not an issue anymore. If people have questions regarding the Notebook, they can open a n

[2017-06-16 18:04] MrDupin opened #552 "Search Module path_cost"
In the `GraphProblem` class in the `search` module, we have a function (`path_cost`) that computes the cost to `b` given a node `a` and the cost so far to `a`.

[code]

What I don't understand is why we give as input `action`. It doesn't seem to play a role in the equation, so why is it there? Is it because of pseudocode I missed, or am I missing something else?

[2017-06-16 20:50] norvig commented on #552
You're right that in this case, the action does not play a role. But I wanted the API to include the action, because some subclass might make use of it. For example, instead of the cost just being the distance between A and B, it could depend on the action: one cost for walking between A and B, a different cost for taking the bus, etc.

[2017-06-16 21:02] MrDupin commented on #552
Ah, that makes sense. Thanks.

[2017-06-16 21:02] #552 closed

[2017-06-17 19:47] tryouge opened #555 "Information-Gathering Agent."
I was going through the list of algorithms that have been implemented and found out that the Information-Gathering Agent hadn't been implemented. (Also, this is my first issue so please don't mind if my doubts are silly)

Hence, I would like to contribute by implementing this algorithm. However I have 2 doubts:

1)Which file would I have to edit to add this algorithm (I'm assuming mdp.py) but just

[2017-06-18 10:10] MrDupin commented on #555
Thank you for your interest in helping out. We welcome any questions, don't worry about it.

1) I believe the algorithm belongs to `probability.py`, since it is best on Decision Theory. I'm not familiar with the algorithm though, so I can't be sure. If it doesn't use a Markov model/sequence, I would put it into the probability module, otherwise it goes to mdp.

2) The purpose of the code is for st

[2017-06-18 13:40] #1 closed

[2017-06-18 13:40] #38 closed

[2017-06-18 13:40] #75 closed

[2017-06-18 13:40] #107 closed

[2017-06-18 13:40] #164 closed

[2017-06-18 13:40] #227 closed

[2017-06-18 13:40] #234 closed

[2017-06-18 13:40] #240 closed

[2017-06-18 13:40] #248 closed

[2017-06-18 13:40] #269 closed

[2017-06-18 13:40] #283 closed

[2017-06-18 13:40] #286 closed

[2017-06-18 13:41] #304 closed

[2017-06-18 13:41] #382 closed

[2017-06-18 13:41] #398 closed

[2017-06-18 13:41] #419 closed

[2017-06-18 13:41] #423 closed

[2017-06-18 13:41] #425 closed

[2017-06-18 13:41] #444 closed

[2017-06-18 13:41] #472 closed

[2017-06-18 13:41] #511 closed

[2017-06-18 13:41] #551 closed

[2017-06-18 18:43] tryouge commented on #555
Thank you for replying to my issue.

I think the essence of the information-gathering agent is to highlight the order in which the evidences are selected. I don't think implementing a decision network class would be that necessary as of now as:

The algorithm doesn't really depend much on the decision network (from an 'understanding the algorithm' point of view). A student would get an intuitive i

[2017-06-18 20:01] MrDupin commented on #555
In that case go right ahead. If you have any further questions, feel free to reach out. Even though I'm not familiar with the algorithm, I will do my best to help.

[2017-06-24 16:07] reachtarunhere commented on #527
If anyone is still looking at JupyterHub I found a talk that might be very relevant here. https://www.youtube.com/watch?v=gSVvxOchT8Y

[2017-06-26 22:49] MrDupin opened #563 "Dataset Visualization"
I am visualizing the iris dataset in the notebooks, but there is the issue of matplotlib code. Students don't really need to see it as it doesn't add anything and it is quite lengthy. Also, I want to visualize multiple combinations of properties so that readers can have a better feeling of how the dataset looks, so the code issue will be even worse.

One way around this is to simply store the visu

[2017-06-27 04:59] Chipe1 commented on #563
We can store the code in separate python file which contains code for similar purpose, like show MNIST.

[2017-06-27 10:30] MrDupin commented on #563
Do you mean creating a new python file just for visualizations?

I quite like this idea.

[2017-06-27 11:47] Chipe1 commented on #563
Yes. Maybe rename canvas.py as it was created for the same task

[2017-06-27 22:48] MrDupin opened #566 "Cross Validation Conflict With Pseudocode"
In the [cross validation pseudocode](https://github.com/aimacode/aima-pseudocode/blob/master/md/Cross-Validation-Wrapper.md), when running a learner we pass an argument, `size`, which reflects a parameter of the learner (like the `k` in k-Nearest Neighbors, if I understand correctly). Unfortunately in the implementations of the algorithms, there are cases where more than one, or none at all, param

[2017-06-28 14:05] norvig commented on #566
Good point ... `size` only makes sense for things with discrete increasing complexity, like k-nearest neighbors or n-degree polynomial, or n-deep random forest.

How about if we rename `size` as `complexity` and change `for size = 1 to ∞ do` to `for complexity in degress_of_complexity(Learner)` ?

[2017-06-28 14:07] norvig commented on #563
Excellent advice @Chipe1 -- I think this makes things a lot cleaner. Students can go read this canvas.py /notebook.py file if they want, but because it is just imported, they will know that it is not necessary to read it.

[2017-06-29 16:39] MrDupin commented on #566
I like this idea.

My only issue is how will we fit this with modern languages. If we simply write `Learner(dataset, complexity)` for a given complexity, we are veering away from how most modern languages work, since we are expecting multiple arguments but we only give two (dataset and complexity).

One fix to this would be to adjust algorithm definitions to receive as input a dataset and a list o

[2017-06-30 15:15] MrDupin opened #569 "Search4e Notebook Merge"
This is a basic sketch of how we can merge the `search4e` and the `search` notebooks.

* Keep the "State-Space Search" section from 4e.

* We can add the Romania map image from 4e to the search notebook, in case there is an issue with the visualization through code (a widget out of date, incompatibility etc.)

* Merge "A Simple Search Algorithm: breadth_first" from 4e to the corresponding sections

[2017-07-01 22:57] MrDupin opened #572 "N-Gram Models of Text Not Working Properly"
The `samples` function in `NgramModel`, which should be returning random sentences according to the given model, does not work correctly. The first word it returns is always the first word of the input, regardless of the word's probability.

I believe that is because the starting conditional probability, for the empty-string tuple ('', '', ...), only contains the first word.

I am working on a fix

[2017-07-02 09:55] Chipe1 commented on #572
Shouldn't we reset the prefix at the start of every new sentence? That way all words which may start a sentence would be included in the conditional probability for `('',)*(n - 1)`. If you are ok with this solution I'll make the changes.

[2017-07-02 12:19] MrDupin commented on #572
I'm not sure I understand what you mean. `samples` returns just one sentence of a given length. That sentence currently only begins with the first word in the training data.

Do you mean reset the prefix when *adding* sequences to the probabilities table? I think that works.

[2017-07-02 12:41] MrDupin commented on #572
After some debugging, here's the issue:

Say we have n=3 and the first word of the text is "flatland". If we take a look at the conditional probabilities we have, here's what we get.

We have ('', '', 'flatland'), but we have no other ('', '', WORD_HERE) probability. So, when we are starting to build a sentence, "flatland" will always get picked first since it is the only word preceded by two empt

[2017-07-03 10:08] #563 closed

[2017-07-04 01:41] Chipe1 commented on #453
#575 should add most of the required content.

[2017-07-04 11:30] #572 closed

[2017-07-05 22:33] #453 closed

[2017-07-08 11:36] MrDupin opened #577 "Linking Pseudocode"
Can we link pseudocode from aima-pseudocode in the notebooks? I think it would be cool if the reader could also take a look at the pseudocode alongside the tutorials.

Just checking to make sure that's fine.

[2017-07-10 17:18] #577 closed

[2017-07-14 01:28] avdd opened #585 "installation requirements without anaconda"
I already have a local python infrastructure set up and am not enamoured of duplicating it with anaconda.

What are the requirements to run the notebooks?  So far I've figured out I need matplotlib, and something called ipywidgets, which I needed to enable in my jupyter environment.  Is there anything else?

[2017-07-14 05:32] Chipe1 commented on #585
There is one more requirement "networkx" specified in requirements.txt
Best run the notebook and see if there are any errors. We've not documented all the requirements yet.

[2017-07-14 08:20] reachtarunhere commented on #585
There are little to no external dependencies. Once in the project directory just do:

`pip install -r requirements.txt` to install both Jupyter and networkx.

You might need to use sudo depending on your setup.

[2017-07-16 05:07] mikhail-j commented on #467
@norvig The commit ([bbcf6f6](https://github.com/aimacode/aima-python/commit/bbcf6f655f50aa1f0e553886e1f7d89ecd1fca53)) that references this issue seems to be a possible mistake. Commit bbcf6f6 went into the aima3python2 branch, but removes existing Python 2 code in favor of Python 3 code.

For example, goal_test() method for the CSP class removed the use of anonymous functions between commits.

P

[2017-07-19 15:48] Chipe1 opened #588 "MisCommited"
Commit #469 on old python2 branch.
commit bbcf6f6

PR to revert #589

[2017-07-30 13:26] #566 closed

[2017-07-30 13:27] MrDupin commented on #588
This can be closed now.

[2017-07-31 16:06] #588 closed

[2017-08-02 05:00] #585 closed

[2017-08-02 18:15] MrDupin opened #600 "CYK Parse"
I am working on finishing the CYK Parsing algorithm from the `nlp` module. Tomorrow I will probably have a PR up.

[2017-08-02 21:10] #600 closed

[2017-08-03 15:39] MrDupin opened #604 "PRs to Close"
I think PRs #266 (Monte-Carlo Localization) and #347 (Genetic Algorithm) can be closed.

[2017-08-06 17:16] MrDupin opened #609 "Pseudocode Cells in Notebooks"
I found a way to print pseudocode by running a cell. I believe this looks better than linking to the pseudocode by the section's header.

In the example below I showcase how this works. First we import `Markdown` from `IPython.display` (done in the import cell) and then we execute a cell that prints out the pseudocode. For the Current-Best Learning algorithm I show how the pseudocode will be displ

[2017-08-10 00:36] #609 closed

[2017-08-10 01:12] norvig commented on #604
Closed!

[2017-08-10 01:12] #604 closed

[2017-08-10 01:13] norvig commented on #569
I'm working with Stuart Russell now on nailing down the 4e pseudocode. We should have that all straightened out within a week; then we can go ahead with this plan as you suggest.

[2017-08-10 01:19] MrDupin commented on #569
Sounds good!

[2017-08-10 23:01] norvig opened #613 "%psource"
We use %psource in notebooks to refer to code, and that is good. But the code is displayed in a popup window, and one drawback is that you can only display one function at a time this way. Another drawback is that the code doesn't scroll with the rst of the document (this can sometimes be an advantage, sometimes a drawback).

I propose to add to utils the following function, and prefer to use it o

[2017-08-11 12:00] MrDupin commented on #613
PR #614 takes care of this. I decided it was better to add the function to `notebook` instead of `utils`, to keep utils for implementation only stuff.

[2017-08-11 15:18] VishnuDuttSharma commented on #613
@MrDupin I want to add a beautified version of the commit you made. Can you help me out with the process?

[2017-08-11 19:29] MrDupin commented on #613
Sure, how can I help?

On the code, I would suggest you join on two newlines ( `'\n\n'.join ...` ) instead of none. It looks better to have the functions separated.

My only concern is whether or not `pygments` ships with Python or if the user will have to install it themselves. We try to keep the repository as free from external libraries as possible.

If you need anything else, feel free to ask.

[2017-08-11 22:30] MrDupin opened #615 "Jupyter Notebook Suggestions"
1. Collapse and Run Cells: Code cells that can be collapsed from the editor and then ran with the press of a button. This is useful when we have code that should be run but not shown.

2. Automatic Contents: A "Contents" cell that would automatically grab and link to headers in the notebook.

3. Change Input Cell Index: Not terribly important, but a way to change the index of an input cell from th

[2017-08-12 05:58] VishnuDuttSharma commented on #613
I think it should not be a problem, since this is required as a feature for notebooks and notebooks are generally installed using anaconda.
However, to be on safe side, should I put it in a try-except block, depending upon availability of `pygment`?

[2017-08-12 09:51] Chipe1 commented on #615
Sub-Cells: Instead of a list of cells we could arrange the cells in a tree structure. This would make it easy to read a large notebook by being able to view/run/collapse whole sections/groups of cells.
View external notebooks in cells: Combined with the sub-cells we can have a whole book where the notebook to each topic is linked as a subsection which can be expanded.

[2017-08-12 13:01] MrDupin commented on #613
I like this idea, yes. If pygments is installed, use that, otherwise use the default one.

I think this very useful since syntax highlighting is very important for a lot of people, so I suggest you make a PR after your changes and let Mr. Norvig decide. It looks good to me though.

[2017-08-17 00:29] MrDupin commented on #613
Since the PR got merged, I believe this can be closed.

[2017-08-17 05:34] norvig commented on #613
Thanks for the good work on this!

[2017-08-17 05:34] #613 closed

[2017-08-18 22:24] Chipe1 opened #627 "Test cases for random functions"
I thought using `random.seed()` would fix the problem by making the tests repeatable, but in #626 changing a linein README.md caused the output (on travis) to change.
Am I using the random.seed incorrectly or are there other factors at play?

[2017-08-18 23:14] MrDupin commented on #627
I have noticed that too. Quite a while ago I tested `random.seed` for the Neural Nets and locally the same result was always occurring, but on Travis it occasionally fails. I'm not sure why that happens. It is hard to look into since access to a Travis CI is hard to come by.

[2017-08-19 14:39] MrDupin commented on #627
I added more tests for the neural networks in #630. We would have to be very, very unlucky to fail this now. More than 6 of the 9 tests need to fail for the assertion to crumble, which I don't see happening.

For random forest, maybe we could do something like `assert test in ['setosa', 'virginica', 'versicolor']`. It's not great, but if the implementation breaks we will catch it.

We can alternat

[2017-08-20 08:05] Chipe1 commented on #627
Kind of defeats the purpose of testing.

[2017-08-20 12:54] MrDupin commented on #627
Well, part of testing is to see if something breaks, which we still cover.

[2017-08-24 12:41] MrDupin opened #632 "What I Did And Didn't Do in GSoC 2017"
**What I Did (in short):**

* Worked on the notebooks, mainly on Natural Language Processing, Learning and Knowledge. This work includes adding sections for new algorithms explaining how they work and giving examples, new visualizations and clean-up in old ones, fixing grammar/stylistic/formatting mistakes and adding more information on older sections.

* Implemented algorithms and utilities in th

[2017-08-25 17:15] norvig commented on #632
Good write-up, thanks.

[2017-08-27 17:40] norvig opened #636 "MNIST compatible data set"
It would be good to incorporate this data set, which has the same format as MNIST, and so should be easy to work with: https://github.com/zalandoresearch/fashion-mnist/blob/master/README.md

[2017-08-27 17:47] MrDupin commented on #636
I agree, it would fit perfectly into `learning_apps.ipynb`. I will take a look the next couple of days to see where we stand performance-wise and if it's possible to work with it.

[2017-08-28 01:43] MrDupin opened #638 "aima-data submodule is outdated"
The [aima-data submodule](http://imgur.com/NElSrLs) is a bit outdated. I am not sure if I'm doing something wrong, but when I run:

[code]

as per the [instructions](https://github.com/aimacode/aima-python/blob/master/CONTRIBUTING.md#running-the-test-suite), `pytest` fails because there is data missing.

I think the submodule should be updated, but I'm not very familiar with how submodules work. T

[2017-08-28 04:33] norvig commented on #638
I also don't understand how submodules work!

[2017-08-29 00:25] MrDupin commented on #638
Works great now. Closing.

[2017-08-29 00:25] #638 closed

[2017-08-30 05:48] norvig opened #640 "aima3python2 branch"
I think we should delete the aima3python2 branch. It is far behind, will probably never catch up. Any potential user would have an easier time installing a python3 than trying to use that branch.

[2017-08-30 11:03] MrDupin commented on #640
I agree.

[2017-08-30 16:38] norvig commented on #640
Done.

[2017-08-30 16:38] #640 closed

[2017-08-31 09:12] Chipe1 opened #641 "What I Didn't Do in GSoC 2017"
These are some of the future works I had planned, but couldn't complete during GSoC 2017.
* **Wumpus World:** HybridWumpusAgent needs to be implemented. After this we can display the environment, Wumpus, agent and percepts in the notebook for a better visualization.
* **Eliminate Dependencies:** The base code is mostly independent of external libraries but uses version specific python functions. S

[2017-09-01 06:38] norvig commented on #641
Good projects for someone to work on!

[2017-09-01 16:08] MrDupin opened #643 "Travis Failing"
Is there a way to restart the build? Travis failed on a [random test](https://travis-ci.org/aimacode/aima-python) with the latest PR, quite probably because of the random element.

Only users with write access can restart the build.

[2017-09-04 06:37] norvig commented on #643
I get
E       FileNotFoundError: [Errno 2] No such file or directory: '/home/travis/build/aimacode/aima-python/aima-data/EN-text/gutenberg.txt'

[2017-09-04 11:29] MrDupin commented on #643
Does this error appear in `text.ipynb`? If so, I think I fixed it in #644.

[2017-09-04 16:55] #643 closed

[2017-09-05 10:38] VishnuDuttSharma commented on #641
Can you please list down the algorithms for which notebook examples are required to be added?

[2017-09-05 22:04] Chipe1 commented on #641
@VishnuDuttSharma Few that come to mind are Monte-Carlo-Localization, Policy-Iteration and recently added FOIL, Random Forest.
@norvig Could we add a(nother) column to the table in README.md linking to the section in the notebook where the algorithm is discussed?

[2017-09-05 23:02] norvig commented on #641
That's a good idea to have another column in README for notebook.

[2017-09-07 18:14] MrDupin commented on #636
I have added the files in #646.

The functions `show_MNIST` and `show_ave_MNIST` need to also be updated so that the classes are appropriately named.

[2017-09-09 03:26] #636 closed

[2017-09-09 03:26] norvig commented on #636
Thanks!

[2017-09-09 21:17] panditu2015 opened #648 "Not showing any output"
When ever I'm running a *.py program or *.ipynb program, it is not showing any output. Simply it is running whole code and without showing any error or output, it is terminating.
In *.ipynb it is showing "A Jupyter Widget".

[2017-09-09 22:22] #648 closed

[2017-09-10 19:55] MrDupin commented on #627
I also want to note that in `csp` we also have a test randomly failing (`min_conflicts`).

@norvig: How do you think we should deal with this? Maybe we can run *n* tests and assert that at least 75% (or something) of them should pass. We already do that with some of the learners, so it might be worth expanding it for more functions.

[2017-10-05 17:26] lenixlobo commented on #641
I Would like to contribute to the Random Forest or the Monte-Carlo Localization algorithm.
@Chipe1 @norvig

[2017-10-07 10:48] Chipe1 commented on #641
@lenixlobo Great. I would suggest you start with random forest. It has the most scope for improvement.

[2017-10-22 14:00] #515 closed

[2017-10-26 14:47] MrDupin commented on #627
This can be closed now.

[2017-10-26 17:53] #627 closed

[2017-11-08 17:37] newbazz commented on #280
I am a newcomer in this organisation, can anyone help me out.

[2017-11-11 21:27] apb7 commented on #632
Hello @MrDupin and @norvig, to improve the visualizations for the `games.py`, can we use some Python GUI framework like `Tkinter`? We can implement the algorithms as given in `games.py` and then provide a demonstration of the respective game with the help of `Tkinter`.
I would surely love to work on this aspect!

[2017-11-12 06:09] nickaustinlee opened #657 "Key error bug in CustomMDP"
mdp.ipynb has a class called CustomMDP. The example crashes because it seems to improperly assign State and Action to A, B, or None.

The buggy code is somewhere here:

    def __init__(self, transition_matrix, rewards, terminals, init, gamma=.9):
        # All possible actions.
        actlist = []
        for state in transition_matrix.keys():
            actlist.extend(transition_matrix.keys())

[2017-11-12 06:36] nickaustinlee commented on #657
I fixed the bug.

First, modify CustomMDP to be as follows:

    def __init__(self, transition_matrix, rewards, terminals, init, gamma=.9):
        # All possible actions.
        actlist = []
        for state in transition_matrix.keys():
            actlist.extend(transition_matrix[state])
        actlist = list(set(actlist))
        print(actlist)

Next, swap the order of variables in the T fun

[2017-11-12 10:29] Bala1718 commented on #641
@Chipe1 I would like to work on Random forest.

[2017-11-12 10:45] lenixlobo commented on #641
@Bala1718 I too am currently working on a
Random Forest notebook.

[2017-11-12 11:22] Bala1718 commented on #641
@lenixlobo Can we work together?

[2017-11-12 11:48] MrDupin commented on #632
@apb7: Do you mean to use `Tkinter` *alongside* the notebooks, or *in* the notebooks?

Seems like a great idea, I would love to hear more.

[2017-11-12 13:19] apb7 commented on #632
@MrDupin: I originally thought a separate `Tkinter` implementation alongside the notebooks. Later we can merge it in the notebooks.
For instance, in Tic-Tac-Toe there would be options like `Vs Computer`, `Vs Player` for the user. A proper 3×3 grid with buttons would be displayed where the user will click upon his turn.

[2017-11-12 14:43] MrDupin commented on #632
Sounds interesting. I would like to see a demo of this, for some of the simpler visualizations.

Can you do it?

[2017-11-12 16:46] lenixlobo commented on #641
Fine by me @Bala1718

[2017-11-12 16:51] apb7 commented on #632
I had worked on a [Tic-Tac-Toe](https://github.com/apb7/Tic-Tac-Toe/) GUI a few weeks ago. It uses the minimax algorithm (might be a bit different from the code given in `games.py`) without alpha-beta pruning.
This is a simple version and can be later modified according to the algorithms of the book.

[2017-11-13 15:23] MrDupin commented on #632
Can you convert it to Python 3.4? This is the version we are using for the repository right now.

[2017-11-13 15:51] apb7 commented on #632
Yes. `Tkinter` support Python 3.4 as well. There won't be any problem @MrDupin.

[2017-11-14 09:03] apb7 commented on #632
@MrDupin, @norvig and @Chipe1 : I am currently working on it and will be done with a basic version of the GUI, which incorporates the class `TicTacToe` of `games.py`, by tonight.

[2017-11-14 11:06] apb7 commented on #632
Hey @MrDupin, I have pushed the code to the forked [repository](https://github.com/apb7/aima-python). You can find it under the `gui` folder. The GUI now makes use of the algorithms of `games.py` and is compatible with Python 3.4.

[2017-11-15 15:47] MrDupin commented on #632
Awesome, I will take a look during the weekend when I will have more time.

[2017-11-15 15:48] MrDupin commented on #657
I haven't done much work in that notebook, but this looks nice. I suggest you make a Pull Request.

Thanks!

[2017-11-18 15:24] Chipe1 commented on #632
@apb7 Looks good. The choice to change the AI at every step is nice. With the extra freedom that comes with using Tkinter instead of just notebook can we make the application more expressive? Like a tree which shows the thought process and decision tree of the AI.
@norvig What do you think about having Tkinter applications in the repo? I'm not sure if we can run it from within notebooks.

[2017-11-18 15:42] apb7 commented on #632
@Chipe1 : Yes we can have a side panel which shows the thought process as well as the decision tree of the AI along with the gameplay. This will definitely look good!

[2017-11-18 19:54] MrDupin opened #659 "Tkinter Applications"
@apb7 made a tic-tac-toe game using tkinter and it was really cool. I would love to see that idea expanded to more algorithms. The only additional requirement is `python3-tk`, and the new scripts can be added to a separate folder to keep the main directory as uncluttered as possible.

@norvig, what do you think? I personally feel this is a nice addition to the notebooks, especially since it gives

[2017-11-18 19:54] MrDupin commented on #632
Hey, that was really cool, I would love to see more tkinter on the project!

I opened an issue about this: #659.

[2017-11-18 19:58] apb7 commented on #632
@MrDupin: Sure! I'll work out on other games as well.

[2017-11-18 20:06] apb7 commented on #659
@MrDupin: I'll be implementing other algorithms as well. And as @Chipe1 suggested, an additional side panel to illustrate the working of the respective algorithm can also be added.
The directory structure: A separate `gui` folder to place all `Tkinter` files.

[2017-12-01 08:05] Bala1718 commented on #338
@lucasmoura I think it would be nice if we add to the learning Notebook. Can I work on it?

[2017-12-03 16:20] lucasmoura commented on #338
No problem

[2017-12-07 18:46] heisenbuug commented on #641
hey i want to contribute, can anyone tell me how to get started as it is my first time.

[2017-12-12 11:08] apb7 commented on #659
@MrDupin: Sorry for catching up so late! Shall I make a PR for the tic-tac-toe game? Also which other algorithms shall I expand this idea to now?

[2017-12-12 18:03] MrDupin commented on #659
No problem. Yes, a PR sounds fine. I suggest you make a PR for the tic-tac-toe, and if it gets accepted you can work on other stuff.

For example, the search algorithms can be implemented in a guy. The nodes can be some random boxes, and with a 'Next' button the next move of the algorithm is shown, maybe by using a color scheme.

Apart from that, you can look at what you can implement from the not

[2017-12-12 18:20] apb7 commented on #659
Okay! Thanks, @MrDupin. I'll get to work and keep you posted.

[2017-12-13 16:08] diegorodriguezv opened #662 "Small typo"
Hello everyone. Amazing repo!
I noticed a small typo in csp.ipynb:

Should be:

Should I submit a PR?
Thanks.

[2017-12-13 21:40] MrDupin commented on #662
Yes, good catch!

[2017-12-13 21:43] MrDupin commented on #632
Hi @Dragneel7. I am glad you want to join the project! A great place to start looking for ideas is the [contributing guide](https://github.com/aimacode/aima-python/blob/master/CONTRIBUTING.md). Take a look and see what kind of work we are doing here, and if you have any further questions feel free to ask.

[2017-12-14 13:43] diegorodriguezv commented on #662
The other typo int he same file is:

Which should be:

Both are fixed in the PR.

[2017-12-15 01:56] Dragneel7 opened #664 "Typo Error in files: 'agents.py' and 'agents.ipynb'"
I noticed some discrepancies which are as follows :-

agents.py: line 302 -> actual:     "(Shouldn't need to override this." in the comments
                                   expected: "(Shouldn't need to override this.)"
agents.ipyng: "lets" should be replaced with "let's" in most of the sentences and
                        according to the coding pattern followed in most of the code an inline

[2017-12-15 14:18] MrDupin commented on #664
Yes, good catches!

[2017-12-15 14:22] Dragneel7 commented on #664
@MrDupin I will continue with my work, I wish to contribute to the code, can you suggest how I should proceed?
Thanks.

[2017-12-15 15:21] diegorodriguezv commented on #664
Excelent @Dragneel7. First step is to read https://github.com/aimacode/aima-python/blob/master/CONTRIBUTING.md.
What I did for another typo was, as you already did, open an issue, and then create a PR with the corrected typos. It was a little difficult at first to get the commit right since my jupyter notebook viewer kept modifying the notebook with the values of the calculated cells. Please check

[2017-12-15 20:47] diegorodriguezv opened #666 "Most important docstrings are not very useful"
This repo is amazing!
Also the code is beautifully commented, almost every function has a useful docstring. Except for the most important parts, the algorithms that are highlighted in book "figures". These methods have the not-so-useful docstring: `"Figure X.Y`. Most other functions and methods arguments and return values are well documented but for the important ones you have to go open the heavy

[2017-12-16 02:32] Dragneel7 opened #667 "Tests not updated in README.md"
Some tests such as "Model based vacuum agent", "Random vacuum agent" have been added but are not updated in the README

Expected: Update README.md

[2017-12-16 02:35] Dragneel7 commented on #667
@MrDupin Chapter2 follows Vacuum cleaner as the agent in the environment so wouldn't it be better that we include examples of vacuum agent along with the blind dog agent (though both try to convey the same)?
Please update me with the work flow on the repo and what all stuff can be added to improve the code.
Thanks.

[2017-12-16 11:30] apb7 commented on #659
@MrDupin and @norvig : I have worked out a bit on the GUI for Searching and have pushed the changes in my version of the [repository](https://github.com/apb7/aima-python/) under `gui`. A map of Romania has been added as depicted in the book and notebook. Various search techniques will be added soon.
Please feel free to suggest any improvements!

[2017-12-16 15:59] MrDupin commented on #659
The map looks good. The frame of the window though is a bit too small. The "Currently Exploring" item on the legend is cut off.

[2017-12-16 16:03] MrDupin commented on #666
I am not 100% sure, but I think we should be trying to change the comment from the text in the book a little bit. I don't think there will be much of an issue, but I think copy-pasting is not the best idea.

I would love to see these docstring filled out, so short descriptions are definitely welcome.

[2017-12-16 16:09] MrDupin commented on #667
Good catch on the missing tests! The work flow is pretty simple: Just make a PR with your fixes :). If you want to take on something bigger, write an issue first letting others know and when you are ready publish your PR.

About the vacuum cleaner/blind dog, I assume you are talking about the notebook. If so, the more examples the merrier! If though the code is identical, the vacuum cleaner exampl

[2017-12-16 16:11] apb7 commented on #659
I'll make the necessary changes tonight. Also, I have plotted the actual coordinates as given in the `romania_map` due to which the windows frame seems to be small. Therefore I'll chose some other representative coordinates for this purpose. Thanks!

[2017-12-17 14:57] Dragneel7 commented on #667
Thanks for the help, I will update the README and another PR, should I add another PR without the previous one being merged?
Regarding adding more examples in the notebook, I'll raise a issue and ask the regarding the same there.

[2017-12-17 17:20] MrDupin commented on #667
You can publish as many PRs as you want, just make sure there are no conflicts (ie. PRs changing the same lines) or else not all of your PRs will be merged (since you will need to take care of the conflicts first).

[2017-12-17 21:32] Dragneel7 commented on #667
@MrDupin Is there any slack channel or gitter channel where we can ask doubts and discuss?

[2017-12-17 21:39] MrDupin commented on #667
There is a [gitter channel](https://gitter.im/aimacode/Lobby), but it is inactive. We can discuss stuff by opening issues.

[2017-12-18 05:24] apb7 commented on #659
@MrDupin and @norvig: The following updates have been made:
* Breadth-first Tree Search has been added.
* Options for `start` city and `goal` city provided.
* Window size has been adjusted to fit the `canvas` widget.
All changes have been pushed to the forked [repository](https://github.com/apb7/aima-python). Options for more search algorithms will be added soon.
Please feel free to suggest furthe

[2017-12-20 02:15] apb7 commented on #659
@norvig: Thank you for merging the PR!
@norvig and @MrDupin: I will now try to incorporate more search algorithms in the GUI and also fix a few minor problems. Thanks!

[2017-12-21 09:53] apb7 commented on #659
@norvig and @MrDupin: Breadth-First Search has been added. Also, the window geometry of TIc-Tac-Toe has been improved with a few other minor fixes.
Please feel free to suggest any improvements! Thanks!

[2017-12-22 00:00] Dragneel7 opened #671 "8-Puzzle Problem"
In search.ipynb their is no visualization or implementation of the "8-Puzzle Problem" which can be added.
I read a paper that solves the above problem using genetic algorithms. So implementing the above will help in adding more examples to the genetic algorithm sections of the file.
I would like to work on it.

[2017-12-22 06:35] apb7 opened #672 "Implementing Searching Algorithms Visualization"
@norvig and @MrDupin: In `search.ipynb`, visualizations of some of the searching techniques are not yet implemented. We can surely implement visualizations for them.
I would love to work on this aspect! Thanks!